Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(character-sheet): врождённые заклинания подготовлены сразу
  PROJECT_MAP.md
  app/features/character-sheet/body/CharacterSheetBody.vue
  app/features/character-sheet/body/ui/SheetInventoryTabs.vue
  app/features/character-sheet/body/ui/SheetSpellsTab.vue
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(character-sheet): шапка вкладки заклинаний не занимает лишнюю строку
  app/features/character-sheet/body/ui/SheetSpellsTab.vue
  app/features/character-sheet/model/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(character-sheet): выбор навыков у умения класса из справочника
  app/features/character-sheet/body/ui/SheetBackgroundWizardModal.vue
  app/features/character-sheet/body/ui/SheetClassWizardModal.vue
  app/features/character-sheet/body/ui/SheetLevelUpStep.vue
  app/features/character-sheet/body/ui/SheetSpeciesWizardModal.vue
  app/features/character-sheet/composables/useLevelUpWizard.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
  app/features/classes/editor/ui/FeaturesEditor.vue
  app/features/classes/editor/ui/features/FeatureSkillChoice.vue
  app/features/classes/editor/ui/features/index.ts
  app/features/classes/model/create.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(bug-reports): сводка по статусам в админке
  app/features/bug-report/admin/ui/AdminBugReportDetail.vue
  app/features/bug-report/admin/ui/AdminBugReportRow.vue
  app/features/bug-report/model/constants.ts
  app/features/bug-report/model/index.ts
  app/features/bug-report/model/types.ts
  app/pages/moderation/bug-reports.vue
  server/api/admin/bugs/count-by-status.get.ts
  shared/consts/bug-report.ts
  shared/consts/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(мастерская): форма не теряет правки, а поля — сохранённые значения
  app/features/bestiary/editor/ui/CreatureHit.vue
  app/features/bestiary/editor/ui/CreatureInitiative.vue
  app/features/bestiary/editor/ui/CreatureSenses.vue
  app/features/bestiary/editor/ui/CreatureSize.vue
  app/features/workshop/composable/index.ts
  app/features/workshop/composable/useWorkshopForm.ts
  app/features/workshop/composable/watchDerivedField.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

@ fix(классы): требования мультиклассирования вместо пустой строки
  app/features/classes/body/ClassBody.vue
  app/features/classes/body/ui/MulticlassStatsBlock.vue
  app/features/classes/body/ui/StatsBlock.vue
  app/features/classes/model/constants.ts
  app/features/classes/model/detail.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(feats): редактор механики черты и разобранного предусловия (#388)
  app/features/calculator/abilities/composables/useFeatSelect.ts
  app/features/calculator/abilities/model/types.ts
  app/features/feats/editor/FeatsEditor.vue
  app/features/feats/editor/ui/FeatAbilityBonuses.vue
  app/features/feats/editor/ui/FeatAbilityRequirements.vue
  app/features/feats/editor/ui/FeatChoices.vue
  app/features/feats/editor/ui/FeatModifiers.vue
  app/features/feats/editor/ui/FeatPrerequisiteFields.vue
  app/features/feats/editor/ui/index.ts
  app/features/feats/model/constants.ts
  app/features/feats/model/create.ts
  app/features/feats/model/index.ts
  app/features/feats/model/mechanics.ts
  app/features/feats/model/schema.ts
  app/features/feats/model/transform.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(character-sheet): постоянные модификаторы черт на листе персонажа
  app/features/character-sheet/body/ui/SheetArmorClassModal.vue
  app/features/character-sheet/body/ui/SheetBackgroundWizardModal.vue
  app/features/character-sheet/body/ui/SheetCustomBackgroundModal.vue
  app/features/character-sheet/body/ui/SheetCustomBonusRows.vue
  app/features/character-sheet/body/ui/SheetCustomBonusSection.vue
  app/features/character-sheet/body/ui/SheetFeatAddModal.vue
  app/features/character-sheet/body/ui/SheetSettingsModal.vue
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(character-sheet): постоянные модификаторы черт на листе персонажа (#391)
  app/features/character-sheet/body/ui/SheetArmorClassModal.vue
  app/features/character-sheet/body/ui/SheetBackgroundWizardModal.vue
  app/features/character-sheet/body/ui/SheetCustomBackgroundModal.vue
  app/features/character-sheet/body/ui/SheetCustomBonusRows.vue
  app/features/character-sheet/body/ui/SheetCustomBonusSection.vue
  app/features/character-sheet/body/ui/SheetFeatAddModal.vue
  app/features/character-sheet/body/ui/SheetSettingsModal.vue
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(character-sheet): учёт источника владений и владения от черт
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/mock.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
  app/features/feats/editor/FeatsEditor.vue
  app/features/feats/editor/ui/FeatPrerequisiteFields.vue
  app/features/feats/editor/ui/FeatProficiencies.vue
  app/features/feats/editor/ui/index.ts
  app/features/feats/model/mechanics.ts
  app/features/feats/model/schema.ts
  app/features/feats/model/transform.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(character-sheet): учёт источника владений и владения от черт (#392)
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/mock.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
  app/features/feats/editor/FeatsEditor.vue
  app/features/feats/editor/ui/FeatPrerequisiteFields.vue
  app/features/feats/editor/ui/FeatProficiencies.vue
  app/features/feats/editor/ui/index.ts
  app/features/feats/model/mechanics.ts
  app/features/feats/model/schema.ts
  app/features/feats/model/transform.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(character-sheet): черта доводит владения и бонусы до листа
  app/features/character-sheet/body/ui/SheetCustomBonusRows.vue
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/utils.ts
  app/features/feats/editor/ui/FeatProficiencies.vue
  app/features/feats/model/mechanics.ts
  app/shared/ui/select/SelectItem.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(character-sheet): черта доводит владения и бонусы до листа (#393)
  app/features/character-sheet/body/ui/SheetCustomBonusRows.vue
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/utils.ts
  app/features/feats/editor/ui/FeatProficiencies.vue
  app/features/feats/model/mechanics.ts
  app/shared/ui/select/SelectItem.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(character-sheet): черта наделяет навыками
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
  app/features/feats/editor/ui/FeatProficiencies.vue
  app/features/feats/model/mechanics.ts
  app/features/feats/model/schema.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(feats): в редакторе выбор может давать компетентность
  app/features/feats/editor/ui/FeatChoices.vue
  app/features/feats/model/constants.ts
  app/features/feats/model/mechanics.ts
  app/features/feats/model/schema.ts
  app/features/feats/model/transform.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(markdown): геттер Markdown одним композаблом
  app/composables/useEntityMarkdown.ts
  app/features/backgrounds/drawer/BackgroundDrawer.vue
  app/features/bestiary/drawer/CreatureDrawer.vue
  app/features/bestiary/model/markdown.ts
  app/features/feats/drawer/FeatDrawer.vue
  app/features/glossary/drawer/GlossaryDrawer.vue
  app/features/items/drawer/ItemDrawer.vue
  app/features/magic-items/drawer/MagicItemDrawer.vue
  app/features/sources/drawer/SourceDrawer.vue
  app/features/species/drawer/SpeciesDrawer.vue
  app/features/spells/drawer/SpellDrawer.vue
  app/pages/backgrounds/[url].vue
  app/pages/bestiary/[url].vue
  app/pages/feats/[url].vue
  app/pages/glossary/[url].vue
  app/pages/items/[url].vue
  app/pages/magic-items/[url].vue
  app/pages/sources/[url].vue
  app/pages/species/[url].vue
  app/pages/spells/[url].vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(character-sheet): сверка применяет разницу выдач, а не всё выданное
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

docs(map): копирование в Markdown на карте проекта
  PROJECT_MAP.md
Due: none

fix(copy-button): отказ копирования не теряется, подписи в константах
  app/features/bestiary/model/markdown.ts
  app/shared/ui/copy-button/CopyButton.vue
  app/shared/ui/copy-button/CopyMarkdownButton.vue
  app/shared/ui/copy-button/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(markdown): кнопка копирования в широком режиме
  app/pages/backgrounds/index.vue
  app/pages/bestiary/index.vue
  app/pages/feats/index.vue
  app/pages/glossary/index.vue
  app/pages/items/index.vue
  app/pages/magic-items/index.vue
  app/pages/sources/index.vue
  app/pages/species/index.vue
  app/pages/spells/index.vue
  app/shared/ui/detail-pane/UiDetailPane.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(markdown): копирование классов, мультикласса и статей
  app/features/articles/drawer/ArticleDrawer.vue
  app/features/articles/listing/ArticleListing.vue
  app/features/articles/model/index.ts
  app/features/articles/model/markdown.ts
  app/features/articles/preview/ArticlePreview.vue
  app/features/backgrounds/preview/BackgroundPreview.vue
  app/features/bestiary/preview/CreaturePreview.vue
  app/features/classes/body/ui/table/useDndMechanics.ts
  app/features/classes/drawer/ClassDrawer.vue
  app/features/classes/model/index.ts
  app/features/classes/model/markdown.ts
  app/features/classes/model/mechanics.ts
  app/features/classes/preview/ClassPreview.vue
  app/features/feats/preview/FeatPreview.vue
  app/features/glossary/preview/GlossaryPreview.vue
  app/features/items/preview/ItemPreview.vue
  app/features/magic-items/preview/MagicItemPreview.vue
  app/features/sources/preview/SourcePreview.vue
  app/features/species/preview/SpeciesPreview.vue
  app/features/spells/preview/SpellPreview.vue
  app/pages/articles/[url].vue
  app/pages/classes/[url].vue
  app/pages/classes/index.vue
  app/pages/multiclass.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(markdown): сборка таблиц одним хелпером
  app/features/bestiary/model/markdown.ts
  app/features/classes/body/ui/table/useDndMechanics.ts
  app/features/classes/model/markdown.ts
  app/shared/ui/markup/index.ts
  app/shared/ui/markup/markdown-table.ts
  app/shared/ui/markup/to-markdown.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(search): общий хелпер поиска с фолбэком по раскладке (#385)
  app/features/character-sheet/body/ui/SheetFeatAddModal.vue
  app/features/character-sheet/body/ui/SheetItemAddModal.vue
  app/features/character-sheet/body/ui/SheetMagicItemAddModal.vue
  app/features/character-sheet/composables/useSpellCatalogSearch.ts
  app/features/infrastructure/filter/utils/filterSearch.ts
  app/utils/withLayoutFallback.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(character-sheet): черта наделяет навыками (#394)
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
  app/features/feats/editor/ui/FeatProficiencies.vue
  app/features/feats/model/mechanics.ts
  app/features/feats/model/schema.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

docs(character-sheet): комментарии о журнале выдач под навыки
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(feats): в редакторе выбор может давать компетентность (#395)
  app/features/feats/editor/ui/FeatChoices.vue
  app/features/feats/model/constants.ts
  app/features/feats/model/mechanics.ts
  app/features/feats/model/schema.ts
  app/features/feats/model/transform.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(feats): владение и компетентность в выборах черты
  app/features/feats/editor/ui/FeatChoices.vue
  app/features/feats/model/constants.ts
  app/features/feats/model/schema.ts
  app/features/feats/model/transform.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(species): превью картинки «Для ссылки» показывает свою картинку
  app/features/species/editor/SpeciesEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(security): вход с паролем, содержащим угловые скобки
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(articles): переключатель вида поста в Telegram в редакторе
  app/features/articles/editor/ArticleEditor.vue
  app/features/articles/model/constants.ts
  app/features/articles/model/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(articles): переключатель вида поста в Telegram в редакторе (#396)
  app/features/articles/editor/ArticleEditor.vue
  app/features/articles/model/constants.ts
  app/features/articles/model/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(ui): вставка из библиотеки общим полем InputWithLibrary
  app/features/active-effects/editor/ui/EffectChanges.vue
  app/features/active-effects/editor/ui/EffectFlags.vue
  app/features/active-effects/editor/ui/index.ts
  app/features/feats/editor/FeatsEditor.vue
  app/features/feats/editor/ui/FeatAbilityBonuses.vue
  app/features/feats/editor/ui/FeatChoices.vue
  app/features/feats/model/constants.ts
  app/features/feats/model/mechanics.ts
  app/shared/ui/input/InputWithLibrary.vue
  app/shared/ui/input/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(character-sheet): правило Ловкости доспеха отдельным типом
  app/features/character-sheet/model/schemas.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix(character-sheet): справка по снаряжению предыстории не отображалась
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix(character-sheet): бонус мастерства в атаке только при владении оружием
  app/features/character-sheet/body/CharacterSheetBody.vue
  app/features/character-sheet/body/ui/SheetInventoryItemRow.vue
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/pdf/page-main.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(character-sheet): свойство «Тяжёлое» у своего оружия
  app/features/character-sheet/body/CharacterSheetBody.vue
  app/features/character-sheet/body/ui/SheetCustomItemModal.vue
  app/features/character-sheet/body/ui/SheetInventoryItemRow.vue
  app/features/character-sheet/body/ui/SheetRollModal.vue
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(feats): форма черты сгруппирована по смыслу, заклинания на выбор
  app/features/feats/editor/FeatsEditor.vue
  app/features/feats/editor/ui/FeatAbilityBonuses.vue
  app/features/feats/editor/ui/FeatChoices.vue
  app/features/feats/editor/ui/FeatMechanicsSection.vue
  app/features/feats/editor/ui/FeatSpells.vue
  app/features/feats/editor/ui/index.ts
  app/features/feats/model/constants.ts
  app/features/feats/model/mechanics.ts
  app/features/feats/model/schema.ts
  app/features/feats/model/transform.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(character-sheet): заклинания, выдаваемые чертой, попадают в лист
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(character-sheet): свои бонусы к значениям характеристик
  PROJECT_MAP.md
  app/features/character-sheet/body/ui/SheetAbilityModal.vue
  app/features/character-sheet/body/ui/SheetAbilityTile.vue
  app/features/character-sheet/body/ui/SheetPanel.vue
  app/features/character-sheet/body/ui/SheetSettingsModal.vue
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/mock.ts
  app/features/character-sheet/model/pdf/page-main.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Path conditions:
  eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix: any of: *.{cjs,js,ts,jsx,tsx,vue}
  stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix: any of: *.{css,scss,vue}
