Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(filter): без кнопки «Фильтр» на широком экране
  app/features/infrastructure/filter/controls/FilterControls.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(filter): шире панель раздела, сброс в шапке фильтров
  app/features/infrastructure/filter/composable/useFilter.ts
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/filter/index.ts
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
  app/features/infrastructure/filter/model/const.ts
  app/features/infrastructure/filter/model/index.ts
  app/features/infrastructure/filter/preview/FilterPreview.vue
  app/features/infrastructure/filter/preview/index.ts
  app/pages/backgrounds/index.vue
  app/pages/bestiary/index.vue
  app/pages/classes/index.vue
  app/pages/feats/index.vue
  app/pages/glossary/index.vue
  app/pages/items/index.vue
  app/pages/magic-items/index.vue
  app/pages/sources/index.vue
  app/pages/species/index.vue
  app/pages/spells/index.vue
  app/shared/ui/section/SectionSidebar.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(filter): компактный тулбар и карточки раскрытых групп
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
  app/features/infrastructure/filter/list/ui/options/FilterGroupOptions.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

style(filter): группы в панели разделены линиями вместо карточек
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

style(filter): линия от названия группы к стрелке
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

style(filter): переключатели группы в панели размера md
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
  app/features/infrastructure/filter/list/ui/options/FilterGroupOptions.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(filter): выбор переживает уход из раздела, поиск по фильтрам в панели
  app/features/infrastructure/filter/composable/useFilter.ts
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/filter/inline/FilterInline.vue
  app/features/infrastructure/filter/inline/index.ts
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(filter): общий поиск по группам, JSDoc и карта проекта
  PROJECT_MAP.md
  app/features/infrastructure/filter/composable/index.ts
  app/features/infrastructure/filter/composable/useFilter.ts
  app/features/infrastructure/filter/composable/useFilterSearch.ts
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/filter/drawer/FilterDrawer.vue
  app/features/infrastructure/filter/inline/FilterInline.vue
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
  app/features/infrastructure/filter/list/ui/options/FilterGroupOptions.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(menu): раздел «Полезное», новый «Другое», подписка открыта всем
  PROJECT_MAP.md
  app/features/infrastructure/sidebar/menu/model/const.ts
  app/features/vttg/model/subscription.ts
  app/pages/vttg/subscription.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(menu): дорожная карта в конце раздела «Полезное»
  app/features/infrastructure/sidebar/menu/model/const.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(legal): публичная оферта и пользовательское соглашение
  PROJECT_MAP.md
  app/features/infrastructure/footer/model/const.ts
  app/features/infrastructure/public-offer/model/constants.ts
  app/features/infrastructure/public-offer/model/index.ts
  app/features/infrastructure/public-offer/model/requisites.ts
  app/features/infrastructure/sidebar/menu/model/const.ts
  app/features/infrastructure/user-agreement/model/constants.ts
  app/features/infrastructure/user-agreement/model/index.ts
  app/pages/offer.vue
  app/pages/terms.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(legal): убраны условия, недопустимые по статье 16 закона о защите прав потребителей
  app/features/infrastructure/public-offer/model/constants.ts
  app/features/infrastructure/user-agreement/model/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(legal): реквизиты исполнителя в оферте и соглашении
  PROJECT_MAP.md
  app/features/infrastructure/public-offer/model/requisites.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

style(docs): выровнять таблицу в PROJECT_MAP.md
  PROJECT_MAP.md
Due: none

fix(legal): оплата подписки не возвращается после открытия доступа
  PROJECT_MAP.md
  app/features/infrastructure/public-offer/model/constants.ts
  app/features/infrastructure/user-agreement/model/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

docs(filters): выбор диапазона слайдером в карте проекта
  PROJECT_MAP.md
Due: none

Выбор диапазона слайдером в фильтрах каталогов (#434)
  PROJECT_MAP.md
  app/features/infrastructure/filter/composable/useCatalogPicker.ts
  app/features/infrastructure/filter/composable/useFilter.ts
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
  app/features/infrastructure/filter/list/ui/group/FilterGroupValues.vue
  app/features/infrastructure/filter/list/ui/group/constants.ts
  app/features/infrastructure/filter/schema.ts
  app/features/infrastructure/filter/types.ts
  app/features/infrastructure/filter/utils/index.ts
  app/features/infrastructure/filter/utils/range.ts
  app/features/magic-items/model/constants.ts
  app/pages/magic-items/index.vue
  app/shared/ui/select/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

style(filter): «Диапазон» галочкой в ряду опций группы, без «Выбрать все» под ползунком
  PROJECT_MAP.md
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
  app/features/infrastructure/filter/list/ui/group/FilterGroupValues.vue
  app/features/infrastructure/filter/list/ui/group/constants.ts
  app/features/infrastructure/filter/list/ui/options/FilterGroupOptions.vue
  app/features/infrastructure/filter/model/const.ts
  app/features/infrastructure/filter/model/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(legal): в оферте нет автоматического продления подписки
  app/features/infrastructure/public-offer/model/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(vttg): подписка даёт автоматизацию контента, компендиум бесплатен для всех
  app/features/vttg/model/constants.ts
  app/features/vttg/model/subscription.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix(vttg): на странице подписки сказано, что автосписаний нет
  app/features/vttg/model/subscription.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(menu): компактное меню с иконками и подсветкой текущего раздела
  app/features/infrastructure/sidebar/menu/AppMenu.vue
  app/features/infrastructure/sidebar/menu/model/const.ts
  app/features/infrastructure/sidebar/menu/model/types.ts
  app/features/infrastructure/sidebar/menu/ui/MenuSection.vue
  app/features/infrastructure/sidebar/popover/SidebarPopover.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(vttg): в выдаче поисковиков у страницы стола логотип вместо фона
  app/features/vttg/model/constants.ts
  app/features/vttg/ui/VttgHeroSection.vue
  app/pages/vttg/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

style(menu): на широком меню разделы стоят сеткой в два ряда
  app/features/infrastructure/sidebar/menu/AppMenu.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(legal): согласие на обработку персональных данных в оферте
  app/features/infrastructure/public-offer/model/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix(classes): левая колонка на странице класса фиксированной ширины 272px
  app/features/classes/body/ClassBody.vue
  app/features/classes/body/MulticlassBody.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(vttg-modules): заявки на модули VTTG и их модерация
  PROJECT_MAP.md
  app/features/user/helmet/UserHelmet.vue
  app/features/vttg-modules/composables/index.ts
  app/features/vttg-modules/composables/useVttgGameSystems.ts
  app/features/vttg-modules/composables/useVttgModulesToast.ts
  app/features/vttg-modules/model/api.ts
  app/features/vttg-modules/model/constants.ts
  app/features/vttg-modules/model/index.ts
  app/features/vttg-modules/model/schemas.ts
  app/features/vttg-modules/model/types.ts
  app/features/vttg-modules/model/utils.ts
  app/features/vttg-modules/moderation/index.ts
  app/features/vttg-modules/moderation/ui/VttgModuleModerationCard.vue
  app/features/vttg-modules/moderation/ui/VttgModuleRejectModal.vue
  app/features/vttg-modules/moderation/ui/index.ts
  app/features/vttg-modules/submissions/index.ts
  app/features/vttg-modules/submissions/ui/VttgModuleSubmissionCard.vue
  app/features/vttg-modules/submissions/ui/VttgModuleSubmissionFormModal.vue
  app/features/vttg-modules/submissions/ui/index.ts
  app/features/vttg-modules/ui/VttgModuleStatusBadge.vue
  app/features/vttg-modules/ui/VttgModuleSummary.vue
  app/features/vttg-modules/ui/index.ts
  app/pages/moderation/index.vue
  app/pages/moderation/vttg-modules.vue
  app/pages/vttg/modules.vue
  server/api/vttg-modules/[...].ts
  server/utils/findGameProxy.ts
  server/utils/secrets.ts
  server/utils/serviceProxy.ts
  server/utils/vttgModulesProxy.ts
  shared/consts/index.ts
  shared/consts/vttg-modules.ts
  test/vttg-modules/proxy.test.ts
  test/vttg-modules/utils.test.ts
  vitest.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(auth): при регистрации две галочки — оферта и согласие на обработку персональных данных
  app/features/user/auth-modal/ui/SignUp.vue
  server/api/auth/sign-up.post.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(vttg-modules): ссылки одобренного модуля не меняются, только GitHub и GitLab
  PROJECT_MAP.md
  app/features/vttg-modules/model/constants.ts
  app/features/vttg-modules/model/schemas.ts
  app/features/vttg-modules/model/types.ts
  app/features/vttg-modules/model/utils.ts
  app/features/vttg-modules/submissions/ui/VttgModuleSubmissionCard.vue
  app/features/vttg-modules/submissions/ui/VttgModuleSubmissionFormModal.vue
  test/vttg-modules/utils.test.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

style(auth): окно входа и регистрации — картинка на всю высоту, поля с иконками
  app/features/user/auth-modal/AuthModal.vue
  app/features/user/auth-modal/ui/ChangePassword.vue
  app/features/user/auth-modal/ui/SignIn.vue
  app/features/user/auth-modal/ui/SignUp.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(classes): якорь раздела в адресе при клике по навигации страницы класса
  app/composables/useSectionDetail.ts
  app/features/classes/body/ui/ClassPageNavigation.vue
  app/features/infrastructure/filter/composable/useFilter.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(classes): блок характеристик не вылезает за левую колонку 272px
  app/features/classes/body/ui/MulticlassLevelInfo.vue
  app/features/classes/body/ui/MulticlassStatsBlock.vue
  app/features/classes/body/ui/StatsBlock.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(vttg-modules): в заявке одна ссылка — на module.json
  app/features/vttg-modules/model/constants.ts
  app/features/vttg-modules/model/schemas.ts
  app/features/vttg-modules/model/types.ts
  app/features/vttg-modules/model/utils.ts
  app/features/vttg-modules/submissions/ui/VttgModuleSubmissionFormModal.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(vttg-modules): очередь модерации — один список с фильтром по статусам
  app/features/vttg-modules/model/api.ts
  app/features/vttg-modules/model/constants.ts
  app/features/vttg-modules/moderation/ui/VttgModuleModerationCard.vue
  app/features/vttg-modules/submissions/ui/VttgModuleSubmissionCard.vue
  app/pages/moderation/vttg-modules.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(vttg-modules): правила статусов модерации — в модели
  app/features/vttg-modules/model/constants.ts
  app/features/vttg-modules/model/utils.ts
  app/features/vttg-modules/moderation/ui/VttgModuleModerationCard.vue
  app/features/vttg-modules/moderation/ui/VttgModuleRejectModal.vue
  test/vttg-modules/utils.test.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

docs(project-map): выровнены таблицы под prettier
  PROJECT_MAP.md
Due: none

feat(vttg): страница согласия для входа в мир через аккаунт TTG Club
  app/features/vttg/model/authorize.ts
  app/features/vttg/model/index.ts
  app/features/vttg/ui/VttgAuthorizeCard.vue
  app/features/vttg/ui/index.ts
  app/pages/vttg/authorize.vue
  server/api/vttg/authorize.post.ts
  server/domain/vttg/model/schemas.ts
  test/vttg/authorize.test.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(vttg-modules): ключи запросов и число заглушек — в константы, условия шаблонов — в computed
  app/features/vttg-modules/composables/useVttgGameSystems.ts
  app/features/vttg-modules/model/constants.ts
  app/features/vttg-modules/moderation/ui/VttgModuleRejectModal.vue
  app/pages/moderation/vttg-modules.vue
  app/pages/vttg/modules.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(user): точка новостей на шлеме зажигается сразу после входа
  app/features/user/helmet/UserHelmet.vue
  app/features/user/helmet/ui/UserInfo.vue
  app/features/user/helmet/ui/UserMenu.vue
  app/features/user/helmet/ui/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(vttg-modules): инструкция по подготовке модуля — три шага с примером module.json
  PROJECT_MAP.md
  app/features/vttg-modules/model/constants.ts
  app/features/vttg-modules/model/guide.ts
  app/features/vttg-modules/model/index.ts
  app/pages/vttg/modules.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Path conditions:
  eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix: any of: *.{cjs,js,ts,jsx,tsx,vue}
  stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix: any of: *.{css,scss,vue}
