Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: маркер @item, логирование ошибок маркапа
  app/shared/ui/markup/parser/parser.ts
  app/shared/ui/markup/renderer/renderLink.ts
  app/shared/ui/markup/renderer/renderSectionLink.ts
  app/shared/ui/markup/renderer/renderer.ts
  app/shared/ui/markup/utils/marker.ts
  app/shared/ui/markup/utils/node.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: подсказки в редакторе фичей
  app/features/classes/editor/ui/features/ClassEditorFeatures.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: временно скрываем seo картинки
  app/pages/bestiary/[url].vue
  app/pages/classes/[url].vue
  app/pages/items/[url].vue
  app/pages/magic-items/[url].vue
  app/pages/species/[url].vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: добавление таблицы в markup
  app/shared/ui/markup/renderer/renderTableNodes.ts
  app/shared/ui/markup/types.ts
  app/shared/ui/markup/ui/UTableCompat.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

chore: update pnpm to latest
  package.json
Due: none

hotfix: навигация, картинка и кнопки в дравере класса
  app/features/classes/body/ClassBody.vue
  app/features/classes/drawer/ClassDrawer.vue
  app/features/classes/preview/ClassPreview.vue
  app/shared/ui/copy-button/CopyButton.vue
  app/shared/ui/drawer/ui/actions/DrawerActions.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Поиск предметов
  app/features/search/palette/model/const.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: Поиск предметов (#147)
  app/features/search/palette/model/const.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

bugfix: Исправление фильтра в предметах
  app/pages/items/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

ci: ускорение деплоя
  .github/workflows/deploy.yml
  Dockerfile
Due: none

perf: ускорение сборки
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

bugfix: Исправление фильтра в предметах
  app/features/items/link/ItemLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

hotfix: Исправление ограничения на количество выбираемых характеристик в чертах.
  app/features/feats/editor/FeatsEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

hotfix: Исправление ограничения на количество выбираемых характеристик в чертах. (#149)
  app/features/feats/editor/FeatsEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

hotfix: Исправление ограничения на количество выбираемых характеристик в чертах.
  app/pages/items/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

bugfix: Исправление фильтра в предметах
  app/features/items/editor/ItemEditor.vue
  app/pages/items/index.vue
  app/pages/workshop/items/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

bugfix: Отображение источника в предметах
  app/features/items/link/ItemLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: отключение автофокуса в выборе подклассов
  app/features/classes/body/ui/ClassRouting.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: у классов это подклассы
  app/features/classes/subclasses-drawer/ClassSubclassesDrawer.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновленный вид список подкклассов
  app/features/classes/link/SubClassLink.vue
  app/features/classes/link/index.ts
  app/features/classes/subclasses-drawer/ClassSubclassesDrawer.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновленный вид классов в мобильном режиме
  app/features/classes/link/ClassLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновленный вид классов в мобильном режиме - правки
  app/features/classes/link/ClassLink.vue
  app/features/classes/link/ui/LinkPreview.vue
  app/features/classes/link/ui/LinkSubclasses.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление цвета ссылок в темах
  app/app.config.ts
  app/assets/css/colors/dark.scss
  app/assets/css/colors/light.scss
  app/assets/css/colors/svifty7.scss
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: удаление "легенды" из всех рахделов кроме маг. предметов и заклинаний
  app/features/backgrounds/legend/BackgroundLegend.vue
  app/features/backgrounds/legend/index.ts
  app/features/bestiary/legend/CreatureLegend.vue
  app/features/bestiary/legend/index.ts
  app/features/classes/legend/ClassLegend.vue
  app/features/classes/legend/index.ts
  app/features/feats/legend/FeatLegend.vue
  app/features/feats/legend/index.ts
  app/features/glossary/legend/GlossaryLegend.vue
  app/features/glossary/legend/index.ts
  app/features/items/legend/ItemLegend.vue
  app/features/items/legend/index.ts
  app/features/magic-items/legend/MagicItemLegend.vue
  app/features/species/legend/SpeciesLegend.vue
  app/features/species/legend/index.ts
  app/pages/backgrounds/index.vue
  app/pages/bestiary/index.vue
  app/pages/classes/index.vue
  app/pages/feats/index.vue
  app/pages/glossary/index.vue
  app/pages/items/index.vue
  app/pages/species/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновленный вид проихождений в мобильной версии и правки для отброжения классов
  app/features/classes/link/ClassLink.vue
  app/features/classes/link/ui/LinkPreview.vue
  app/features/classes/link/ui/LinkSubclasses.vue
  app/features/species/link/SpeciesLink.vue
  app/features/species/link/ui/LinkLineages.vue
  app/features/species/link/ui/LinkPreview.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: изменение отступов у заголовков разделов и детальников
  app/layouts/detail.vue
  app/layouts/section.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: класс для цвета ссылки, исправление цвета ссылок в теме svifty7
  app/app.config.ts
  app/assets/css/colors/svifty7.scss
  app/assets/css/tailwind.css
  app/features/classes/body/ui/table/ClassTable.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: отображение темы svifty7 всегда
  app/features/sidebar/theme-switcher/ThemeSwitcher.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление списка видов
  app/features/species/link/SpeciesLink.vue
  app/features/species/link/ui/LinkLineages.vue
  app/features/species/link/ui/LinkPreview.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление списков и карточек
  app/assets/css/variables/breakpoints.scss
  app/composables/useBreakpoints.ts
  app/features/classes/link/ClassLink.vue
  app/features/classes/link/ui/LinkPreview.vue
  app/features/classes/link/ui/LinkSubclasses.vue
  app/features/species/link/SpeciesLink.vue
  app/features/species/link/ui/LinkLineages.vue
  app/features/species/link/ui/LinkPreview.vue
  app/pages/classes/index.vue
  app/pages/species/index.vue
  app/shared/ui/page/PageGrid.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление карточек
  app/assets/css/tailwind.css
  app/features/classes/link/ClassLink.vue
  app/features/classes/link/ui/LinkPreview.vue
  app/features/classes/link/ui/LinkSubclasses.vue
  app/features/species/link/SpeciesLink.vue
  app/features/species/link/ui/LinkLineages.vue
  app/features/species/link/ui/LinkPreview.vue
  app/shared/ui/link/CardLink.vue
  app/shared/ui/link/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление дравера подклассов и происхождений
  app/features/classes/link/SubClassLink.vue
  app/features/classes/link/index.ts
  app/features/classes/subclasses-drawer/ClassSubclassesDrawer.vue
  app/features/species/lineages-drawer/SpeciesLineagesDrawer.vue
  app/shared/ui/drawer/UiDrawer.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore: обновление зависимостей
  package.json
  pnpm-lock.yaml
Due: none

feat: обновление карточек классов
  app/features/classes/subclasses-drawer/ClassSubclassesDrawer.vue
  app/shared/ui/link/CardLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: скрыть левыйблок детальника в списке проихождений в детальнике
  app/features/species/body/SpeciesBody.vue
  app/features/species/lineages/SpeciesLineages.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление карточек классов 2
  app/features/classes/subclasses-drawer/ClassSubclassesDrawer.vue
  app/shared/ui/link/CardLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Path conditions:
  eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix: any of: *.{cjs,js,ts,jsx,tsx,vue}
  stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix: any of: *.{css,scss,vue}
