Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: передача данных в Яндекс.Метрику и Google Analytics (#292)
  app/features/bestiary/body/CreatureBody.vue
  app/features/bestiary/editor/CreatureEditor.vue
  app/features/bestiary/editor/constants.ts
  app/features/bestiary/model/create.ts
  app/features/bestiary/model/detail.ts
  app/features/classes/body/ClassBody.vue
  app/features/items/editor/ItemEditor.vue
  app/features/items/editor/ui/ArmorForm.vue
  app/features/items/editor/ui/ItemCategory.vue
  app/features/items/editor/ui/RollInput.vue
  app/features/items/editor/ui/WeaponForm.vue
  app/features/items/editor/ui/index.ts
  app/features/items/model/constants.ts
  app/features/items/model/create.ts
  app/features/items/model/index.ts
  app/shared/api/dictionaries.ts
  app/shared/ui/select/SelectAmmunition.vue
  app/shared/ui/select/SelectWeaponMastery.vue
  app/shared/ui/select/SelectWeaponProperty.vue
  app/shared/ui/select/index.ts
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(bug-report): handle external service errors
  server/api/bug-report.post.ts
  server/utils/handleFetchError.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(spells): добавить активные эффекты заклинаний
  app/features/spells/editor/SpellsEditor.vue
  app/features/spells/editor/ui/SpellActiveEffectItem.vue
  app/features/spells/editor/ui/SpellActiveEffects.vue
  app/features/spells/editor/ui/SpellEffectChanges.vue
  app/features/spells/editor/ui/SpellEffectDamageParts.vue
  app/features/spells/editor/ui/SpellEffectFlags.vue
  app/features/spells/editor/ui/SpellEffectLibraryInput.vue
  app/features/spells/editor/ui/index.ts
  app/features/spells/model/create.ts
  app/features/spells/model/effect-constants.ts
  app/features/spells/model/effect.ts
  app/features/spells/model/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(spells): добавить снаряды и распределение по целям
  app/features/spells/editor/SpellsEditor.vue
  app/features/spells/editor/ui/SpellEffectEditor.vue
  app/features/spells/editor/ui/SpellProjectiles.vue
  app/features/spells/editor/ui/index.ts
  app/features/spells/model/constants.ts
  app/features/spells/model/create.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore(deps): устранить уязвимости зависимостей
  app/shared/ui/link/CardLink.vue
  app/shared/ui/link/SmallLink.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(admin): скрыть статистику баг-репортов на мобильных
  app/pages/admin/bugs.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(home): сделать Boosty первым в списке соцсетей
  app/features/home/social-links/model/const.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(bug-report): фиксировать точный URL сущности из дровера
  app/composables/useOpenEntityPath.ts
  app/features/bug-report/composables/useBugReport.ts
  app/shared/ui/drawer/UiDrawer.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(ci): устранить ошибки eslint и type-check
  app/composables/useSectionDetail.ts
  app/features/tokenator/controls/ui/ControlsLibrary.vue
  package.json
  pnpm-workspace.yaml
  server/api/admin/bugs/[id]/status.patch.ts
  server/domain/online/service/onlineService.ts
  server/domain/s3/model/s3.ts
  server/domain/s3/utils/s3.ts
  server/routes/s3/[...slug].get.ts
  server/utils/authService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(bug-report): фиксировать точный URL сущности + правки UI баг-репортов (#293)
  app/composables/useOpenEntityPath.ts
  app/composables/useSectionDetail.ts
  app/features/bug-report/composables/useBugReport.ts
  app/features/home/social-links/model/const.ts
  app/features/tokenator/controls/ui/ControlsLibrary.vue
  app/pages/admin/bugs.vue
  app/shared/ui/drawer/UiDrawer.vue
  package.json
  pnpm-workspace.yaml
  server/api/admin/bugs/[id]/status.patch.ts
  server/domain/online/service/onlineService.ts
  server/domain/s3/model/s3.ts
  server/domain/s3/utils/s3.ts
  server/routes/s3/[...slug].get.ts
  server/utils/authService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(magic-items): выбор связанных немагических предметов в редакторе
  app/features/magic-items/editor/MagicItemEditor.vue
  app/features/magic-items/model/create.ts
  app/shared/ui/select/SelectItem.vue
  app/shared/ui/select/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Main (#295)
  server/api/bug-report.post.ts
  server/utils/handleFetchError.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

chore(deps): зафиксировать единственную версию h3 (1.15.11)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(promo-codes): админ-раздел выпуска и управления промо-кодами
  app/features/admin/dashboard/model/constants.ts
  app/features/admin/subscriptions/composables/index.ts
  app/features/admin/subscriptions/composables/useSubscriptionCodes.ts
  app/features/admin/subscriptions/model/consts.ts
  app/features/admin/subscriptions/model/index.ts
  app/features/admin/subscriptions/model/schemas.ts
  app/features/admin/subscriptions/model/types.ts
  app/features/admin/subscriptions/ui/CodeDetailPane.vue
  app/features/admin/subscriptions/ui/CodeRow.vue
  app/features/admin/subscriptions/ui/CodesPanel.vue
  app/features/admin/subscriptions/ui/CreateCodesForm.vue
  app/features/admin/subscriptions/ui/index.ts
  app/pages/admin/index.vue
  app/pages/admin/subscriptions.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(deps): plain-стиль скаляра версии h3 в pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: none

fix(profile): вернуть таб «Подписка / Коды» в меню личного кабинета
  app/features/profile/sidebar/ui/ProfileNavigationTabs.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Правка по пункету меню (#299)
  app/features/profile/sidebar/ui/ProfileNavigationTabs.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(subscriptions): срок подписки тира в форме выпуска кодов
  app/features/admin/subscriptions/model/constants.ts
  app/features/admin/subscriptions/ui/CreateCodesForm.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(subscriptions): срок подписки тира в форме выпуска кодов (#300)
  app/features/admin/subscriptions/model/constants.ts
  app/features/admin/subscriptions/ui/CreateCodesForm.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(filters): добавить каскадные зависимости
  app/features/infrastructure/filter/composable/useFilter.ts
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
  app/features/infrastructure/filter/types.ts
  app/features/infrastructure/filter/utils/filterDependencies.ts
  app/features/infrastructure/filter/utils/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(subscriptions): не упираться в собственный rate-limit при опросе статуса подписки
  app/features/profile/activation/composables/useMyRewards.ts
  app/features/profile/activation/composables/useMySubscriptions.ts
  app/features/profile/activation/composables/useSubscriptionAutoRefresh.ts
  app/features/profile/activation/model/consts.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(subscriptions): скачивание наград и рамка аватара по кодам
  app/features/profile/activation/model/consts.ts
  app/features/profile/activation/ui/RewardLinkRow.vue
  app/features/profile/sidebar/ui/ProfileAvatar.vue
  app/features/user/helmet/UserHelmet.vue
  app/features/user/helmet/ui/UserInfo.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(filters): порядок экспортов в filter/utils/index.ts
  app/features/infrastructure/filter/utils/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(subscriptions): награды по кодам (скачивание, рамка аватара) и устойчивый фоновый опрос статуса (#301)
  app/features/infrastructure/filter/utils/index.ts
  app/features/profile/activation/composables/useMyRewards.ts
  app/features/profile/activation/composables/useMySubscriptions.ts
  app/features/profile/activation/composables/useSubscriptionAutoRefresh.ts
  app/features/profile/activation/model/consts.ts
  app/features/profile/activation/ui/RewardLinkRow.vue
  app/features/profile/sidebar/ui/ProfileAvatar.vue
  app/features/user/helmet/UserHelmet.vue
  app/features/user/helmet/ui/UserInfo.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(home): обновить баннеры на главной
  app/features/home/banners/HomeBanners.vue
  app/features/home/banners/VttgCampaignBanner.vue
  app/features/home/banners/model/constants.ts
  app/features/home/link-to-5e14/LinkTo5e14.vue
  app/pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(home): обновить баннеры на главной (#302)
  app/features/home/banners/HomeBanners.vue
  app/features/home/banners/VttgCampaignBanner.vue
  app/features/home/banners/model/constants.ts
  app/features/home/link-to-5e14/LinkTo5e14.vue
  app/pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(markup): порядок ключей зависимостей в package.json
  package.json
Due: none

feat(lists): add configurable list presentation
  app/features/bestiary/model/index.ts
  app/features/bestiary/model/list.ts
  app/features/infrastructure/list-presentation/composable/index.ts
  app/features/infrastructure/list-presentation/composable/useListPresentation.ts
  app/features/infrastructure/list-presentation/model/constants.ts
  app/features/infrastructure/list-presentation/model/index.ts
  app/features/infrastructure/list-presentation/model/types.ts
  app/features/infrastructure/list-presentation/ui/ListPresentationControls.vue
  app/features/infrastructure/list-presentation/ui/index.ts
  app/features/magic-items/model/index.ts
  app/features/magic-items/model/link.ts
  app/features/magic-items/model/list.ts
  app/features/spells/model/index.ts
  app/features/spells/model/link.ts
  app/features/spells/model/list.ts
  app/pages/bestiary/index.vue
  app/pages/magic-items/index.vue
  app/pages/spells/index.vue
  app/shared/ui/grouped-list/GroupedList.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(lists): use dropdown presentation controls
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/list-presentation/model/constants.ts
  app/features/infrastructure/list-presentation/ui/ListPresentationControls.vue
  app/pages/bestiary/index.vue
  app/pages/magic-items/index.vue
  app/pages/spells/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(spells): пагинировать группы классов отдельно
  app/features/spells/composable/index.ts
  app/features/spells/composable/useSpellClassPagination.ts
  app/features/spells/groups/SpellClassGroups.vue
  app/features/spells/groups/index.ts
  app/features/spells/model/search.ts
  app/pages/spells/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore(bug-report): подавить ложные предупреждения WebStorm
  app/features/bug-report/modal/BugReportModal.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(workshop): разрешить модераторам редактирование сущностей
  app/composables/useUserRoles.ts
  app/features/spells/model/search.ts
  app/features/user/helmet/UserHelmet.vue
  app/pages/workshop.vue
  app/shared/ui/drawer/ui/actions/DrawerActions.vue
  app/shared/ui/page/PageActions.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(spells): добавить автоподгрузку групп по классам
  app/features/spells/groups/SpellClassGroup.vue
  app/features/spells/groups/SpellClassGroups.vue
  app/features/spells/model/search.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Path conditions:
  eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix: any of: *.{cjs,js,ts,jsx,tsx,vue}
  stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix: any of: *.{css,scss,vue}
