Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

.lintstagedrc.json:

{
  "*.{cjs,js,ts,jsx,tsx,vue}": [
    "eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix"
  ],
  "*.{css,scss,vue}": [
    "stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix"
  ]
}

fix: импорты
  app/pages/workshop/feats/[url].vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: проверка url в редакторах
  app/features/feats/editor/FeatsEditor.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/spells/editor/SpellsEditor.vue
  app/shared/utils/validation/character/feats.ts
  app/shared/utils/validation/character/species.ts
  app/shared/utils/validation/character/spells.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: доработка типизации и переадресация из редакторов
  app/pages/workshop/feats/[url].vue
  app/pages/workshop/species/[url].vue
  app/pages/workshop/spells/[url].vue
  app/shared/types/global/router.d.ts
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: доработка типизации
  app/shared/types/global/router.d.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: доработка редакторов
  app/features/feats/editor/FeatsEditor.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/spells/editor/SpellsEditor.vue
  app/pages/workshop/feats/[url].vue
  app/pages/workshop/species/[url].vue
  app/pages/workshop/spells/[url].vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: доработка редакторов
  app/pages/workshop/feats/[url].vue
  app/pages/workshop/species/[url].vue
  app/pages/workshop/spells/[url].vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: - главная переделана на grid - добавлены соц линки на главной
  app/features/home/sections/HomeSections.vue
  app/features/home/sections/SocialBlock.vue
  app/features/home/sections/index.ts
  app/features/home/sections/model/const.ts
  app/features/home/sections/model/index.ts
  app/pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: - добавлен блок ссылку на 2014 редакцию днд
  app/features/home/sections/DnD2014Sections.vue
  app/features/home/sections/HomeSections.vue
  app/features/home/sections/StatisticsSections.vue
  app/features/home/sections/index.ts
  app/pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: - добавлен блок, статистика сайта на главной
  app/pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: - обновление фона во всех стилях - добавление рамки для ссылок в списке
  app/assets/styles/global.scss
  app/assets/styles/root/colors.scss
  app/shared/ui/link/SmallLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: - добавлен блок, статистика сайта на главной
  app/features/home/sections/SocialSections.vue
  app/features/home/sections/StatisticsSections.vue
  app/features/home/sections/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: добработки по замечаниям
  app/features/home/banners/HomeBanners.vue
  app/features/home/banners/index.ts
  app/features/home/banners/ui/LegacyTtgLink.vue
  app/features/home/banners/ui/MaterialCounter.vue
  app/features/home/banners/ui/index.ts
  app/features/home/sections/index.ts
  app/features/home/social-links/SocialLinks.vue
  app/features/home/social-links/index.ts
  app/pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: адаптив главной
  app/pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Обновления главной и стилей сайта (#70)
  app/assets/icons/routes.svg
  app/assets/styles/global.scss
  app/assets/styles/root/colors.scss
  app/features/home/banners/HomeBanners.vue
  app/features/home/banners/index.ts
  app/features/home/banners/ui/LegacyTtgLink.vue
  app/features/home/banners/ui/MaterialCounter.vue
  app/features/home/banners/ui/index.ts
  app/features/home/sections/HomeSections.vue
  app/features/home/sections/model/const.ts
  app/features/home/sections/model/index.ts
  app/features/home/social-links/SocialLinks.vue
  app/features/home/social-links/index.ts
  app/features/species/lineages-drawer/SpeciesLineagesDrawer.vue
  app/features/species/link/SpeciesLink.vue
  app/pages/feats/index.vue
  app/pages/index.vue
  app/pages/species/index.vue
  app/pages/spells/index.vue
  app/shared/ui/link/SmallLink.vue
  app/shared/ui/page/PageGrid.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: ревью фиксы
  app/features/backgrounds/editor/BackgroundsEditor.vue
  app/features/backgrounds/editor/index.ts
  app/features/workshop/section/SectionBackgrounds.vue
  app/pages/backgrounds/[url].vue
  app/pages/backgrounds/index.vue
  app/pages/workshop/backgrounds/[url].vue
  app/pages/workshop/backgrounds/create.vue
  app/shared/utils/validation/character/backgrounds.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: ревью фиксы
  app/features/backgrounds/drawer/BackgroundDrawer.vue
  app/pages/workshop/backgrounds/create.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: отделил массив ссылок от навигации
  app/features/home/sections/model/const.ts
  app/features/home/sections/model/index.ts
  app/features/home/social-links/SocialLinks.vue
  app/features/home/social-links/model/const.ts
  app/features/home/social-links/model/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: отделил массив ссылок от навигации (#73)
  app/features/home/sections/model/const.ts
  app/features/home/sections/model/index.ts
  app/features/home/social-links/SocialLinks.vue
  app/features/home/social-links/model/const.ts
  app/features/home/social-links/model/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

ошибки
  app/features/glossary/body/GlossaryBody.vue
  app/features/glossary/body/index.ts
  app/features/glossary/body/model/const.ts
  app/features/glossary/body/model/index.ts
  app/features/glossary/body/ui/DescriptionsBlock.vue
  app/features/glossary/body/ui/TopBar.vue
  app/features/glossary/body/ui/index.ts
  app/features/glossary/drawer/GlossaryDrawer.vue
  app/features/glossary/drawer/index.ts
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/glossary/editor/index.ts
  app/features/glossary/link/GlossaryLink.vue
  app/features/glossary/link/index.ts
  app/pages/glossary/[url].vue
  app/pages/glossary/index.vue
  app/pages/workshop/glossary/create.vue
  app/pages/workshop/glossary/index.vue
  app/shared/types/character/glossary/create.ts
  app/shared/types/character/glossary/detail.ts
  app/shared/types/character/glossary/index.ts
  app/shared/types/character/glossary/link.ts
  app/shared/types/character/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: добавил немного секурности и сделал рейт лимитер на апи и s3
  nuxt.config.ts
  server/services/s3Service.ts
  server/utils/jwt.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: обновление фавикона
  nuxt.config.ts
  public/favicon.ico
  public/favicon.png
  public/favicon.svg
  public/icons/144-maskable.png
  public/icons/144.png
  public/icons/192-maskable.png
  public/icons/192.png
  public/icons/256-maskable.png
  public/icons/256.png
  public/icons/384-maskable.png
  public/icons/384.png
  public/icons/48-maskable.png
  public/icons/48.png
  public/icons/512-maskable.png
  public/icons/512.png
  public/icons/72-maskable.png
  public/icons/72.png
  public/icons/96-maskable.png
  public/icons/96.png
  public/manifest.json
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: чутка подправил конфиг и манифест, вынес favicon в корень, чтобы избежать ошибок браузеров
  nuxt.config.ts
  public/favicon.ico
  public/manifest.json
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: обновил картинки
  nuxt.config.ts
  public/favicons/192x192.png
  public/favicons/32x32.png
  public/favicons/512x512.png
  public/favicons/96x96.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon.ico
  public/favicons/favicon.svg
  public/icons/144-maskable.png
  public/icons/144.png
  public/icons/192-maskable.png
  public/icons/192.png
  public/icons/256-maskable.png
  public/icons/256.png
  public/icons/384-maskable.png
  public/icons/384.png
  public/icons/48-maskable.png
  public/icons/48.png
  public/icons/512-maskable.png
  public/icons/512.png
  public/icons/72-maskable.png
  public/icons/72.png
  public/icons/96-maskable.png
  public/icons/96.png
  public/manifest.json
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: обновление фавикона (#74)
  nuxt.config.ts
  public/favicon.ico
  public/favicon.png
  public/favicon.svg
  public/favicons/192x192.png
  public/favicons/32x32.png
  public/favicons/512x512.png
  public/favicons/96x96.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon.svg
  public/icons/144-maskable.png
  public/icons/144.png
  public/icons/192-maskable.png
  public/icons/192.png
  public/icons/256-maskable.png
  public/icons/256.png
  public/icons/384-maskable.png
  public/icons/384.png
  public/icons/512-maskable.png
  public/icons/512.png
  public/manifest.json
  server/services/s3Service.ts
  server/utils/jwt.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: сделал анимацию числа в счетчике материалов
  app/features/home/banners/ui/MaterialCounter.vue
  app/shared/ui/animated-number/AnimatedNumber.vue
  app/shared/ui/animated-number/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: добавлено динамический счетчик
  app/features/home/banners/ui/MaterialCounter.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: изменил адрес счетчика
  app/features/home/banners/ui/MaterialCounter.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: добавлено динамический счетчик (#72)
  app/features/home/banners/ui/MaterialCounter.vue
  app/shared/ui/animated-number/AnimatedNumber.vue
  app/shared/ui/animated-number/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: исправил получение данных с s3
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: исправление окончаний в бинарниках ломали картинки
  .gitattributes
  public/favicons/192x192.png
  public/favicons/32x32.png
  public/favicons/512x512.png
  public/favicons/96x96.png
  public/favicons/apple-touch-icon.png
Due: none

fix: исправление деплоя и секретов
  .github/workflows/deploy.yml
  nuxt.config.ts
  server/services/s3Service.ts
  server/utils/getProxyPath.ts
  server/utils/jwt.ts
  server/utils/proxy.ts
  server/utils/secrets.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: исправление иконок
  nuxt.config.ts
  public/favicon.ico
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: исправление иконок
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix
