Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Добавление разделителя (#206)
  app/features/classes/editor/ClassEditor.vue
  app/features/classes/editor/ui/CharacteristicsSettings.vue
  app/features/classes/editor/ui/FeaturesEditor.vue
  app/features/classes/editor/ui/ProficiencySettings.vue
  app/features/classes/editor/ui/TableEditor.vue
  app/features/classes/editor/ui/characteristics/PrimaryCharacteristics.vue
  app/features/classes/editor/ui/characteristics/index.ts
  app/features/classes/editor/ui/features/index.ts
  app/features/classes/editor/ui/index.ts
  app/features/classes/editor/ui/proficiency/index.ts
  app/features/classes/editor/ui/table/index.ts
  app/features/classes/model/create.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: правки
  app/composables/useDayjs.ts
  app/features/calculator/abilities/ui/tabs/StandardArray.vue
  app/features/classes/editor/ui/characteristics/AbilityTemplate.vue
  app/features/tokenator/composables/useTokenatorCanvas.ts
  app/features/tokenator/composables/useTokenatorGestures.ts
  app/features/tokenator/index.ts
  app/features/tokenator/model/utils/draw.ts
  app/features/tokenator/preview/ui/PreviewCanvas.vue
  app/pages/admin/tokenator.vue
  app/pages/tokenator/index.vue
  app/shared/ui/collapse/UiCollapse.vue
  app/shared/ui/select/SelectAbilities.vue
  eslint.config.js
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

ai: поправил правила ии-агентов
  AGENTS.md
  PROJECT_MAP.md
Due: none

feat: источники (#207)
  AGENTS.md
  app/app.config.ts
  app/features/infrastructure/sidebar/menu/model/const.ts
  app/features/sources/body/SourceBody.vue
  app/features/sources/body/index.ts
  app/features/sources/body/ui/StatsBlock.vue
  app/features/sources/body/ui/index.ts
  app/features/sources/drawer/SourceDrawer.vue
  app/features/sources/drawer/index.ts
  app/features/sources/editor/SourceEditor.vue
  app/features/sources/editor/index.ts
  app/features/sources/editor/ui/SourceType.vue
  app/features/sources/editor/ui/index.ts
  app/features/sources/link/SourceLink.vue
  app/features/sources/link/index.ts
  app/features/sources/preview/SourcePreview.vue
  app/features/sources/preview/index.ts
  app/features/sources/types/create.ts
  app/features/sources/types/detail.ts
  app/features/sources/types/index.ts
  app/features/sources/types/link.ts
  app/features/workshop/section/SectionSources.vue
  app/features/workshop/section/index.ts
  app/pages/sources/[url].vue
  app/pages/sources/index.vue
  app/pages/workshop/index.vue
  app/pages/workshop/sources.vue
  app/pages/workshop/sources/[url].vue
  app/pages/workshop/sources/create.vue
  app/pages/workshop/sources/index.vue
  app/shared/api/dictionaries.ts
  app/shared/ui/date-picker/DatePicker.vue
  app/shared/ui/date-picker/index.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Группировка списка по функции, а не по полю (#208)
  app/features/bestiary/composable/useChallengeRatingGroupOrder.ts
  app/features/magic-items/composable/useMagicItemRarityGroupOrder.ts
  app/features/sources/link/SourceLink.vue
  app/features/sources/link/ui/LinkPreview.vue
  app/features/sources/link/ui/index.ts
  app/features/sources/types/link.ts
  app/pages/bestiary/index.vue
  app/pages/magic-items/index.vue
  app/pages/sources/index.vue
  app/pages/spells/index.vue
  app/shared/ui/grouped-list/GroupedList.vue
  shared/utils/index.ts
  shared/utils/sortString.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore: обновление библиотек
  package.json
  pnpm-lock.yaml
Due: none

refactor: макрофикс
  app/shared/ui/animated-number/AnimatedNumber.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

style(ui): address code review comments
  app/features/infrastructure/sidebar/theme-switcher/ThemeSwitcher.vue
  app/shared/ui/icon/HamburgerIcon.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

style(ui): revert accidental linter change in useFilter.ts
  app/features/infrastructure/filter/composable/useFilter.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

refactor: настройка иконок в соответствии с документацией
  app/app.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

refactor: обновление иконок
  app/features/user/helmet/UserHelmet.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: поправил толщину иконок
  app/app.config.ts
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: поправил иконку
  app/shared/ui/result/UiResult.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: поправил иконку
  app/pages/tokenator/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: поправил хранение пользователей
  PROJECT_MAP.md
  app/composables/useUser.ts
  app/composables/useUserRoles.ts
  app/features/home/sections/HomeSections.vue
  app/features/infrastructure/sidebar/menu/ui/MenuSection.vue
  app/features/user/auth-modal/ui/SignIn.vue
  app/features/user/helmet/UserHelmet.vue
  app/middleware/admin.ts
  app/pages/roadmap.vue
  app/shared/stores/index.ts
  app/shared/stores/userStore.ts
  app/shared/ui/drawer/ui/actions/DrawerActions.vue
  app/shared/ui/page/PageActions.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor: обновление проверки ролей пользователя
  app/composables/useTheme.ts
  app/composables/useUser.ts
  app/composables/useUserRoles.ts
  app/features/home/greetings/HomeGreetings.vue
  app/features/user/auth-modal/ui/SignIn.vue
  app/features/user/helmet/UserHelmet.vue
  app/features/user/helmet/ui/UserInfo.vue
  app/features/user/helmet/ui/index.ts
  app/middleware/auth.global.ts
  app/shared/types/upload.ts
  app/shared/ui/input/InputUrl.vue
  app/utils/preventRouting.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  server/domain/s3/service/s3Service.ts
  server/domain/s3/utils/s3.ts
  server/middleware/001.validateAuthToken.ts
  server/middleware/002.appendAuthHeader.ts
  server/routes/s3/[...slug].delete.ts
  server/routes/s3/[...slug].get.ts
  server/routes/s3/upload.post.ts
  server/utils/getCompressed.ts
  server/utils/getCompressedImage.ts
  server/utils/getTokenFromRequest.ts
  server/utils/getUser.ts
  server/utils/jwt.ts
  shared/types/auth.ts
  shared/types/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor: обновление зависимостей
  package.json
  pnpm-lock.yaml
Due: none

refactor: обновление зависимостей
  app/composables/useCanvasExport.ts
  app/composables/useTheme.ts
  app/composables/useUser.ts
  app/features/dice-roller/composables/useDiceRoller.ts
  app/features/dice-roller/model/db.ts
  app/features/infrastructure/filter/composable/useFilter.ts
  app/features/infrastructure/filter/utils/filterParser.ts
  app/features/tokenator/composables/useTokenatorCanvas.ts
  app/features/tokenator/composables/useTokenatorLayers.ts
  app/features/tokenator/composables/useTokenatorStore.ts
  app/features/tokenator/model/utils/draw.ts
  app/features/user/helmet/UserHelmet.vue
  app/pages/admin/tokenator.vue
  app/shared/ui/icon/SvgIcon.vue
  app/shared/ui/icon/SvgLoading.vue
  app/shared/ui/markup/MarkupRender.vue
  app/shared/ui/markup/utils.ts
  app/shared/ui/upload/gallery/UploadGallery.vue
  app/shared/ui/upload/image/UploadImage.vue
  app/utils/icons.ts
  modules/auto-aliases.ts
  package.json
  pnpm-lock.yaml
  server/domain/s3/service/s3Service.ts
  server/routes/s3/[...slug].get.ts
  server/routes/s3/upload.post.ts
  shared/utils/consola.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Управление ролями пользователя
  app/pages/admin/index.vue
  app/pages/admin/users.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: исправление и улучшения кода
  app/features/user/profile-page/composables/useConfirmModal.ts
  app/features/user/profile-page/composables/useUserProfile.ts
  app/features/user/profile-page/model/consts.ts
  app/features/user/profile-page/model/index.ts
  app/features/user/profile-page/model/schemas.ts
  app/features/user/profile-page/model/types.ts
  app/features/user/profile-page/ui/StatisticCard.vue
  app/features/user/profile-page/ui/TabConnections.vue
  app/features/user/profile-page/ui/TabGeneral.vue
  app/features/user/profile-page/ui/TabSecurity.vue
  app/features/user/profile-page/ui/TabStatistics.vue
  app/features/user/profile-page/ui/index.ts
  app/pages/user/profile/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновления UI
  app/features/user/profile-page/model/consts.ts
  app/features/user/profile-page/ui/TabSettings.vue
  app/features/user/profile-page/ui/index.ts
  app/pages/user/profile/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: работа над профилем, обновления UI
  app/features/user/profile-page/model/consts.ts
  app/features/user/profile-page/model/index.ts
  app/features/user/profile-page/model/types.ts
  app/features/user/profile-page/ui/TabConnections.vue
  app/features/user/profile-page/ui/TabGeneral.vue
  app/features/user/profile-page/ui/TabSecurity.vue
  app/features/user/profile-page/ui/TabStatistics.vue
  app/features/user/profile-page/ui/index.ts
  app/pages/user/profile/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: исправление и улучшения кода
  app/features/user/profile-page/ui/TabConnections.vue
  app/features/user/profile-page/ui/TabGeneral.vue
  app/features/user/profile-page/ui/TabSecurity.vue
  app/features/user/profile-page/ui/TabStatistics.vue
  app/pages/user/profile/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновления UI
  app/features/user/profile-page/ui/TabSecurity.vue
  app/features/user/profile-page/ui/TabStatistics.vue
  app/pages/user/profile/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление фильтра для источников
  app/features/infrastructure/filter/composable/useFilter.ts
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/filter/drawer/SourcesDrawer.vue
  app/features/infrastructure/filter/drawer/index.ts
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/preview/FilterPreview.vue
  app/features/infrastructure/filter/types.ts
  app/features/infrastructure/filter/utils/filterParser.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(dice-roller): исправление ошибки импорта dice-roller-parser на nitro
  app/features/dice-roller/composables/useDiceRoller.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: История бросков (#166)
  .cursorrules
  .gitignore
  .scripts/sync-ai-rules.js
  app/app.vue
  app/composables/useDiceRoller.ts
  app/composables/useResizableHeight.ts
  app/features/dice-roller/composables/index.ts
  app/features/dice-roller/composables/useDiceRoller.ts
  app/features/dice-roller/composables/useDiceRollerHistory.ts
  app/features/dice-roller/composables/useDiceRollerState.ts
  app/features/dice-roller/const.ts
  app/features/dice-roller/float-button/DiceRollerFloatButton.vue
  app/features/dice-roller/float-button/index.ts
  app/features/dice-roller/modal/DiceRollerModal.vue
  app/features/dice-roller/modal/index.ts
  app/features/dice-roller/modal/ui/DiceRollerComposer.vue
  app/features/dice-roller/modal/ui/DiceRollerHelpPopover.vue
  app/features/dice-roller/modal/ui/DiceRollerHistoryItem.vue
  app/features/dice-roller/modal/ui/DiceRollerHistoryList.vue
  app/features/dice-roller/modal/ui/index.ts
  app/features/dice-roller/sidebar-button/DiceRollerSidebarButton.vue
  app/features/dice-roller/sidebar-button/index.ts
  app/features/dice-roller/types.ts
  app/features/dice-roller/utils.ts
  app/features/home/recent-changes/RecentChanges.vue
  app/features/sidebar/panel/SidebarPanel.vue
  app/features/user/helmet/UserHelmet.vue
  app/shared/ui/markup/config.ts
  app/shared/ui/markup/ui/MarkupRoller.vue
  app/shared/ui/markup/ui/MarkupTable.vue
  app/shared/ui/markup/ui/index.ts
  app/shared/ui/markup/utils.ts
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

build: switch to slim base image and optimize pnpm install
  Dockerfile
Due: none

fix: Броски кубов правки и исправление багов (#185)
  app/app.vue
  app/features/dice-roller/composables/useDiceRoller.ts
  app/features/dice-roller/composables/useDiceRollerHistory.ts
  app/features/dice-roller/const.ts
  app/features/dice-roller/float-button/DiceRollerFloatButton.vue
  app/features/dice-roller/modal/DiceRollerModal.vue
  app/features/dice-roller/modal/ui/DiceRollerComposer.vue
  app/features/dice-roller/modal/ui/DiceRollerHeader.vue
  app/features/dice-roller/modal/ui/DiceRollerHelpPopover.vue
  app/features/dice-roller/modal/ui/DiceRollerHistoryItem.vue
  app/features/dice-roller/modal/ui/DiceRollerHistoryList.vue
  app/features/dice-roller/modal/ui/DiceRollerResizeHandle.vue
  app/features/dice-roller/modal/ui/index.ts
  app/shared/ui/markup/ui/MarkupRoller.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: обновление композиции для кубов
  app/features/dice-roller/composables/useDiceRoller.ts
  app/features/dice-roller/const.ts
  app/features/dice-roller/modal/ui/DiceRollerHelpPopover.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: заменил библиотеку для кубов
  app/features/dice-roller/composables/useDiceRoller.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

Feat: улучшение отображения обновлений сайта на главной. (#186)
  app/composables/useDayjs.ts
  app/features/dice-roller/composables/useDiceRollerState.ts
  app/features/dice-roller/modal/ui/DiceRollerHistoryItem.vue
  app/features/home/recent-changes/HomeRecentChanges.vue
  app/features/home/recent-changes/RecentChanges.vue
  app/features/home/recent-changes/index.ts
  app/features/home/sections/HomeSections.vue
  app/layouts/detail.vue
  app/shared/ui/drawer/ui/header/DrawerHeader.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Пользователи онлайн (#178)
  app/features/home/banners/ui/MaterialCounter.vue
  app/features/home/recent-changes/HomeRecentChanges.vue
  app/plugins/online-heartbeat.client.ts
  app/shared/ui/animated-number/AnimatedNumber.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Path conditions:
  eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix: any of: *.{cjs,js,ts,jsx,tsx,vue}
  stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix: any of: *.{css,scss,vue}
