Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

.lintstagedrc.json:

{
  "*.{cjs,js,ts,jsx,tsx,vue}": [
    "eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix"
  ],
  "*.{css,scss,vue}": [
    "stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix"
  ]
}

fix(character-sheet): выбор вида доводит прибавку к хитам до листа
  app/features/character-sheet/composables/useCharacterSheet.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(эффекты): урон и активные эффекты заклинания до уровня системы D&D
  PROJECT_MAP.md
  app/features/active-effects/editor/ActiveEffects.vue
  app/features/active-effects/editor/ui/ActiveEffectItem.vue
  app/features/active-effects/editor/ui/EffectChanges.vue
  app/features/active-effects/editor/ui/EffectDamageParts.vue
  app/features/active-effects/editor/ui/EffectFlags.vue
  app/features/active-effects/model/constants.ts
  app/features/active-effects/model/index.ts
  app/features/active-effects/model/menus.ts
  app/features/active-effects/model/types.ts
  app/features/spells/editor/ui/SpellDamageFormulaRow.vue
  app/features/spells/editor/ui/SpellDamageFormulas.vue
  app/features/spells/editor/ui/index.ts
  app/features/spells/model/constants.ts
  app/features/spells/model/create.ts
  app/features/spells/model/formula.ts
  app/features/spells/model/index.ts
  app/shared/ui/damage-formula/DamageFormulaInput.vue
  app/shared/ui/damage-formula/constants.ts
  app/shared/ui/damage-formula/formula.ts
  app/shared/ui/damage-formula/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(заклинания): способ применения, масштабирование и авто-описание эффекта
  app/features/active-effects/editor/ui/ActiveEffectItem.vue
  app/features/active-effects/model/constants.ts
  app/features/active-effects/model/describe.ts
  app/features/active-effects/model/index.ts
  app/features/spells/editor/ui/SpellDamageFormulas.vue
  app/features/spells/editor/ui/SpellEffectEditor.vue
  app/features/spells/editor/ui/SpellScaling.vue
  app/features/spells/editor/ui/index.ts
  app/features/spells/model/constants.ts
  app/features/spells/model/create.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(заклинания): заряды от отдыха и форма вкладками вместо длинной простыни
  app/features/spells/editor/SpellsEditor.vue
  app/features/spells/editor/ui/SpellCastingTimes.vue
  app/features/spells/editor/ui/SpellComponents.vue
  app/features/spells/editor/ui/SpellDurations.vue
  app/features/spells/editor/ui/SpellEffectEditor.vue
  app/features/spells/editor/ui/SpellProjectiles.vue
  app/features/spells/editor/ui/SpellRanges.vue
  app/features/spells/editor/ui/SpellSavingThrow.vue
  app/features/spells/editor/ui/SpellTargeting.vue
  app/features/spells/editor/ui/SpellUses.vue
  app/features/spells/editor/ui/index.ts
  app/features/spells/model/constants.ts
  app/features/spells/model/create.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(заклинания): описание и «На более высоких уровнях» одно под другим
  app/features/spells/editor/SpellsEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(заклинания): части урона по образцу системы и безопасное удаление эффекта
  app/features/active-effects/editor/ActiveEffects.vue
  app/features/active-effects/model/constants.ts
  app/features/spells/editor/ui/SpellDamageFormulaRow.vue
  app/features/spells/editor/ui/SpellDamageFormulas.vue
  app/features/spells/editor/ui/SpellScaling.vue
  app/features/spells/model/constants.ts
  app/features/spells/model/create.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(редакторы): бордер по теме проекта и «Кости» первой вкладкой формулы
  app/features/active-effects/editor/ActiveEffects.vue
  app/features/active-effects/editor/ui/ActiveEffectItem.vue
  app/features/spells/editor/ui/SpellDamageFormulaRow.vue
  app/features/spells/editor/ui/SpellScaling.vue
  app/shared/ui/damage-formula/DamageFormulaInput.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(правила): убраны дубли утилит, тернарники в разметке и хардкод подписей
  app/features/active-effects/editor/ActiveEffects.vue
  app/features/active-effects/editor/ui/EffectDamageParts.vue
  app/features/active-effects/model/constants.ts
  app/features/active-effects/model/describe.ts
  app/features/spells/editor/SpellsEditor.vue
  app/features/spells/editor/ui/SpellCastingTimes.vue
  app/features/spells/editor/ui/SpellComponents.vue
  app/features/spells/editor/ui/SpellDurations.vue
  app/features/spells/editor/ui/SpellRanges.vue
  app/features/spells/model/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(эффекты): подписи редакторов эффектов и снарядов вынесены в константы
  app/features/active-effects/editor/ui/ActiveEffectItem.vue
  app/features/active-effects/editor/ui/EffectChanges.vue
  app/features/active-effects/editor/ui/EffectFlags.vue
  app/features/active-effects/model/constants.ts
  app/features/spells/editor/ui/SpellProjectiles.vue
  app/features/spells/model/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(calculator): калькулятор бросков с анализом вероятностей
  PROJECT_MAP.md
  app/features/calculator/dice/CalculatorDice.vue
  app/features/calculator/dice/composables/index.ts
  app/features/calculator/dice/composables/useDiceCalculator.ts
  app/features/calculator/dice/index.ts
  app/features/calculator/dice/model/constants.ts
  app/features/calculator/dice/model/distribution.ts
  app/features/calculator/dice/model/format.ts
  app/features/calculator/dice/model/formula-editing.ts
  app/features/calculator/dice/model/histogram.ts
  app/features/calculator/dice/model/index.ts
  app/features/calculator/dice/model/labels.ts
  app/features/calculator/dice/model/operators.ts
  app/features/calculator/dice/model/parser.ts
  app/features/calculator/dice/model/presentation.ts
  app/features/calculator/dice/model/roll.ts
  app/features/calculator/dice/model/tokenizer.ts
  app/features/calculator/dice/model/transform.ts
  app/features/calculator/dice/model/types.ts
  app/features/calculator/dice/ui/DiceAnalysisCard.vue
  app/features/calculator/dice/ui/DiceDistributionChart.vue
  app/features/calculator/dice/ui/DiceFaceIcon.vue
  app/features/calculator/dice/ui/DiceFormulaCard.vue
  app/features/calculator/dice/ui/DiceHelpCard.vue
  app/features/calculator/dice/ui/DicePresetPrompt.vue
  app/features/calculator/dice/ui/DiceResultCard.vue
  app/features/calculator/dice/ui/index.ts
  app/features/infrastructure/sidebar/menu/model/const.ts
  app/pages/tools/dice-calculator/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(feats): активные эффекты в редакторе черты
  PROJECT_MAP.md
  app/features/active-effects/editor/ActiveEffects.vue
  app/features/active-effects/editor/ui/ActiveEffectItem.vue
  app/features/active-effects/model/constants.ts
  app/features/active-effects/model/types.ts
  app/features/feats/editor/FeatsEditor.vue
  app/features/feats/model/constants.ts
  app/features/feats/model/create.ts
  app/features/feats/model/schema.ts
  app/features/feats/model/transform.ts
  app/features/magic-items/editor/ui/MagicItemMechanics.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(эффекты): редактор частей урона вынесен в shared/ui
  app/features/spells/editor/ui/SpellDamageFormulas.vue
  app/features/spells/editor/ui/SpellEffectEditor.vue
  app/features/spells/editor/ui/SpellScaling.vue
  app/features/spells/editor/ui/index.ts
  app/features/spells/model/constants.ts
  app/features/spells/model/create.ts
  app/shared/ui/damage-formula/DamagePartRow.vue
  app/shared/ui/damage-formula/DamageParts.vue
  app/shared/ui/damage-formula/constants.ts
  app/shared/ui/damage-formula/index.ts
  app/shared/ui/damage-formula/part.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(предметы): форма предмета до уровня системы D&D приложения
  PROJECT_MAP.md
  app/features/items/editor/ItemEditor.vue
  app/features/items/editor/ui/GearForm.vue
  app/features/items/editor/ui/ItemCategory.vue
  app/features/items/editor/ui/ItemCategorySwitch.vue
  app/features/items/editor/ui/LegacyWeaponDamage.vue
  app/features/items/editor/ui/RollInput.vue
  app/features/items/editor/ui/ToolForm.vue
  app/features/items/editor/ui/WeaponForm.vue
  app/features/items/editor/ui/index.ts
  app/features/items/model/constants.ts
  app/features/items/model/create.ts
  app/shared/ui/select/SelectOptional.vue
  app/shared/ui/select/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(предметы): переключатель категорий по теме проекта
  app/features/items/editor/ui/ItemCategorySwitch.vue
  app/features/items/editor/ui/RollInput.vue
  app/features/items/model/constants.ts
  app/features/items/model/create.ts
  app/shared/ui/damage-formula/formula.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(лист персонажа): урон частями-формулами и пассивные эффекты
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(предыстории): форма вкладками, структурные инструменты и дары на листе
  app/features/backgrounds/body/BackgroundBody.vue
  app/features/backgrounds/editor/BackgroundsEditor.vue
  app/features/backgrounds/editor/ui/BackgroundToolGrant.vue
  app/features/backgrounds/editor/ui/index.ts
  app/features/backgrounds/model/constants.ts
  app/features/backgrounds/model/create.ts
  app/features/backgrounds/model/detail.ts
  app/features/backgrounds/model/index.ts
  app/features/backgrounds/model/markdown.ts
  app/features/backgrounds/model/schema.ts
  app/features/backgrounds/model/transform.ts
  app/features/character-sheet/body/ui/SheetBackgroundWizardModal.vue
  app/features/character-sheet/body/ui/SheetCustomBackgroundModal.vue
  app/features/character-sheet/body/ui/SheetFeaturesTab.vue
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
  app/features/feats/editor/ui/FeatEntityRefRows.vue
  app/features/feats/model/constants.ts
  app/features/feats/model/schema.ts
  app/features/feats/model/transform.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(calculator): привести калькулятор бросков к правилам проекта
  app/features/calculator/dice/model/constants.ts
  app/features/calculator/dice/model/format.ts
  app/features/calculator/dice/model/labels.ts
  app/features/calculator/dice/model/roll.ts
  app/features/calculator/dice/ui/DiceAnalysisCard.vue
  app/features/calculator/dice/ui/DiceDistributionChart.vue
  app/features/calculator/dice/ui/DiceHelpCard.vue
  app/features/calculator/dice/ui/DicePresetPrompt.vue
  app/features/calculator/dice/ui/DiceResultCard.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(лист персонажа): вкладка «Эффекты» и режим броска от эффектов
  app/features/active-effects/editor/index.ts
  app/features/active-effects/model/constants.ts
  app/features/character-sheet/body/CharacterSheetBody.vue
  app/features/character-sheet/body/ui/SheetEffectModal.vue
  app/features/character-sheet/body/ui/SheetEffectsTab.vue
  app/features/character-sheet/body/ui/SheetInventoryTabs.vue
  app/features/character-sheet/body/ui/index.ts
  app/features/character-sheet/composables/index.ts
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/composables/useSheetActiveEffects.ts
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/effect-engine.ts
  app/features/character-sheet/model/index.ts
  app/features/character-sheet/model/mock.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(лист персонажа): вкладка «Эффекты» по правилам проекта
  app/features/active-effects/editor/index.ts
  app/features/character-sheet/body/ui/SheetEffectModal.vue
  app/features/character-sheet/body/ui/SheetEffectsTab.vue
  app/features/character-sheet/composables/useSheetActiveEffects.ts
  app/features/character-sheet/model/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(лист персонажа): подтверждение удаления эффекта и правки вкладки
  app/features/character-sheet/body/ui/SheetEffectModal.vue
  app/features/character-sheet/body/ui/SheetEffectsTab.vue
  app/features/character-sheet/model/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(лист персонажа): состояния и эффекты меняют числа листа, а не только броски
  app/features/character-sheet/body/CharacterSheetBody.vue
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/effect-engine.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(лист персонажа): условие «в доспехе» у прибавок эффекта
  app/features/active-effects/model/constants.ts
  app/features/active-effects/model/menus.ts
  app/features/character-sheet/model/character-schema.ts
  app/features/character-sheet/model/effect-engine.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(лист персонажа): условия эффекта, соединённые «и»
  app/features/active-effects/model/describe.ts
  app/features/character-sheet/model/effect-engine.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix(лист персонажа): условная прибавка своей строкой, переключатели ровным рядом
  app/features/active-effects/editor/ui/ActiveEffectItem.vue
  app/features/active-effects/model/constants.ts
  app/features/active-effects/model/describe.ts
  app/features/character-sheet/body/ui/SheetArmorClassModal.vue
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/effect-engine.ts
  app/features/character-sheet/model/effects.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(эффекты): цель эффекта и переключатели — одной строкой
  app/features/active-effects/editor/ui/ActiveEffectItem.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(классы,виды,бестиарий): формы вкладками, дары и активные эффекты
  app/features/bestiary/editor/CreatureEditor.vue
  app/features/bestiary/editor/constants.ts
  app/features/bestiary/model/create.ts
  app/features/classes/editor/ClassEditor.vue
  app/features/classes/editor/ui/FeaturesEditor.vue
  app/features/classes/editor/ui/TableEditor.vue
  app/features/classes/editor/ui/features/FeatureMechanics.vue
  app/features/classes/editor/ui/features/index.ts
  app/features/classes/model/constants.ts
  app/features/classes/model/create.ts
  app/features/classes/model/form.ts
  app/features/classes/model/index.ts
  app/features/species/body/ui/StatsBlock.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/species/editor/ui/SpeciesFeatureMechanics.vue
  app/features/species/editor/ui/SpeciesFeatures.vue
  app/features/species/editor/ui/index.ts
  app/features/species/model/constants.ts
  app/features/species/model/index.ts
  app/features/species/model/markdown.ts
  app/features/species/model/schema.ts
  app/features/species/model/transform.ts
  app/features/species/model/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(лист персонажа): эффекты вида и класса и тёмное зрение полем записи
  app/features/character-sheet/body/ui/SheetSpeciesWizardModal.vue
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(лист персонажа): владения вида из даров, а не из прозы описания
  app/features/character-sheet/body/ui/SheetCustomSpeciesModal.vue
  app/features/character-sheet/body/ui/SheetSpeciesWizardModal.vue
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(мастерская): своё состояние формы у каждого раздела
  app/features/workshop/composable/useWorkshopForm.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

docs(карта проекта): эффекты и структура разделов вида, класса и бестиария
  PROJECT_MAP.md
Due: none

feat(лист персонажа): механика умений класса и структурные выборы вида
  PROJECT_MAP.md
  app/features/character-sheet/body/ui/SheetClassWizardModal.vue
  app/features/character-sheet/body/ui/SheetLevelUpStep.vue
  app/features/character-sheet/body/ui/SheetSpeciesWizardModal.vue
  app/features/character-sheet/composables/useLevelUpWizard.ts
  app/features/character-sheet/model/schemas.ts
  app/features/character-sheet/model/types.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(мастерская): у свёрнутой механики умения видно, что в ней заполнено
  app/features/classes/editor/ui/features/FeatureMechanics.vue
  app/features/species/editor/ui/SpeciesFeatureMechanics.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

docs(карта проекта): механика умений класса и структурные выборы вида на листе
  PROJECT_MAP.md
Due: none

feat(редакторы): врождённые заклинания вида — теми же строками, что у черты
  app/features/feats/editor/ui/FeatEntityRefRows.vue
  app/features/species/editor/ui/SpeciesInnateSpells.vue
  app/features/species/model/constants.ts
  app/shared/ui/select/SelectBackground.vue
  app/shared/ui/select/SelectSpell.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(вид): всё об особенности — в одной вкладке, как в системе D&D
  app/features/species/body/SpeciesBody.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/species/editor/ui/SpeciesFeatureMechanics.vue
  app/features/species/editor/ui/SpeciesFeatureSpells.vue
  app/features/species/editor/ui/SpeciesFeatures.vue
  app/features/species/editor/ui/SpeciesInnateSpells.vue
  app/features/species/editor/ui/index.ts
  app/features/species/model/constants.ts
  app/features/species/model/schema.ts
  app/features/species/model/transform.ts
  app/features/species/model/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(мастерская): приведение типа заменено разбором, импорты — правилам
  app/features/bestiary/editor/CreatureEditor.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/species/editor/ui/SpeciesFeatureMechanics.vue
  app/features/species/editor/ui/SpeciesFeatureSpells.vue
  app/features/species/editor/ui/SpeciesFeatures.vue
  app/features/species/editor/ui/SpeciesSizes.vue
  app/features/species/editor/ui/SpeciesSpeed.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(вид): из barrel-файла редактора убран экспорт, который никто не читает
  app/features/species/editor/ui/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix
