Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Feat: fix roller + добавление компонента (#187)
  app/features/dice-roller/composables/index.ts
  app/features/dice-roller/composables/useDiceRollHandler.ts
  app/features/dice-roller/composables/useDiceRollerState.ts
  app/features/dice-roller/link/DiceRollerLink.vue
  app/features/dice-roller/link/index.ts
  app/shared/ui/markup/ui/MarkupRoller.vue
  app/shared/ui/markup/ui/MarkupTable.vue
  app/shared/ui/markup/utils.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление дизайна (#191)
  app/features/home/banners/ui/MaterialCounter.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Броски кубов в статблоке бестиария (#190)
  app/features/bestiary/body/ui/stats-block/StatsBlock.vue
  app/features/bestiary/body/ui/stats-block/ui/CreatureAbilitiesTable.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: дизайна justify-evenly
  app/features/home/banners/ui/MaterialCounter.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Броски кубов в статблоке бестиария
  app/features/bestiary/body/ui/stats-block/ui/CreatureAbilitiesTable.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor: правки блока обновлений
  app/features/home/recent-changes/HomeRecentChanges.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: добавлена анимация на фоне, на главной (#193)
  app/app.vue
  app/features/home/background/HomeBackground.vue
  app/features/home/background/index.ts
  app/features/home/background/model/const.ts
  app/features/home/background/model/index.ts
  app/features/home/background/model/types.ts
  app/features/search/panel/SearchPanel.vue
  app/pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: правки по токенатору (#194)
  .gitignore
  app/app.config.ts
  app/composables/useCanvasExport.ts
  app/features/home/banners/TokenatorBanner.vue
  app/features/home/banners/index.ts
  app/features/tokenator/canvas/TokenatorCanvas.vue
  app/features/tokenator/composables/useTokenatorCanvas.ts
  app/features/tokenator/composables/useTokenatorStore.ts
  app/features/tokenator/controls/TokenatorControls.vue
  app/features/tokenator/controls/ui/ControlsLibrary.vue
  app/features/tokenator/controls/ui/ControlsSettings3D.vue
  app/features/tokenator/controls/ui/ControlsSettingsBase.vue
  app/features/tokenator/controls/ui/ControlsSettingsStyle.vue
  app/features/tokenator/controls/ui/ControlsSettingsText.vue
  app/features/tokenator/model/consts.ts
  app/features/tokenator/model/types.ts
  app/features/tokenator/model/utils/draw.ts
  app/features/tokenator/preview/ui/PreviewCanvas.vue
  app/features/user/helmet/UserHelmet.vue
  app/pages/admin/tokenator.vue
  app/pages/index.vue
  app/pages/tokenator/index.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Feat/tokenator v2 2 (#196)
  app/features/tokenator/canvas/TokenatorCanvas.vue
  app/features/tokenator/composables/useTokenatorBrush.ts
  app/features/tokenator/composables/useTokenatorCanvas.ts
  app/features/tokenator/composables/useTokenatorGestures.ts
  app/features/tokenator/composables/useTokenatorLayers.ts
  app/features/tokenator/composables/useTokenatorSetting.ts
  app/features/tokenator/composables/useTokenatorStore.ts
  app/features/tokenator/composables/useTokenatorStyles.ts
  app/features/tokenator/composables/useTokenatorTexts.ts
  app/features/tokenator/composables/useTokenatorTransforms.ts
  app/features/tokenator/composables/useTokenatorViewport.ts
  app/features/tokenator/controls/TokenatorControls.vue
  app/features/tokenator/controls/ui/ControlsLibrary.vue
  app/features/tokenator/controls/ui/ControlsSettings3D.vue
  app/features/tokenator/controls/ui/ControlsSettingsBackground.vue
  app/features/tokenator/controls/ui/ControlsSettingsBase.vue
  app/features/tokenator/controls/ui/ControlsSettingsFrame.vue
  app/features/tokenator/controls/ui/ControlsSettingsStyle.vue
  app/features/tokenator/controls/ui/ControlsSettingsText.vue
  app/features/tokenator/controls/ui/index.ts
  app/features/tokenator/model/consts.ts
  app/features/tokenator/model/index.ts
  app/features/tokenator/model/types.ts
  app/features/tokenator/model/utils/draw.ts
  app/features/tokenator/preview/ui/PreviewCanvas.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: пофиксил сохранение в .webp
  app/composables/useCanvasExport.ts
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

refactor: пофиксил зум/скролл macos/ios
  app/features/tokenator/canvas/TokenatorCanvas.vue
  app/features/tokenator/composables/index.ts
  app/features/tokenator/composables/useTokenatorCanvas.ts
  app/features/tokenator/composables/useTokenatorGestures.ts
  app/features/tokenator/controls/TokenatorControls.vue
  app/features/tokenator/model/utils/draw.ts
  app/features/tokenator/preview/ui/PreviewCanvas.vue
  app/pages/tokenator/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(tokenator): убрал изменение ссылок
  app/features/tokenator/controls/ui/ControlsLibrary.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: кнопка админки
  app/features/user/helmet/UserHelmet.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: E Броски инициативы и умений в бестиарии (#197)
  app/features/bestiary/body/ui/stats-block/StatsBlock.vue
  app/features/bestiary/types/detail.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: изменений активации кнопка "переместить фон"
  app/features/tokenator/controls/ui/ControlsSettingsBackground.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление node до 24 (#199)
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  Dockerfile
  package.json
Due: none

refactor: правки
  app/features/calculator/abilities/composables/useFeatSelect.ts
  app/features/calculator/abilities/model/types.ts
  app/features/calculator/abilities/ui/AbilityBonuses.vue
  app/features/calculator/abilities/ui/ScoreDisplay.vue
  app/features/calculator/abilities/ui/components/BackgroundSelect.vue
  app/features/calculator/abilities/ui/components/ClassLevelSelect.vue
  app/features/calculator/abilities/ui/components/EpicBoonSelect.vue
  app/features/calculator/abilities/ui/components/FeatSlot.vue
  app/features/calculator/abilities/ui/components/GeneralFeatsGrid.vue
  app/features/calculator/abilities/ui/tabs/PointBuy.vue
  app/features/calculator/abilities/ui/tabs/RandomRoll.vue
  app/features/calculator/abilities/ui/tabs/StandardArray.vue
  app/features/calculator/abilities/ui/tabs/components/DiceD6.vue
  app/features/calculator/abilities/ui/tabs/components/DiceSpinner.vue
  app/features/tokenator/controls/ui/ControlsLibrary.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore: обновление зависимостей
  app/assets/css/tailwind.css
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Калькулятор характеристик (#201)
  .cursorrules
  .gitignore
  app/features/calculator/abilities/CalculatorAbilities.vue
  app/features/calculator/abilities/composables/index.ts
  app/features/calculator/abilities/composables/useAbilitiesCalculator.ts
  app/features/calculator/abilities/composables/useBackgroundSelect.ts
  app/features/calculator/abilities/composables/useClassSelect.ts
  app/features/calculator/abilities/composables/useFeatSelect.ts
  app/features/calculator/abilities/index.ts
  app/features/calculator/abilities/model/consts.ts
  app/features/calculator/abilities/model/index.ts
  app/features/calculator/abilities/model/types.ts
  app/features/calculator/abilities/ui/AbilityBonuses.vue
  app/features/calculator/abilities/ui/ScoreDisplay.vue
  app/features/calculator/abilities/ui/components/BackgroundSelect.vue
  app/features/calculator/abilities/ui/components/ClassLevelSelect.vue
  app/features/calculator/abilities/ui/components/EpicBoonSelect.vue
  app/features/calculator/abilities/ui/components/FeatSlot.vue
  app/features/calculator/abilities/ui/components/GeneralFeatsGrid.vue
  app/features/calculator/abilities/ui/components/index.ts
  app/features/calculator/abilities/ui/index.ts
  app/features/calculator/abilities/ui/tabs/PointBuy.vue
  app/features/calculator/abilities/ui/tabs/RandomRoll.vue
  app/features/calculator/abilities/ui/tabs/StandardArray.vue
  app/features/calculator/abilities/ui/tabs/components/DiceD6.vue
  app/features/calculator/abilities/ui/tabs/components/DiceSpinner.vue
  app/features/calculator/abilities/ui/tabs/components/index.ts
  app/features/calculator/abilities/ui/tabs/index.ts
  app/pages/calculators/abilities/index.vue
  app/shared/types/abilities.ts
  app/shared/types/character/backgrounds/link.ts
  app/shared/types/character/feats/link.ts
  app/shared/ui/select/SelectAbilities.vue
  app/shared/ui/select/SelectBackground.vue
  app/shared/ui/select/SelectClass.vue
  app/shared/ui/select/SelectFeat.vue
  app/shared/ui/select/index.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: добавил пункт меню
  app/features/sidebar/menu/model/const.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: обновление ошибок nitro
  app/middleware/auth.global.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: обновление ошибок nitro
  app/middleware/auth.global.ts
  shared/utils/getErrorResponse.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

refactor: правки
  app/features/calculator/abilities/ui/AbilityBonuses.vue
  app/features/calculator/abilities/ui/components/EpicBoonSelect.vue
  app/features/calculator/abilities/ui/components/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

style: обновление градиента фона
  app/assets/css/colors/index.scss
  app/features/home/recent-changes/HomeRecentChanges.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

style: обновление градиента фона
  app/assets/css/colors/index.scss
  app/assets/css/tailwind.css
  app/features/sidebar/panel/SidebarPanel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: баннер на главную
  app/features/home/banners/HomeBanners.vue
  app/features/home/banners/index.ts
  app/features/home/banners/ui/CalculatorAbilitiesBanner.vue
  app/features/home/banners/ui/RoadmapBanner.vue
  app/features/home/banners/ui/TokenatorBanner.vue
  app/features/home/banners/ui/index.ts
  app/features/home/counters/HomeCounters.vue
  app/features/home/counters/index.ts
  app/features/home/counters/ui/MaterialCounter.vue
  app/features/home/counters/ui/index.ts
  app/features/home/recent-changes/HomeRecentChanges.vue
  app/pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: баннер на главную
  app/features/home/banners/ui/CalculatorAbilitiesBanner.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: баннеры
  app/features/home/banners/ui/BannerLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor: баннеры на главной
  app/features/home/banners/HomeBanners.vue
  app/features/home/banners/ui/BannerLink.vue
  app/features/home/banners/ui/CalculatorAbilitiesBanner.vue
  app/features/home/banners/ui/RoadmapBanner.vue
  app/features/home/banners/ui/TokenatorBanner.vue
  app/features/home/banners/ui/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: смена цветов
  app/features/home/background/HomeBackground.vue
  app/features/home/banners/ui/BannerLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: умение класса дает бонусы к характеристикам
  app/features/classes/editor/ui/features/ClassEditorFeatures.vue
  app/features/classes/editor/ui/features/ui/FeatureAbilityBonus.vue
  app/features/classes/editor/ui/features/ui/index.ts
  app/features/classes/types/create.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor: правильный расчет с эпическими дарами
  app/features/calculator/abilities/composables/useAbilitiesCalculator.ts
  app/features/calculator/abilities/composables/useFeatSelect.ts
  app/features/calculator/abilities/model/consts.ts
  app/features/calculator/abilities/model/types.ts
  app/features/calculator/abilities/ui/ScoreDisplay.vue
  app/features/calculator/abilities/ui/components/FeatSlot.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor: правки кода по правилам
  app/features/calculator/abilities/composables/useAbilitiesCalculator.ts
  app/features/calculator/abilities/composables/useBackgroundSelect.ts
  app/features/calculator/abilities/composables/useClassSelect.ts
  app/features/calculator/abilities/composables/useFeatSelect.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

refactor: правильный расчет с эпическими дарами и классами
  app/features/calculator/abilities/CalculatorAbilities.vue
  app/features/calculator/abilities/composables/useAbilitiesCalculator.ts
  app/features/calculator/abilities/composables/useClassSelect.ts
  app/features/calculator/abilities/composables/useFeatSelect.ts
  app/features/calculator/abilities/model/types.ts
  app/features/calculator/abilities/ui/AbilityBonuses.vue
  app/features/calculator/abilities/ui/ScoreDisplay.vue
  app/features/calculator/abilities/ui/components/BackgroundSelect.vue
  app/features/classes/editor/ui/features/ClassEditorFeatures.vue
  app/features/classes/types/create.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: настройка подключения s3
  server/routes/s3/[...slug].get.ts
  server/services/s3Service.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: использование base64 в url строке
  app/features/filter/utils/filterParser.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: добавление шаблона характеристик у класса
  app/assets/icons/trash.svg
  app/features/classes/editor/ClassEditor.vue
  app/features/classes/editor/ui/characteristics/AbilityTemplate.vue
  app/features/classes/editor/ui/characteristics/CharacteristicsSettings.vue
  app/features/classes/editor/ui/characteristics/index.ts
  app/features/classes/editor/ui/features/FeatureAbilityBonus.vue
  app/features/classes/editor/ui/features/FeatureScaling.vue
  app/features/classes/editor/ui/features/FeaturesEditor.vue
  app/features/classes/editor/ui/features/index.ts
  app/features/classes/editor/ui/features/ui/index.ts
  app/features/classes/editor/ui/index.ts
  app/features/classes/editor/ui/proficiency/ProficiencySettings.vue
  app/features/classes/editor/ui/proficiency/index.ts
  app/features/classes/editor/ui/table/TableColumnScaling.vue
  app/features/classes/editor/ui/table/TableEditor.vue
  app/features/classes/editor/ui/table/index.ts
  app/features/classes/editor/ui/table/ui/index.ts
  app/features/classes/model/create.ts
  app/features/home/recent-changes/HomeRecentChanges.vue
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/filter/drawer/FilterDrawer.vue
  app/pages/admin/tokenator.vue
  app/shared/ui/upload/gallery/UploadGallery.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Добавление разделителя (#206)
  app/features/classes/editor/ClassEditor.vue
  app/features/classes/editor/ui/CharacteristicsSettings.vue
  app/features/classes/editor/ui/FeaturesEditor.vue
  app/features/classes/editor/ui/ProficiencySettings.vue
  app/features/classes/editor/ui/TableEditor.vue
  app/features/classes/editor/ui/characteristics/PrimaryCharacteristics.vue
  app/features/classes/editor/ui/characteristics/index.ts
  app/features/classes/editor/ui/features/index.ts
  app/features/classes/editor/ui/index.ts
  app/features/classes/editor/ui/proficiency/index.ts
  app/features/classes/editor/ui/table/index.ts
  app/features/classes/model/create.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Path conditions:
  eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix: any of: *.{cjs,js,ts,jsx,tsx,vue}
  stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix: any of: *.{css,scss,vue}
