Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Использование микросервиса auth для авторизации и аутентификации (#246)
  app/composables/useUser.ts
  app/features/admin/navigation/model/consts.ts
  app/features/admin/users/model/constants.ts
  app/features/admin/users/model/index.ts
  app/features/admin/users/model/types.ts
  app/features/admin/users/ui/AdminUserCard.vue
  app/features/admin/users/ui/index.ts
  app/features/user/auth-modal/AuthModal.vue
  app/features/user/auth-modal/ui/ChangePassword.vue
  app/features/user/auth-modal/ui/SignIn.vue
  app/pages/admin/index.vue
  app/pages/admin/users.vue
  app/pages/reset-password.vue
  app/shared/types/user.ts
  server/api/auth/confirm/email.put.ts
  server/api/auth/logout.get.ts
  server/api/auth/me.get.ts
  server/api/auth/password/reset-confirm.post.ts
  server/api/auth/password/reset-request.post.ts
  server/api/auth/roles/index.get.ts
  server/api/auth/sign-in.post.ts
  server/api/auth/sign-up.post.ts
  server/api/auth/users/[userId]/roles.put.ts
  server/api/auth/users/index.get.ts
  server/utils/authAdminService.ts
  server/utils/authService.ts
  server/utils/getUser.ts
  server/utils/jwt.ts
  server/utils/secrets.ts
  shared/types/auth.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: исправление верификации email
  app/pages/verify-email.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: добавление заголовка в запросе для регистрации и смены пароля, чтобы auth мог определить домен
  server/api/auth/password/reset-request.post.ts
  server/api/auth/sign-up.post.ts
  server/utils/authService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: добавление заголовком для регистрации и смены пароля, чтобы auth мог определить домен
  server/utils/authService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: добавление заголовком для регистрации и смены пароля, чтобы auth мог определить домен
  server/api/auth/confirm/email.put.ts
  server/api/auth/logout.get.ts
  server/api/auth/me.get.ts
  server/api/auth/password/reset-confirm.post.ts
  server/api/auth/password/reset-request.post.ts
  server/api/auth/sign-in.post.ts
  server/api/auth/sign-up.post.ts
  server/api/auth/users/[userId]/roles.put.ts
  server/utils/authAdminService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: поддержка refresh token
  server/api/auth/logout.get.ts
  server/api/auth/sign-in.post.ts
  server/middleware/001.validateAuthToken.ts
  server/middleware/002.appendAuthHeader.ts
  server/utils/authService.ts
  shared/consts/base.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: смена пароля в профиле
  app/features/profile/security/composables/useSecurity.ts
  app/features/profile/security/model/consts.ts
  app/features/profile/security/ui/PasswordChangeCard.vue
  server/api/auth/password/change.post.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: убрал ошибку при загрузке главной для неавторизованного пользователя
  app/features/user/helmet/UserHelmet.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Docs: add .env.example
  .env.example
Due: none

Chore: enable build for test branch to check image weight
  .github/workflows/deploy.yml
Due: none

Migrate to shared-workflows@v1
  .github/workflows/deploy.yml
Due: none

fix: Исправил работу с токеном после авторизации
  app/composables/useUser.ts
  app/features/user/auth-modal/ui/SignIn.vue
  server/utils/getTokenFromRequest.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Добавление роли VTTG
  app/pages/vttg/index.vue
  app/shared/types/user.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Добавление новой роли не валит авторизацию
  app/shared/types/user.ts
  server/utils/authService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

Migrate to shared-workflows@v1 (#247)
  .github/workflows/deploy.yml
Due: none

fix: Обновил README.md
  README.md
Due: none

feat: Трэкер инициативы
  app/features/initiative-tracker/composable/index.ts
  app/features/initiative-tracker/composable/useInitiativeTracker.ts
  app/features/initiative-tracker/model/constants.ts
  app/features/initiative-tracker/model/index.ts
  app/features/initiative-tracker/model/schema.ts
  app/features/initiative-tracker/model/types.ts
  app/features/initiative-tracker/ui/ActiveStatBlockPanel.vue
  app/features/initiative-tracker/ui/CreatureParticipantForm.vue
  app/features/initiative-tracker/ui/CreatureSearchSelect.vue
  app/features/initiative-tracker/ui/CurrentTurnPanel.vue
  app/features/initiative-tracker/ui/EncounterDifficultyPanel.vue
  app/features/initiative-tracker/ui/HpControls.vue
  app/features/initiative-tracker/ui/InitiativeSettingsPanel.vue
  app/features/initiative-tracker/ui/InitiativeTrackerToolbar.vue
  app/features/initiative-tracker/ui/ParticipantList.vue
  app/features/initiative-tracker/ui/ParticipantListItem.vue
  app/features/initiative-tracker/ui/PlayerParticipantForm.vue
  app/features/initiative-tracker/ui/ShareTrackerDialog.vue
  app/features/initiative-tracker/ui/index.ts
  app/pages/tools/initiative-tracker/index.vue
  app/pages/tools/initiative-tracker/shared/[shareToken].vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Исправление текста ошибки при регистрации.
  server/utils/authService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: Внешний счетчик пользователей онлайн
  app/features/home/counters/model/constants.ts
  app/features/home/counters/model/index.ts
  app/features/home/counters/model/schema.ts
  app/features/home/counters/model/types.ts
  app/features/home/counters/ui/MaterialCounter.vue
  app/plugins/online-heartbeat.client.ts
  server/api/online/heartbeat.post.ts
  server/api/online/stats.get.ts
  server/utils/onlineService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Внешний счетчик пользователей онлайн
  app/plugins/online-heartbeat.client.ts
  nuxt.config.ts
  server/api/online/heartbeat.post.ts
  server/api/online/stats.get.ts
  server/domain/online/index.ts
  server/domain/online/service/index.ts
  server/domain/online/service/onlineService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: Внешний счетчик пользователей онлайн (#249)
  app/features/home/counters/model/constants.ts
  app/features/home/counters/model/index.ts
  app/features/home/counters/model/schema.ts
  app/features/home/counters/model/types.ts
  app/features/home/counters/ui/MaterialCounter.vue
  app/plugins/online-heartbeat.client.ts
  nuxt.config.ts
  server/api/online/heartbeat.post.ts
  server/api/online/stats.get.ts
  server/domain/online/index.ts
  server/domain/online/service/index.ts
  server/domain/online/service/onlineService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Внешний счетчик пользователей онлайн
  app/plugins/online-heartbeat.client.ts
  nuxt.config.ts
  server/routes/online/heartbeat.post.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: Внешний счетчик пользователей онлайн
  server/routes/online/heartbeat.post.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: Внешний счетчик пользователей онлайн
  app/plugins/online-heartbeat.client.ts
  runtime-config.d.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

Release/14.1 (#252)
  app/features/home/counters/model/constants.ts
  app/features/home/counters/model/index.ts
  app/features/home/counters/model/schema.ts
  app/features/home/counters/model/types.ts
  app/features/home/counters/ui/MaterialCounter.vue
  app/plugins/online-heartbeat.client.ts
  nuxt.config.ts
  runtime-config.d.ts
  server/api/online/stats.get.ts
  server/domain/online/index.ts
  server/domain/online/service/index.ts
  server/domain/online/service/onlineService.ts
  server/routes/online/heartbeat.post.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Отображение пользователей онлайн в панели администрации
  app/features/admin/online/model/constants.ts
  app/features/admin/online/model/index.ts
  app/features/admin/online/model/types.ts
  app/features/admin/online/ui/AdminOnlineStats.vue
  app/features/admin/online/ui/index.ts
  app/pages/admin/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Отображение пользователей онлайн в панели администрации
  app/features/admin/dashboard/model/constants.ts
  app/features/admin/dashboard/model/index.ts
  app/features/admin/online/model/constants.ts
  app/features/admin/online/ui/AdminOnlineStats.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: пользователи онлайн
  app/features/home/counters/ui/MaterialCounter.vue
  app/pages/admin/index.vue
  app/plugins/online-heartbeat.client.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Добавление версии SRD в формы ввода
  app/features/backgrounds/editor/BackgroundsEditor.vue
  app/features/bestiary/model/create.ts
  app/features/classes/editor/ClassEditor.vue
  app/features/feats/editor/FeatsEditor.vue
  app/features/items/editor/ItemEditor.vue
  app/features/magic-items/editor/MagicItemEditor.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/spells/editor/SpellsEditor.vue
  app/shared/ui/editor/base-info/EditorBaseInfo.vue
  app/shared/ui/editor/base-info/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Добавление версии SRD в формы ввода
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/sources/editor/SourceEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Добавление источника подкласса при выборе в детальнике класса
  app/features/classes/body/ui/ClassRouting.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Release/14.4 (#254)
  app/features/admin/dashboard/model/constants.ts
  app/features/admin/dashboard/model/index.ts
  app/features/admin/online/model/constants.ts
  app/features/admin/online/model/index.ts
  app/features/admin/online/model/types.ts
  app/features/admin/online/ui/AdminOnlineStats.vue
  app/features/admin/online/ui/index.ts
  app/features/backgrounds/editor/BackgroundsEditor.vue
  app/features/bestiary/model/create.ts
  app/features/classes/body/ui/ClassRouting.vue
  app/features/classes/editor/ClassEditor.vue
  app/features/feats/editor/FeatsEditor.vue
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/home/counters/ui/MaterialCounter.vue
  app/features/items/editor/ItemEditor.vue
  app/features/magic-items/editor/MagicItemEditor.vue
  app/features/sources/editor/SourceEditor.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/spells/editor/SpellsEditor.vue
  app/pages/admin/index.vue
  app/plugins/online-heartbeat.client.ts
  app/shared/ui/editor/base-info/EditorBaseInfo.vue
  app/shared/ui/editor/base-info/types.ts
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Улучшение мультикласса
  app/features/classes/body/ClassBody.vue
  app/features/classes/body/MulticlassBody.vue
  app/features/classes/body/ui/FeatureCollapse.vue
  app/features/classes/body/ui/MulticlassLevelInfo.vue
  app/features/classes/body/ui/MulticlassStatsBlock.vue
  app/features/classes/body/ui/StatsBlock.vue
  app/features/classes/body/ui/constants.ts
  app/features/classes/body/ui/index.ts
  app/features/classes/body/ui/table/MulticlassTable.vue
  app/features/classes/model/detail.ts
  app/features/classes/model/schema.ts
  app/features/classes/multiclass-drawer/MulticlassDrawer.vue
  app/features/classes/multiclass-drawer/index.ts
  app/pages/multiclass.vue
  app/shared/ui/select/SelectLevel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(classes): исправления после ревью мультикласса
  app/features/classes/body/MulticlassBody.vue
  app/features/classes/body/ui/MulticlassLevelInfo.vue
  app/features/classes/multiclass-drawer/MulticlassDrawer.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(classes): предзаполнение drawer мультикласса при редактировании
  app/pages/multiclass.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Улучшение мультикласса (#255)
  app/features/classes/body/ClassBody.vue
  app/features/classes/body/MulticlassBody.vue
  app/features/classes/body/ui/FeatureCollapse.vue
  app/features/classes/body/ui/MulticlassLevelInfo.vue
  app/features/classes/body/ui/MulticlassStatsBlock.vue
  app/features/classes/body/ui/StatsBlock.vue
  app/features/classes/body/ui/constants.ts
  app/features/classes/body/ui/index.ts
  app/features/classes/body/ui/table/MulticlassTable.vue
  app/features/classes/model/detail.ts
  app/features/classes/model/schema.ts
  app/features/classes/multiclass-drawer/MulticlassDrawer.vue
  app/features/classes/multiclass-drawer/index.ts
  app/pages/multiclass.vue
  app/shared/ui/select/SelectLevel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Улучшение мультикласса (#256)
  app/features/classes/body/ClassBody.vue
  app/features/classes/body/MulticlassBody.vue
  app/features/classes/body/ui/FeatureCollapse.vue
  app/features/classes/body/ui/MulticlassLevelInfo.vue
  app/features/classes/body/ui/MulticlassStatsBlock.vue
  app/features/classes/body/ui/StatsBlock.vue
  app/features/classes/body/ui/constants.ts
  app/features/classes/body/ui/index.ts
  app/features/classes/body/ui/table/MulticlassTable.vue
  app/features/classes/model/detail.ts
  app/features/classes/model/schema.ts
  app/features/classes/multiclass-drawer/MulticlassDrawer.vue
  app/features/classes/multiclass-drawer/index.ts
  app/pages/multiclass.vue
  app/shared/ui/select/SelectLevel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Path conditions:
  eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix: any of: *.{cjs,js,ts,jsx,tsx,vue}
  stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix: any of: *.{css,scss,vue}
