Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

.lintstagedrc.json:

{
  "*.{cjs,js,ts,jsx,tsx,vue}": [
    "eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix"
  ],
  "*.{css,scss,vue}": [
    "stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix"
  ]
}

fix: мелкие правки по цветам
  app/app.config.ts
  app/assets/css/colors/dark.scss
  app/assets/css/colors/index.scss
  app/assets/css/colors/light.scss
  app/assets/css/colors/svifty7.scss
  app/assets/css/index.scss
  app/assets/css/root/colors.scss
  app/assets/css/root/index.scss
  app/assets/css/tailwind.css
  app/features/bestiary/body/ui/TopBar.vue
  app/features/feats/body/ui/TopBar.vue
  app/features/glossary/body/ui/TopBar.vue
  app/features/magic-items/body/MagicItemBody.vue
  app/features/magic-items/body/ui/TopBar.vue
  app/features/sidebar/panel/SidebarPanel.vue
  app/features/sidebar/popover/SidebarPopover.vue
  app/features/species/link/ui/LinkLineages.vue
  app/features/species/link/ui/LinkPreview.vue
  app/features/spells/body/ui/TopBar.vue
  app/layouts/detail.vue
  app/layouts/section.vue
  app/pages/index.vue
  app/shared/ui/link/SmallLink.vue
  app/shared/ui/skeleton/SmallLinkSkeleton.vue
  app/shared/ui/upload/gallery/UploadGallery.vue
  app/shared/ui/upload/image/UploadImage.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: добавил фильтры во все разделы
  app/pages/backgrounds/index.vue
  app/pages/feats/index.vue
  app/pages/glossary/index.vue
  app/pages/magic-items/index.vue
  app/pages/species/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновил коллапсы
  app/app.config.ts
  app/features/bestiary/body/CreatureBody.vue
  app/features/bestiary/editor/CreatureEditor.vue
  app/features/species/body/SpeciesBody.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/species/lineages/SpeciesLineages.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: сделал компонент коллапса на основе китового
  app/app.config.ts
  app/features/bestiary/body/CreatureBody.vue
  app/features/species/body/SpeciesBody.vue
  app/features/species/lineages/SpeciesLineages.vue
  app/shared/ui/collapse/UiCollapse.vue
  app/shared/ui/collapse/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: новый компонент галереи
  app/features/species/lineages-drawer/SpeciesLineagesDrawer.vue
  app/shared/ui/gallery/UiGallery.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore: update composable
  app/app.vue
  app/composables/useBreakpoints.ts
  app/composables/useCopy.ts
  app/composables/useDayjs.ts
  app/composables/useDrawer.ts
  app/composables/useSidebarPopover.ts
  app/composables/useTheme.ts
  app/composables/useUserRoles.ts
  app/error.vue
  app/features/bestiary/preview/CreaturePreview.vue
  app/features/filter/controls/FilterControls.vue
  app/features/pwa/manifest/PwaManifest.vue
  app/features/pwa/theme-color/PwaThemeColor.vue
  app/features/sidebar/panel/SidebarPanel.vue
  app/features/sidebar/popover/SidebarPopover.vue
  app/features/sidebar/theme-switcher/ThemeSwitcher.vue
  app/features/sidebar/user-helmet/UserHelmet.vue
  app/layouts/detail.vue
  app/shared/composables/index.ts
  app/shared/ui/copy-button/CopyButton.vue
  app/shared/ui/drawer/UiDrawer.vue
  app/shared/ui/drawer/ui/header/DrawerHeader.vue
  app/shared/ui/drawer/ui/title/DrawerTitle.vue
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: правки по цветиам и ошибки
  app/assets/css/colors/dark.scss
  app/assets/css/colors/index.scss
  app/assets/css/colors/light.scss
  app/assets/css/colors/svifty7.scss
  app/features/home/banners/ui/LegacyTtgLink.vue
  app/features/home/banners/ui/MaterialCounter.vue
  app/features/home/sections/HomeSections.vue
  app/features/home/social-links/SocialLinks.vue
  app/features/sidebar/menu/model/const.ts
  app/features/sidebar/popover/SidebarPopover.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление цветов
  app/app.config.ts
  app/assets/css/colors/dark.scss
  app/assets/css/colors/light.scss
  app/assets/css/colors/svifty7.scss
  app/features/bestiary/body/CreatureBody.vue
  app/features/bestiary/link/CreatureLink.vue
  app/features/home/sections/HomeSections.vue
  app/features/species/body/SpeciesBody.vue
  app/features/spells/link/SpellLink.vue
  app/shared/ui/collapse/UiCollapse.vue
  app/shared/ui/link/SmallLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: исправление багов, обновление цветов
  app/app.config.ts
  app/assets/css/colors/dark.scss
  app/assets/css/colors/index.scss
  app/assets/css/colors/light.scss
  app/assets/css/colors/svifty7.scss
  app/assets/css/tailwind.css
  app/features/bestiary/link/CreatureLink.vue
  app/features/filter/list/ui/tag/FilterTag.vue
  app/pages/index.vue
  app/shared/ui/gallery/UiGallery.vue
  app/shared/ui/link/SmallLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление бордера
  app/assets/css/colors/dark.scss
  app/assets/css/colors/light.scss
  app/assets/css/colors/svifty7.scss
  app/features/backgrounds/body/ui/StatsBlock.vue
  app/features/bestiary/body/CreatureBody.vue
  app/features/bestiary/body/ui/stats-block/StatsBlock.vue
  app/features/feats/body/ui/StatsBlock.vue
  app/features/home/banners/ui/LegacyTtgLink.vue
  app/features/home/banners/ui/MaterialCounter.vue
  app/features/home/sections/HomeSections.vue
  app/features/home/social-links/SocialLinks.vue
  app/features/sidebar/panel/SidebarPanel.vue
  app/features/species/link/SpeciesLink.vue
  app/features/spells/body/ui/StatsBlock.vue
  app/pages/species/[url].vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновил цвета своей темы
  app/assets/css/colors/index.scss
  app/assets/css/colors/svifty7.scss
Due: stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление цветов
  app/assets/css/colors/dark.scss
  app/features/backgrounds/body/ui/StatsBlock.vue
  app/features/bestiary/body/ui/stats-block/StatsBlock.vue
  app/features/bestiary/body/ui/stats-block/ui/CreatureAbilitiesTable.vue
  app/features/bestiary/link/CreatureLink.vue
  app/features/feats/body/ui/StatsBlock.vue
  app/features/home/banners/ui/LegacyTtgLink.vue
  app/features/home/banners/ui/MaterialCounter.vue
  app/features/home/sections/HomeSections.vue
  app/features/sidebar/menu/AppMenu.vue
  app/features/sidebar/menu/ui/MenuSection.vue
  app/features/sidebar/panel/SidebarPanel.vue
  app/features/species/link/SpeciesLink.vue
  app/features/spells/body/ui/AffiliationBlock.vue
  app/features/spells/body/ui/DescriptionsBlock.vue
  app/features/spells/body/ui/StatsBlock.vue
  app/features/spells/link/SpellLink.vue
  app/layouts/detail.vue
  app/layouts/section.vue
  app/pages/species/[url].vue
  app/shared/ui/card/CardWorkshop.vue
  app/shared/ui/drawer/ui/header/DrawerHeader.vue
  app/shared/ui/editor/AbilityMastery.vue
  app/shared/ui/link/SmallLink.vue
  app/shared/ui/rating/RatingWidget.vue
  app/shared/ui/upload/gallery/UploadGallery.vue
  app/shared/ui/upload/image/UploadImage.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: начало работы
  app/assets/css/colors/dark.scss
  app/assets/css/colors/light.scss
  app/assets/css/colors/svifty7.scss
  app/features/backgrounds/link/BackgroundLink.vue
  app/features/feats/link/FeatLink.vue
  app/features/glossary/link/GlossaryLink.vue
  app/features/magic-items/link/MagicItemLink.vue
  app/features/sidebar/menu/ui/MenuSection.vue
  app/features/species/link/SpeciesLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление, готово меню во всех темах
  app/assets/css/colors/dark.scss
  app/assets/css/colors/light.scss
  app/assets/css/colors/svifty7.scss
  app/assets/css/global.scss
Due: stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновил цвета своей темы, поправил баг со скрытием дравера
  app/assets/css/colors/svifty7.scss
  app/features/sidebar/panel/SidebarPanel.vue
  app/layouts/default.vue
  app/layouts/detail.vue
  app/layouts/section.vue
  app/middleware/close-overlay.global.ts
  app/shared/ui/link/SmallLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновил цвета
  app/features/backgrounds/link/BackgroundLink.vue
  app/features/bestiary/link/CreatureLink.vue
  app/features/feats/link/FeatLink.vue
  app/features/glossary/link/GlossaryLink.vue
  app/features/magic-items/link/MagicItemLink.vue
  app/features/species/link/SpeciesLink.vue
  app/features/spells/link/SpellLink.vue
  app/shared/ui/link/SmallLink.vue
  app/shared/ui/page/legend/PageLegend.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновил цвета
  app/assets/css/colors/dark.scss
  app/assets/css/colors/light.scss
  app/shared/ui/markup/MarkupRender.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновил цвета (#100)
  app/assets/css/colors/dark.scss
  app/assets/css/colors/light.scss
  app/shared/ui/markup/MarkupRender.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: изменил цвета темы pwa
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: скейлинг страницы при фокусе инпута
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

chore: обновление зависимостей
  .github/workflows/code-check.yml
  app/features/filter/drawer/FilterDrawer.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: компонент GlobalSearch
  app/app.vue
  app/features/search/command-palette/GlobalSearch.vue
  app/features/search/command-palette/index.ts
  app/features/search/model/composable/index.ts
  app/features/search/model/composable/useGlobalSearch.ts
  app/features/search/model/const.ts
  app/features/search/model/types.ts
  app/features/search/model/utils.ts
  app/features/search/panel/SearchPanel.vue
  app/features/sidebar/panel/SidebarPanel.vue
  app/plugins/shortcuts.client.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: правки ревью
  app/app.vue
  app/features/search/command-palette/GlobalSearch.vue
  app/features/search/model/composable/useGlobalSearch.ts
  app/features/search/model/index.ts
  app/features/search/panel/SearchPanel.vue
  app/features/sidebar/panel/SidebarPanel.vue
  app/plugins/shortcuts.client.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: правки по ревью
  app/features/backgrounds/link/BackgroundLink.vue
  app/features/bestiary/link/CreatureLink.vue
  app/features/feats/link/FeatLink.vue
  app/features/glossary/link/GlossaryLink.vue
  app/features/magic-items/link/MagicItemLink.vue
  app/features/search/button/SearchButton.vue
  app/features/search/button/index.ts
  app/features/search/command-palette/GlobalSearch.vue
  app/features/search/command-palette/index.ts
  app/features/search/composable/index.ts
  app/features/search/composable/useGlobalSearch.ts
  app/features/search/model/composable/useGlobalSearch.ts
  app/features/search/model/index.ts
  app/features/search/model/types.ts
  app/features/search/palette/SearchPalette.vue
  app/features/search/palette/index.ts
  app/features/search/palette/model/const.ts
  app/features/search/palette/model/index.ts
  app/features/search/palette/model/types.ts
  app/features/search/palette/model/utils.ts
  app/features/search/panel/SearchPanel.vue
  app/features/sidebar/panel/SidebarPanel.vue
  app/features/species/link/SpeciesLink.vue
  app/features/spells/link/SpellLink.vue
  app/layouts/detail.vue
  app/shared/ui/drawer/ui/header/DrawerHeader.vue
  app/shared/ui/link/SmallLink.vue
  app/shared/ui/source-tag/SourceTag.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: правки по ревью
  app/features/search/palette/SearchPalette.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: перенес кнопку пользователя в соответствующий домен
  app/features/sidebar/panel/SidebarPanel.vue
  app/features/user/helmet/UserHelmet.vue
  app/features/user/helmet/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: добавил магические предметы в поиск
  app/features/search/palette/model/const.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: изменил минимальное количество символов в поиске
  app/features/search/palette/SearchPalette.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: добавил вывод группы источника в поиске
  app/features/search/palette/SearchPalette.vue
  app/shared/ui/source-tag/SourceTag.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: правки мапинга результатов поиска
  app/features/search/palette/SearchPalette.vue
  app/features/search/palette/model/const.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: компонент GlobalSearch (#102)
  app/features/backgrounds/link/BackgroundLink.vue
  app/features/bestiary/link/CreatureLink.vue
  app/features/feats/link/FeatLink.vue
  app/features/glossary/link/GlossaryLink.vue
  app/features/magic-items/link/MagicItemLink.vue
  app/features/search/button/SearchButton.vue
  app/features/search/button/index.ts
  app/features/search/composable/index.ts
  app/features/search/composable/useGlobalSearch.ts
  app/features/search/palette/SearchPalette.vue
  app/features/search/palette/index.ts
  app/features/search/palette/model/const.ts
  app/features/search/palette/model/index.ts
  app/features/search/palette/model/types.ts
  app/features/search/palette/model/utils.ts
  app/features/search/panel/SearchPanel.vue
  app/features/sidebar/panel/SidebarPanel.vue
  app/features/species/link/SpeciesLink.vue
  app/features/spells/link/SpellLink.vue
  app/features/user/helmet/UserHelmet.vue
  app/features/user/helmet/index.ts
  app/layouts/detail.vue
  app/shared/ui/drawer/ui/header/DrawerHeader.vue
  app/shared/ui/link/SmallLink.vue
  app/shared/ui/source-tag/SourceTag.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: добавление общей композиции для редакторов
  app/app.config.ts
  app/composables/useWorkshopForm.ts
  app/features/glossary/editor/GlossaryEditor.vue
  app/pages/workshop/glossary/[url].vue
  app/pages/workshop/glossary/create.vue
  app/shared/ui/editor/base-info/EditorBaseInfo.vue
  app/shared/ui/input/InputUrl.vue
  app/shared/ui/select/SelectTags.vue
  app/shared/ui/select/index.ts
  app/utils/consola.ts
  app/utils/zod.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: объединение логики работы редакторов в одной композиции
  app/composables/useWorkshopForm.ts
  app/features/backgrounds/editor/BackgroundsEditor.vue
  app/features/bestiary/editor/CreatureEditor.vue
  app/features/bestiary/preview/CreaturePreview.vue
  app/features/feats/editor/FeatsEditor.vue
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/magic-items/editor/MagicItemEditor.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/spells/editor/SpellsEditor.vue
  app/pages/workshop/backgrounds/[url].vue
  app/pages/workshop/backgrounds/create.vue
  app/pages/workshop/bestiary/[url].vue
  app/pages/workshop/bestiary/create.vue
  app/pages/workshop/feats/[url].vue
  app/pages/workshop/feats/create.vue
  app/pages/workshop/glossary/[url].vue
  app/pages/workshop/glossary/create.vue
  app/pages/workshop/magic-items/[url].vue
  app/pages/workshop/magic-items/create.vue
  app/pages/workshop/species/[url].vue
  app/pages/workshop/species/create.vue
  app/pages/workshop/spells/[url].vue
  app/pages/workshop/spells/create.vue
  app/shared/ui/editor/EditorFormControls.vue
  app/shared/ui/editor/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: изменил нейминг переменных
  app/composables/useWorkshopForm.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: первая итерация правок для форм (#103)
  app/app.config.ts
  app/composables/useWorkshopForm.ts
  app/features/backgrounds/editor/BackgroundsEditor.vue
  app/features/bestiary/editor/CreatureEditor.vue
  app/features/bestiary/preview/CreaturePreview.vue
  app/features/feats/editor/FeatsEditor.vue
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/magic-items/editor/MagicItemEditor.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/spells/editor/SpellsEditor.vue
  app/pages/workshop/backgrounds/[url].vue
  app/pages/workshop/backgrounds/create.vue
  app/pages/workshop/bestiary/[url].vue
  app/pages/workshop/bestiary/create.vue
  app/pages/workshop/feats/[url].vue
  app/pages/workshop/feats/create.vue
  app/pages/workshop/glossary/[url].vue
  app/pages/workshop/glossary/create.vue
  app/pages/workshop/magic-items/[url].vue
  app/pages/workshop/magic-items/create.vue
  app/pages/workshop/species/[url].vue
  app/pages/workshop/species/create.vue
  app/pages/workshop/spells/[url].vue
  app/pages/workshop/spells/create.vue
  app/shared/ui/editor/EditorFormControls.vue
  app/shared/ui/editor/base-info/EditorBaseInfo.vue
  app/shared/ui/editor/index.ts
  app/shared/ui/input/InputUrl.vue
  app/shared/ui/select/SelectTags.vue
  app/shared/ui/select/index.ts
  app/utils/consola.ts
  app/utils/zod.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: правки форм
  app/composables/useWorkshopForm.ts
  app/features/backgrounds/editor/BackgroundsEditor.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/species/link/SpeciesLink.vue
  app/shared/ui/editor/base-info/EditorBaseInfo.vue
  app/shared/ui/select/SelectMastery.vue
  app/shared/ui/select/SelectSkills.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore: обновление зависимостей
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: разрешение админам удалять файлы с s3 от любого пользователя
  server/routes/s3/[...slug].delete.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix
