Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

.lintstagedrc.json:

{
  "*.{cjs,js,ts,jsx,tsx,vue}": [
    "eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix"
  ],
  "*.{css,scss,vue}": [
    "stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix"
  ]
}

исправление
  pnpm-lock.yaml
Due: none

исправление
  app/shared/ui/select/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

Feature/glossary (#78)
  app/features/glossary/body/GlossaryBody.vue
  app/features/glossary/body/index.ts
  app/features/glossary/body/model/const.ts
  app/features/glossary/body/model/index.ts
  app/features/glossary/body/ui/DescriptionsBlock.vue
  app/features/glossary/body/ui/TopBar.vue
  app/features/glossary/body/ui/index.ts
  app/features/glossary/drawer/GlossaryDrawer.vue
  app/features/glossary/drawer/index.ts
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/glossary/editor/index.ts
  app/features/glossary/link/GlossaryLink.vue
  app/features/glossary/link/index.ts
  app/features/home/sections/model/const.ts
  app/features/sidebar/menu/AppMenu.vue
  app/features/workshop/section/SectionGlossary.vue
  app/features/workshop/section/index.ts
  app/pages/glossary/[url].vue
  app/pages/glossary/index.vue
  app/pages/workshop/glossary/create.vue
  app/pages/workshop/glossary/index.vue
  app/pages/workshop/index.vue
  app/shared/types/character/glossary/create.ts
  app/shared/types/character/glossary/detail.ts
  app/shared/types/character/glossary/index.ts
  app/shared/types/character/glossary/link.ts
  app/shared/types/character/index.ts
  app/shared/ui/drawer/collection/DrawerCollection.vue
  app/shared/ui/select/SelectTagCategory.vue
  app/shared/ui/select/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

не полностью готово
  app/features/glossary/body/ui/TopBar.vue
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/sidebar/menu/AppMenu.vue
  app/pages/workshop/glossary.vue
  app/pages/workshop/glossary/[url].vue
  app/shared/ui/drawer/collection/DrawerCollection.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

исправление кнопки "редактирование"
  app/features/glossary/drawer/GlossaryDrawer.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

исправление лайнера
  app/pages/workshop/glossary.vue
  app/pages/workshop/glossary/[url].vue
  app/shared/ui/drawer/collection/DrawerCollection.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

исправление
  app/features/glossary/body/model/const.ts
  app/features/glossary/body/model/index.ts
  app/features/glossary/body/ui/index.ts
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/glossary/editor/ui/SelectTagCategory.vue
  app/features/glossary/types/detail.ts
  app/features/glossary/types/link.ts
  app/pages/glossary/[url].vue
  app/pages/glossary/index.vue
  app/pages/workshop/glossary/create.vue
  app/shared/types/character/index.ts
  app/shared/ui/select/index.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

исправление тегКатегорий
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/glossary/editor/ui/SelectTagCategory.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

исправил расположение
  app/features/glossary/types/create.ts
  app/features/glossary/types/detail.ts
  app/features/glossary/types/index.ts
  app/features/glossary/types/link.ts
  app/shared/types/character/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

Глоссарий (#79)
  app/features/glossary/body/GlossaryBody.vue
  app/features/glossary/body/index.ts
  app/features/glossary/body/ui/DescriptionsBlock.vue
  app/features/glossary/body/ui/TopBar.vue
  app/features/glossary/body/ui/index.ts
  app/features/glossary/drawer/GlossaryDrawer.vue
  app/features/glossary/drawer/index.ts
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/glossary/editor/index.ts
  app/features/glossary/link/GlossaryLink.vue
  app/features/glossary/link/index.ts
  app/features/glossary/types/create.ts
  app/features/glossary/types/detail.ts
  app/features/glossary/types/index.ts
  app/features/glossary/types/link.ts
  app/features/home/sections/model/const.ts
  app/features/sidebar/menu/AppMenu.vue
  app/features/workshop/section/SectionGlossary.vue
  app/features/workshop/section/index.ts
  app/pages/glossary/[url].vue
  app/pages/glossary/index.vue
  app/pages/workshop/glossary.vue
  app/pages/workshop/glossary/[url].vue
  app/pages/workshop/glossary/create.vue
  app/pages/workshop/glossary/index.vue
  app/pages/workshop/index.vue
  app/shared/types/character/index.ts
  app/shared/ui/drawer/collection/DrawerCollection.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: фильтр на десктоп
  app/assets/styles/ant.scss
  app/features/filter/composable/useFilter.ts
  app/features/filter/drawer/FilterDrawer.vue
  app/features/filter/list/FilterList.vue
  app/features/filter/list/index.ts
  app/features/filter/list/ui/group/FilterGroup.vue
  app/features/filter/list/ui/group/index.ts
  app/features/filter/list/ui/index.ts
  app/features/filter/list/ui/tag/FilterTag.vue
  app/features/filter/list/ui/tag/index.ts
  app/features/filter/preview/FilterPreview.vue
  app/pages/spells/index.vue
  app/shared/ui/link/SmallLink.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: начало фильтров
  app/assets/styles/global.scss
  app/features/filter/button/FilterButton.vue
  app/features/filter/button/index.ts
  app/features/filter/composable/index.ts
  app/features/filter/composable/useFilter.ts
  app/features/filter/drawer/FilterDrawer.vue
  app/features/filter/drawer/index.ts
  app/features/filter/preview/FilterPreview.vue
  app/features/filter/preview/index.ts
  app/features/filter/tag/FilterTag.vue
  app/features/filter/tag/index.ts
  app/features/filter/types.ts
  app/layouts/default.vue
  app/pages/spells/index.vue
  app/pages/user/profile/index.vue
  app/shared/stores/userStore.ts
  app/shared/types/base.ts
  app/shared/ui/drawer/actions/DrawerActions.vue
  app/shared/ui/drawer/component/DrawerComponent.vue
  app/shared/ui/page/PageContainer.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: sticky превью фильтра
  app/shared/ui/page/container/PageContainer.vue
  app/shared/ui/page/container/index.ts
  app/shared/ui/page/container/ui/PageControls.vue
  app/shared/ui/page/container/ui/index.ts
  app/shared/ui/page/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: изменил переменные шаблона
  app/shared/ui/page/container/ui/PageControls.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore: remove comments and test data
  app/shared/ui/page/container/ui/PageControls.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Фильтр заклинаний (#80)
  app/assets/styles/ant.scss
  app/assets/styles/global.scss
  app/features/filter/button/FilterButton.vue
  app/features/filter/button/index.ts
  app/features/filter/composable/index.ts
  app/features/filter/composable/useFilter.ts
  app/features/filter/drawer/FilterDrawer.vue
  app/features/filter/drawer/index.ts
  app/features/filter/list/FilterList.vue
  app/features/filter/list/index.ts
  app/features/filter/list/ui/group/FilterGroup.vue
  app/features/filter/list/ui/group/index.ts
  app/features/filter/list/ui/index.ts
  app/features/filter/list/ui/tag/FilterTag.vue
  app/features/filter/list/ui/tag/index.ts
  app/features/filter/preview/FilterPreview.vue
  app/features/filter/preview/index.ts
  app/features/filter/types.ts
  app/layouts/default.vue
  app/pages/spells/index.vue
  app/pages/user/profile/index.vue
  app/shared/stores/userStore.ts
  app/shared/types/base.ts
  app/shared/ui/drawer/actions/DrawerActions.vue
  app/shared/ui/drawer/component/DrawerComponent.vue
  app/shared/ui/link/SmallLink.vue
  app/shared/ui/page/container/PageContainer.vue
  app/shared/ui/page/container/index.ts
  app/shared/ui/page/container/ui/PageControls.vue
  app/shared/ui/page/container/ui/index.ts
  app/shared/ui/page/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

фильтры в другом месте и теги
  app/features/glossary/editor/GlossaryEditor.vue
  app/pages/glossary/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

поправил ошибку формата
  app/features/glossary/editor/GlossaryEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

поправил пробел
  app/features/glossary/editor/GlossaryEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

исправление
  app/features/glossary/legend/GlossaryLegend.vue
  app/features/glossary/legend/index.ts
  app/pages/glossary/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

исправление
  app/pages/glossary/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Feature/Glossary-Fix (#81)
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/glossary/legend/GlossaryLegend.vue
  app/features/glossary/legend/index.ts
  app/pages/glossary/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Добавление в markup виртуальной ссылки при нажатии на которую открывается drawer
  app/shared/ui/markup/parser/parser.ts
  app/shared/ui/markup/renderer/renderFeatureLink.ts
  app/shared/ui/markup/renderer/renderer.ts
  app/shared/ui/markup/types.ts
  app/shared/ui/markup/utils/marker.ts
  app/shared/ui/markup/utils/node.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

Исправление по ревью
  app/shared/ui/markup/parser/parser.ts
  app/shared/ui/markup/renderer/renderFeatureLink.ts
  app/shared/ui/markup/renderer/renderer.ts
  app/shared/ui/markup/types.ts
  app/shared/ui/markup/utils/node.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

Добавление в markup виртуальной ссылки при нажатии на которую открывается drawer (#82)
  app/shared/ui/markup/parser/parser.ts
  app/shared/ui/markup/renderer/renderFeatureLink.ts
  app/shared/ui/markup/renderer/renderer.ts
  app/shared/ui/markup/types.ts
  app/shared/ui/markup/utils/marker.ts
  app/shared/ui/markup/utils/node.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

Добавление маппинга тэга ну путь к API
  app/shared/ui/markup/renderer/renderFeatureLink.ts
  app/shared/ui/markup/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

Исправление renderFeatureNode
  app/shared/ui/markup/renderer/renderFeatureLink.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

убрал базовый тег
  app/features/glossary/editor/GlossaryEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Глоссарий - убран в редакторе глоссария "базовый тег" (#83)
  app/features/glossary/editor/GlossaryEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: - обновил немного навигацию в виде блоков на главной - обнвил немного светлую тему
  app/assets/styles/root/colors.scss
  app/features/home/sections/HomeSections.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: сделал фильтр заклинаний
  app/app.vue
  app/features/filter/button/FilterButton.vue
  app/features/filter/composable/useFilter.ts
  app/features/filter/controls/FilterControls.vue
  app/features/filter/controls/index.ts
  app/features/filter/controls/ui/button/FilterButton.vue
  app/features/filter/controls/ui/button/index.ts
  app/features/filter/controls/ui/index.ts
  app/features/filter/drawer/FilterDrawer.vue
  app/features/filter/list/ui/tag/FilterTag.vue
  app/features/filter/preview/FilterPreview.vue
  app/features/pwa/favicons/PwaFavicons.vue
  app/features/pwa/theme-color/PwaThemeColor.vue
  app/features/spells/legend/SpellLegend.vue
  app/layouts/default.vue
  app/pages/spells/index.vue
  app/shared/ui/page/PageGrid.vue
  app/shared/ui/page/PageHeader.vue
  app/shared/ui/page/container/PageContainer.vue
  app/shared/ui/page/container/ui/PageControls.vue
  app/shared/ui/page/container/ui/index.ts
  app/shared/ui/page/index.ts
  app/shared/ui/page/legend/PageLegend.vue
  app/shared/ui/page/legend/index.ts
  app/shared/ui/page/legend/types.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/routes/manifest.json.get.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: удалил тестовый код
  app/features/filter/composable/useFilter.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: исправил поиск в других разделах
  app/assets/styles/ant.scss
  app/features/backgrounds/legend/BackgroundLegend.vue
  app/features/feats/legend/FeatLegend.vue
  app/features/glossary/legend/GlossaryLegend.vue
  app/features/magic-items/legend/MagicItemLegend.vue
  app/features/species/legend/SpeciesLegend.vue
  app/pages/backgrounds/index.vue
  app/pages/feats/index.vue
  app/pages/glossary/index.vue
  app/pages/magic-items/index.vue
  app/pages/species/index.vue
  app/shared/ui/page/container/PageContainer.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: исправил баги по фильтру
  app/features/filter/drawer/FilterDrawer.vue
  app/shared/ui/page/container/PageContainer.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: исправил баг со скроллом
  app/shared/ui/page/container/PageContainer.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: в магически предлметак изменил положения картинки.
  app/features/magic-items/body/MagicItemBody.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix
