Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

.lintstagedrc.json:

{
  "*.{cjs,js,ts,jsx,tsx,vue}": [
    "eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix"
  ],
  "*.{css,scss,vue}": [
    "stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix"
  ]
}

fix: test
  server/api/auth/sign-up.post.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: test
  .github/workflows/deploy.yml
  Dockerfile
  nuxt.config.ts
  package.json
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: test
  server/middleware/errorHandler.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: test
  .github/workflows/deploy.yml
Due: none

fix: test
  Dockerfile
Due: none

fix: test
  package.json
Due: none

feat: ci/cd created
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  .gitignore
  Dockerfile
  nuxt.config.ts
  package-lock.json
  package.json
  server/api/auth/sign-in.post.ts
  server/api/auth/sign-up.post.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: nuxt config
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

chore: update package-lock.json
  package-lock.json
Due: none

fix: mongodb connection
  .github/workflows/deploy.yml
  app/plugins/proxy.ts
  package-lock.json
  package.json
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: ci/cd
  .github/workflows/deploy.yml
Due: none

fix: errors with seo
  app/assets/styles/variables/mixins.scss
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: docker cluster
  .github/workflows/deploy.yml
Due: none

fix: remove cluster mode
  .github/workflows/deploy.yml
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: connection to mongo
  .github/workflows/deploy.yml
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: connection to mongo
  .github/workflows/deploy.yml
Due: none

feat: start species
  app/pages/species/[url].vue
  app/pages/species/index.vue
  shared/types/character/species.ts
  shared/zod/base.ts
  shared/zod/character/species.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: base species
  app/app.vue
  app/assets/styles/ant.scss
  app/assets/styles/global.scss
  app/assets/styles/root/colors.scss
  app/components/auth/changePassowrd.client.vue
  app/components/auth/modal.client.vue
  app/components/auth/signIn.client.vue
  app/components/auth/signUp.client.vue
  app/components/character/species/link.vue
  app/components/character/species/related.client.vue
  app/components/detail/header.vue
  app/components/image/gallery.vue
  app/components/layout/default.vue
  app/components/nav/bar.vue
  app/components/nav/button/theme.client.vue
  app/components/nav/button/user.client.vue
  app/components/nav/popover.client.vue
  app/components/svg/icon.vue
  app/layouts/default.vue
  app/layouts/section/one-column.vue
  app/pages/species/[url].vue
  app/pages/species/index.vue
  eslint.config.js
  nuxt.config.ts
  package-lock.json
  package.json
  public/img/no-img.webp
  shared/types/base.ts
  shared/zod/base.ts
  shared/zod/character/species.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Первая итерация Видов (#4)
  app/app.vue
  app/assets/styles/ant.scss
  app/assets/styles/global.scss
  app/assets/styles/root/colors.scss
  app/components/auth/changePassowrd.client.vue
  app/components/auth/modal.client.vue
  app/components/auth/signIn.client.vue
  app/components/auth/signUp.client.vue
  app/components/character/species/link.vue
  app/components/character/species/related.client.vue
  app/components/detail/header.vue
  app/components/image/gallery.vue
  app/components/layout/default.vue
  app/components/nav/bar.vue
  app/components/nav/button/theme.client.vue
  app/components/nav/button/user.client.vue
  app/components/nav/popover.client.vue
  app/components/svg/icon.vue
  app/layouts/default.vue
  app/layouts/section/one-column.vue
  app/pages/species/[url].vue
  app/pages/species/index.vue
  eslint.config.js
  nuxt.config.ts
  package-lock.json
  package.json
  public/img/no-img.webp
  shared/types/base.ts
  shared/types/character/species.ts
  shared/zod/base.ts
  shared/zod/character/species.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: api queries proxy
  .github/workflows/deploy.yml
  app/pages/species/index.vue
  app/plugins/proxy.ts
  nuxt.config.ts
  server/api/[...].ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: CSP
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: seo in species
  app/pages/species/[url].vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: seo in species
  .github/workflows/deploy.yml
  app/pages/species/[url].vue
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

some fixes
  app/pages/species/[url].vue
  nuxt.config.ts
  server/models/user.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: change db; feat: update build
  .dockerignore
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  Dockerfile
  docker-entrypoint.sh
  nuxt.config.ts
  package-lock.json
  package.json
  server/api/[...].ts
  server/api/auth/exist.get.ts
  server/api/auth/sign-in.post.ts
  server/api/auth/sign-up.post.ts
  server/api/user/profile.get.ts
  server/models/user.ts
  server/prisma/migrations/20241125234630_init/migration.sql
  server/prisma/migrations/20241126002246_user_updated_at/migration.sql
  server/prisma/migrations/migration_lock.toml
  server/prisma/schema/schema.prisma
  server/prisma/schema/user.prisma
  server/routes/auth/verify.get.ts
  server/utils/getUserFromToken.ts
  server/utils/jwt.ts
  server/utils/prisma.ts
  shared/zod/user.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: pr branches in action
  .github/workflows/deploy.yml
Due: none

fix: registry url
  .github/workflows/deploy.yml
Due: none

chore: update deploy
  .github/workflows/deploy.yml
Due: none

Смена базы данных и обновление деплоя (#5)
  .dockerignore
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  Dockerfile
  docker-entrypoint.sh
  nuxt.config.ts
  package-lock.json
  package.json
  server/api/[...].ts
  server/api/auth/exist.get.ts
  server/api/auth/sign-in.post.ts
  server/api/auth/sign-up.post.ts
  server/api/user/profile.get.ts
  server/models/user.ts
  server/prisma/migrations/20241125234630_init/migration.sql
  server/prisma/migrations/20241126002246_user_updated_at/migration.sql
  server/prisma/migrations/migration_lock.toml
  server/prisma/schema/schema.prisma
  server/prisma/schema/user.prisma
  server/routes/auth/verify.get.ts
  server/utils/getUserFromToken.ts
  server/utils/jwt.ts
  server/utils/prisma.ts
  shared/zod/user.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: забыл указать сервис для перезапуска
  .github/workflows/deploy.yml
Due: none

feat: добавил логику проверки прав доступа перед входом в защищенный раздел.
  app/app.vue
  app/assets/styles/global.scss
  app/components/auth/signIn.client.vue
  app/components/character/species/link.vue
  app/components/nav/button/user.client.vue
  app/error.vue
  app/layouts/default.vue
  app/middleware/auth.global.ts
  app/pages/index.d.ts
  app/pages/species/index.vue
  app/stores/userStore.ts
  app/utils/getStatusMessage.ts
  nuxt.run.xml
  package-lock.json
  package.json
  server/api/auth/sign-in.post.ts
  server/api/user/role.get.ts
  server/middleware/001.validateAuthToken.ts
  server/utils/getUserFromToken.ts
  shared/utils/getErrorResponse.ts
  shared/zod/user.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: кнопки перехода к следующему и предыдущему детальнику
  app/app.vue
  app/assets/styles/ant.scss
  app/assets/styles/global.scss
  app/assets/styles/root/index.scss
  app/assets/styles/variables/mixins.scss
  app/components/nav/bar.vue
  app/components/nav/page.vue
  app/components/nav/popover.client.vue
  app/components/svg/icon.vue
  app/error.vue
  app/layouts/default.vue
  app/layouts/empty.vue
  app/pages/species/[url].vue
  app/pages/species/index.vue
  app/pages/workshop.vue
  shared/zod/base.ts
  shared/zod/character/species.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: изменение user id на UUID; chore: update prisma
  package-lock.json
  package.json
  server/prisma/schema/schema.prisma
  server/prisma/schema/user.prisma
Due: none

feat: обновлена проверка пользователя; feat: вынесение утилит на глобальный уровень
  app/middleware/auth.global.ts
  app/utils/getStatusMessage.ts
  shared/utils/getErrorResponse.ts
  shared/utils/getStatusMessage.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: обновлена проверка пользователя
  app/error.vue
  app/middleware/auth.global.ts
  server/utils/getUserFromToken.ts
  shared/utils/getStatusMessage.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix
