Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Калькулятор - характеристики из шаблона класса (#203)
  app/features/calculator/abilities/CalculatorAbilities.vue
  app/features/calculator/abilities/composables/useClassSelect.ts
  app/features/calculator/abilities/model/consts.ts
  app/features/calculator/abilities/model/types.ts
  app/features/calculator/abilities/ui/AbilityBonuses.vue
  app/features/calculator/abilities/ui/tabs/StandardArray.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

ai: поправил правила ии-агентов
  AGENTS.md
  PROJECT_MAP.md
Due: none

fix: правки
  app/composables/useDayjs.ts
  app/features/calculator/abilities/ui/tabs/StandardArray.vue
  app/features/classes/editor/ui/characteristics/AbilityTemplate.vue
  app/features/tokenator/composables/useTokenatorCanvas.ts
  app/features/tokenator/composables/useTokenatorGestures.ts
  app/features/tokenator/index.ts
  app/features/tokenator/model/utils/draw.ts
  app/features/tokenator/preview/ui/PreviewCanvas.vue
  app/pages/admin/tokenator.vue
  app/pages/tokenator/index.vue
  app/shared/ui/collapse/UiCollapse.vue
  app/shared/ui/select/SelectAbilities.vue
  eslint.config.js
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore: обновление библиотек
  package.json
  pnpm-lock.yaml
Due: none

feat: источники (#207)
  AGENTS.md
  app/app.config.ts
  app/features/infrastructure/sidebar/menu/model/const.ts
  app/features/sources/body/SourceBody.vue
  app/features/sources/body/index.ts
  app/features/sources/body/ui/StatsBlock.vue
  app/features/sources/body/ui/index.ts
  app/features/sources/drawer/SourceDrawer.vue
  app/features/sources/drawer/index.ts
  app/features/sources/editor/SourceEditor.vue
  app/features/sources/editor/index.ts
  app/features/sources/editor/ui/SourceType.vue
  app/features/sources/editor/ui/index.ts
  app/features/sources/link/SourceLink.vue
  app/features/sources/link/index.ts
  app/features/sources/preview/SourcePreview.vue
  app/features/sources/preview/index.ts
  app/features/sources/types/create.ts
  app/features/sources/types/detail.ts
  app/features/sources/types/index.ts
  app/features/sources/types/link.ts
  app/features/workshop/section/SectionSources.vue
  app/features/workshop/section/index.ts
  app/pages/sources/[url].vue
  app/pages/sources/index.vue
  app/pages/workshop/index.vue
  app/pages/workshop/sources.vue
  app/pages/workshop/sources/[url].vue
  app/pages/workshop/sources/create.vue
  app/pages/workshop/sources/index.vue
  app/shared/api/dictionaries.ts
  app/shared/ui/date-picker/DatePicker.vue
  app/shared/ui/date-picker/index.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Группировка списка по функции, а не по полю (#208)
  app/features/bestiary/composable/useChallengeRatingGroupOrder.ts
  app/features/magic-items/composable/useMagicItemRarityGroupOrder.ts
  app/features/sources/link/SourceLink.vue
  app/features/sources/link/ui/LinkPreview.vue
  app/features/sources/link/ui/index.ts
  app/features/sources/types/link.ts
  app/pages/bestiary/index.vue
  app/pages/magic-items/index.vue
  app/pages/sources/index.vue
  app/pages/spells/index.vue
  app/shared/ui/grouped-list/GroupedList.vue
  shared/utils/index.ts
  shared/utils/sortString.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor: макрофикс
  app/shared/ui/animated-number/AnimatedNumber.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: поправил иконку
  app/shared/ui/result/UiResult.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: поправил иконку
  app/pages/tokenator/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: поправил толщину иконок
  app/app.config.ts
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

refactor: обновление проверки ролей пользователя
  app/composables/useTheme.ts
  app/composables/useUser.ts
  app/composables/useUserRoles.ts
  app/features/home/greetings/HomeGreetings.vue
  app/features/user/auth-modal/ui/SignIn.vue
  app/features/user/helmet/UserHelmet.vue
  app/features/user/helmet/ui/UserInfo.vue
  app/features/user/helmet/ui/index.ts
  app/middleware/auth.global.ts
  app/shared/types/upload.ts
  app/shared/ui/input/InputUrl.vue
  app/utils/preventRouting.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  server/domain/s3/service/s3Service.ts
  server/domain/s3/utils/s3.ts
  server/middleware/001.validateAuthToken.ts
  server/middleware/002.appendAuthHeader.ts
  server/routes/s3/[...slug].delete.ts
  server/routes/s3/[...slug].get.ts
  server/routes/s3/upload.post.ts
  server/utils/getCompressed.ts
  server/utils/getCompressedImage.ts
  server/utils/getTokenFromRequest.ts
  server/utils/getUser.ts
  server/utils/jwt.ts
  shared/types/auth.ts
  shared/types/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor: обновление зависимостей
  package.json
  pnpm-lock.yaml
Due: none

fix: поправил хранение пользователей
  PROJECT_MAP.md
  app/composables/useUser.ts
  app/composables/useUserRoles.ts
  app/features/home/sections/HomeSections.vue
  app/features/infrastructure/sidebar/menu/ui/MenuSection.vue
  app/features/user/auth-modal/ui/SignIn.vue
  app/features/user/helmet/UserHelmet.vue
  app/middleware/admin.ts
  app/pages/roadmap.vue
  app/shared/stores/index.ts
  app/shared/stores/userStore.ts
  app/shared/ui/drawer/ui/actions/DrawerActions.vue
  app/shared/ui/page/PageActions.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor: обновление зависимостей
  app/composables/useCanvasExport.ts
  app/composables/useTheme.ts
  app/composables/useUser.ts
  app/features/dice-roller/composables/useDiceRoller.ts
  app/features/dice-roller/model/db.ts
  app/features/infrastructure/filter/composable/useFilter.ts
  app/features/infrastructure/filter/utils/filterParser.ts
  app/features/tokenator/composables/useTokenatorCanvas.ts
  app/features/tokenator/composables/useTokenatorLayers.ts
  app/features/tokenator/composables/useTokenatorStore.ts
  app/features/tokenator/model/utils/draw.ts
  app/features/user/helmet/UserHelmet.vue
  app/pages/admin/tokenator.vue
  app/shared/ui/icon/SvgIcon.vue
  app/shared/ui/icon/SvgLoading.vue
  app/shared/ui/markup/MarkupRender.vue
  app/shared/ui/markup/utils.ts
  app/shared/ui/upload/gallery/UploadGallery.vue
  app/shared/ui/upload/image/UploadImage.vue
  app/utils/icons.ts
  modules/auto-aliases.ts
  package.json
  pnpm-lock.yaml
  server/domain/s3/service/s3Service.ts
  server/routes/s3/[...slug].get.ts
  server/routes/s3/upload.post.ts
  shared/utils/consola.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Новости
  app/pages/admin/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: исправление ширины столбца
  app/features/backgrounds/editor/BackgroundsEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: добавление поля ввода суффикса для черт в предыстории (например черта Посвящённый в магию [Magic Initiate] в предыстории Мудрец)
  app/features/backgrounds/editor/BackgroundsEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: добавление поля ввода суффикса для черт в предыстории (например черта Посвящённый в магию [Magic Initiate] в предыстории Мудрец)
  app/features/backgrounds/editor/BackgroundsEditor.vue
  app/features/backgrounds/model/create.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: добавил плейсхолдер
  app/features/backgrounds/editor/BackgroundsEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Добавление поля ввода суффикса для черт в предыстории (#211)
  app/features/backgrounds/editor/BackgroundsEditor.vue
  app/features/backgrounds/model/create.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление логотипа и фавикона
  app/assets/css/colors/dark.scss
  app/shared/ui/icon/SvgLogo.vue
  public/favicons/128x128.png
  public/favicons/192x192.png
  public/favicons/384x384.png
  public/favicons/48x48.png
  public/favicons/512x512.png
  public/favicons/72x72.png
  public/favicons/96x96.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon.svg
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: исправил фавикон
  public/favicons/favicon.svg
Due: none

feat: фавикон lint:write
  public/favicons/favicon.svg
Due: none

feat: обновил фавикон
  public/favicons/favicon.svg
Due: none

feat: обновил чере SVGOMG
  public/favicons/favicon.svg
Due: none

feat: еще раз обновление
  app/shared/ui/icon/SvgLogo.vue
  public/favicons/128x128.png
  public/favicons/192x192.png
  public/favicons/384x384.png
  public/favicons/48x48.png
  public/favicons/512x512.png
  public/favicons/72x72.png
  public/favicons/96x96.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon.svg
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: еще раз обновление
  public/favicons/128x128.png
  public/favicons/192x192.png
  public/favicons/384x384.png
  public/favicons/48x48.png
  public/favicons/512x512.png
  public/favicons/72x72.png
  public/favicons/96x96.png
  public/favicons/apple-touch-icon.png
Due: none

feat: еще раз обновление лого
  app/shared/ui/icon/SvgLogo.vue
  public/favicons/128x128.png
  public/favicons/192x192.png
  public/favicons/384x384.png
  public/favicons/48x48.png
  public/favicons/512x512.png
  public/favicons/72x72.png
  public/favicons/96x96.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon.svg
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление логотипа и фавикона (#210)
  app/assets/css/colors/dark.scss
  app/shared/ui/icon/SvgLogo.vue
  public/favicons/128x128.png
  public/favicons/192x192.png
  public/favicons/384x384.png
  public/favicons/48x48.png
  public/favicons/512x512.png
  public/favicons/72x72.png
  public/favicons/96x96.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon.svg
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Интеграция с полиморфер
  app/composables/usePolymorpher.ts
  app/features/games/PolymorpherGameCard.vue
  app/features/games/index.ts
  app/pages/games/index.vue
  app/shared/types/polymorpher.ts
  nuxt.config.ts
  server/api/polymorpher/games.get.ts
  server/api/polymorpher/join.get.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Интеграция с полиморфер
  app/features/games/PolymorpherGameCard.vue
  app/pages/games/index.vue
  server/api/polymorpher/games.get.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Интеграция с полиморфер
  app/pages/games/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Интеграция с полиморфер, динамический скролл
  app/pages/games/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Интеграция с полиморфер, иконки пользователей
  app/features/games/PolymorpherGameCard.vue
  app/pages/games/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Path conditions:
  eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix: any of: *.{cjs,js,ts,jsx,tsx,vue}
  stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix: any of: *.{css,scss,vue}
