Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

.lintstagedrc.json:

{
  "*.{cjs,js,ts,jsx,tsx,vue}": [
    "eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix"
  ],
  "*.{css,scss,vue}": [
    "stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix"
  ]
}

fix: разрешение админам удалять файлы с s3 от любого пользователя
  server/routes/s3/[...slug].delete.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: ошибка ts
  server/routes/s3/[...slug].delete.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: husky -> simple-git-hooks
  package.json
  pnpm-lock.yaml
Due: none

feat: испровления описания у Видов
  app/features/species/body/SpeciesBody.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: иправление адаптива
  app/features/search/panel/SearchPanel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновил цвета поля поиска, исправление адаптива, испавление бага в статблоке бестиария
  app/assets/css/colors/dark.scss
  app/features/bestiary/body/ui/stats-block/ui/CreatureAbilitiesTable.vue
  app/features/search/panel/SearchPanel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: обновление картинки на главной
  app/features/search/panel/SearchPanel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: правочка
  package.json
Due: none

feat: правки по сообщению на главной
  app/assets/css/colors/index.scss
  app/features/search/panel/SearchPanel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Правки по поиску и добавление цитат на главной (#104)
  app/assets/css/colors/dark.scss
  app/assets/css/colors/index.scss
  app/features/bestiary/body/ui/stats-block/ui/CreatureAbilitiesTable.vue
  app/features/search/panel/SearchPanel.vue
  app/features/species/body/SpeciesBody.vue
  package.json
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: добовление появления случайного персонажа с случайно цитотой из его репертуара
  app/features/search/panel/SearchPanel.vue
  app/features/search/panel/model/const.ts
  app/features/search/panel/model/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: изменения загрузки цитат
  app/features/search/panel/SearchPanel.vue
  app/features/search/panel/model/const.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: шрифт толще
  app/features/search/panel/SearchPanel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: правочка
  app/features/home/greetings/HomeGreetings.vue
  app/features/home/greetings/index.ts
  app/features/home/sections/model/const.ts
  app/features/search/panel/SearchPanel.vue
  app/features/search/panel/model/index.ts
  server/api/greetings/index.get.ts
  server/const/greetings.ts
  server/types/greetings.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: сделал подобие DDD методологии для приветствия
  app/features/home/banners/ui/LegacyTtgLink.vue
  app/features/home/greetings/HomeGreetings.vue
  server/api/greetings/index.get.ts
  server/domain/greetings/const/greetingsCharacters.ts
  server/domain/greetings/const/index.ts
  server/domain/greetings/dto/GreetingsResponse.ts
  server/domain/greetings/dto/index.ts
  server/domain/greetings/index.ts
  server/domain/greetings/model/GreetingsCharacter.ts
  server/domain/greetings/model/index.ts
  server/domain/greetings/repository/GreetingsRepository.ts
  server/domain/greetings/repository/index.ts
  server/domain/greetings/service/GreetingsService.ts
  server/domain/greetings/service/impl/GreetingsServiceImpl.ts
  server/domain/greetings/service/impl/index.ts
  server/domain/greetings/service/index.ts
  server/types/greetings.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Добавление персонажей на главную страницу (#105)
  app/features/home/banners/ui/LegacyTtgLink.vue
  app/features/home/greetings/HomeGreetings.vue
  app/features/home/greetings/index.ts
  app/features/home/sections/model/const.ts
  app/features/search/panel/SearchPanel.vue
  server/api/greetings/index.get.ts
  server/domain/greetings/const/greetingsCharacters.ts
  server/domain/greetings/const/index.ts
  server/domain/greetings/dto/GreetingsResponse.ts
  server/domain/greetings/dto/index.ts
  server/domain/greetings/index.ts
  server/domain/greetings/model/GreetingsCharacter.ts
  server/domain/greetings/model/index.ts
  server/domain/greetings/repository/GreetingsRepository.ts
  server/domain/greetings/repository/index.ts
  server/domain/greetings/service/GreetingsService.ts
  server/domain/greetings/service/impl/GreetingsServiceImpl.ts
  server/domain/greetings/service/impl/index.ts
  server/domain/greetings/service/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: убрал проверку URL при редактировании
  app/shared/ui/editor/base-info/EditorBaseInfo.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: изменил урл раздела магических предметов
  app/features/magic-items/drawer/MagicItemDrawer.vue
  app/features/magic-items/editor/MagicItemEditor.vue
  app/pages/magic-items/[url].vue
  app/pages/magic-items/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: поправил подмену адреса после редактирования формы
  app/composables/useWorkshopForm.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: перенес правки по бестиарию со старого кита
  app/features/bestiary/body/CreatureBody.vue
  app/features/bestiary/body/ui/stats-block/StatsBlock.vue
  app/features/bestiary/editor/CreatureEditor.vue
  app/features/bestiary/editor/ui/CreatureLairEffects.vue
  app/features/bestiary/editor/ui/CreatureLegendaryActions.vue
  app/features/bestiary/editor/ui/index.ts
  app/features/bestiary/types/create.ts
  app/features/bestiary/types/detail.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

новая вкладка статей
  app/features/articles/body/ArticlesBody.vue
  app/features/articles/body/index.ts
  app/features/articles/body/ui/DescriptionsBlock.vue
  app/features/articles/body/ui/TopBar.vue
  app/features/articles/body/ui/index.ts
  app/features/articles/drawer/ArticlesDrawer.vue
  app/features/articles/drawer/index.ts
  app/features/articles/editor/ArticlesEditor.vue
  app/features/articles/editor/index.ts
  app/features/articles/legend/ArticlesLegend.vue
  app/features/articles/legend/index.ts
  app/features/articles/link/ArticlesLink.vue
  app/features/articles/link/index.ts
  app/features/articles/types/create.ts
  app/features/articles/types/detail.ts
  app/features/articles/types/index.ts
  app/features/articles/types/link.ts
  app/pages/articles/index.vue
  app/pages/articles/url.vue
  package-lock.json
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: поправил реакцию на ответ сервера при сохранении сущности
  app/composables/useWorkshopForm.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: добавил предпросмотр в редактор магических предметов
  app/features/bestiary/editor/CreatureEditor.vue
  app/features/magic-items/editor/MagicItemEditor.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: перезагрузка формы при сохранении
  app/composables/useWorkshopForm.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: включил бестиарий для пользователей
  app/features/home/sections/model/const.ts
  app/features/sidebar/menu/model/const.ts
  app/pages/bestiary/[url].vue
  app/pages/bestiary/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: поправил логово и детальник бестиария
  app/features/bestiary/body/CreatureBody.vue
  app/features/bestiary/editor/CreatureEditor.vue
  app/features/bestiary/editor/ui/CreatureLair.vue
  app/features/bestiary/editor/ui/index.ts
  app/features/bestiary/types/create.ts
  app/features/bestiary/types/detail.ts
  app/features/species/editor/SpeciesEditor.vue
  app/shared/ui/collapse/UiCollapse.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: поправил объединение форм
  app/composables/useWorkshopForm.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: добавил баннер в лайаут разделов и в бестиарии
  app/layouts/section.vue
  app/pages/bestiary/index.vue
  app/pages/index.d.ts
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: мелкие правки
  app/pages/bestiary/index.vue
  server/domain/greetings/const/greetingsCharacters.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: мелкие правки (#106)
  app/pages/bestiary/index.vue
  server/domain/greetings/const/greetingsCharacters.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: поправил закрытие галереи без закрытия дравера
  app/assets/css/index.scss
  app/assets/css/libraries/index.scss
  app/assets/css/libraries/lightgallery.scss
  app/features/bestiary/body/CreatureBody.vue
  app/shared/ui/drawer/UiDrawer.vue
  app/shared/ui/gallery/UiGallery.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: убил полоску у коллапса
  app/shared/ui/collapse/UiCollapse.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(item): предметы
  app/features/home/sections/model/const.ts
  app/features/items/body/ItemBody.vue
  app/features/items/body/index.ts
  app/features/items/body/ui/DescriptionsBlock.vue
  app/features/items/body/ui/StatsBlock.vue
  app/features/items/body/ui/TopBar.vue
  app/features/items/body/ui/index.ts
  app/features/items/drawer/ItemDrawer.vue
  app/features/items/drawer/index.ts
  app/features/items/editor/ItemEditor.vue
  app/features/items/editor/index.ts
  app/features/items/editor/ui/ItemType.vue
  app/features/items/editor/ui/index.ts
  app/features/items/legend/ItemLegend.vue
  app/features/items/legend/index.ts
  app/features/items/link/ItemLink.vue
  app/features/items/link/index.ts
  app/features/items/types/create.ts
  app/features/items/types/detail.ts
  app/features/items/types/index.ts
  app/features/items/types/link.ts
  app/features/sidebar/menu/model/const.ts
  app/pages/items/[url].vue
  app/pages/items/index.vue
  app/pages/workshop/items/[url].vue
  app/pages/workshop/items/create.vue
  app/pages/workshop/items/index.vue
  app/shared/api/dictionaries.ts
  app/shared/utils/validation/dictionaries.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(item): Предметы
  app/features/home/sections/model/const.ts
  app/features/workshop/section/SectionItem.vue
  app/features/workshop/section/index.ts
  app/pages/items/index.vue
  app/pages/workshop/index.vue
  app/shared/ui/drawer/collection/DrawerCollection.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(item): Предметы - решение конфликтов
  app/features/items/body/ItemBody.vue
  app/features/items/drawer/ItemDrawer.vue
  app/features/items/editor/ItemEditor.vue
  app/features/items/editor/ui/CoinsType.vue
  app/features/items/editor/ui/ItemType.vue
  app/features/items/link/ItemLink.vue
  app/features/workshop/section/SectionItem.vue
  app/pages/items/[url].vue
  app/pages/items/index.vue
  app/pages/workshop/items/[url].vue
  app/pages/workshop/items/create.vue
  app/pages/workshop/items/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(item): Предметы
  app/features/items/body/ItemBody.vue
  app/features/items/body/ui/TopBar.vue
  app/features/items/editor/ItemEditor.vue
  app/features/items/editor/ui/CoinsType.vue
  app/features/items/link/ItemLink.vue
  app/features/items/types/detail.ts
  app/features/items/types/link.ts
  app/pages/items/index.vue
  app/shared/api/dictionaries.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: изменения по листу в маркдауне
  app/shared/ui/markup/parser/parser.ts
  app/shared/ui/markup/renderer/renderList.ts
  app/shared/ui/markup/renderer/renderer.ts
  app/shared/ui/markup/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: поправил отображение логова и секции
  app/features/bestiary/body/CreatureBody.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Показывать легендарные действия только если есть количество
  app/features/bestiary/body/CreatureBody.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix
