Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

.lintstagedrc.json:

{
  "*.{cjs,js,ts,jsx,tsx,vue}": [
    "eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix"
  ],
  "*.{css,scss,vue}": [
    "stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix"
  ]
}

feat(lists): адаптивная панель группировки и сортировки в разделах
  app/features/bug-report/selection/ui/SelectionReportButton.vue
  app/features/infrastructure/filter/composable/useFilter.ts
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
  app/features/infrastructure/filter/schema.ts
  app/features/infrastructure/filter/utils/filterDependencies.ts
  app/features/infrastructure/filter/utils/filterParser.ts
  app/features/infrastructure/filter/utils/index.ts
  app/features/infrastructure/filter/utils/selection.ts
  app/features/infrastructure/list-presentation/composable/index.ts
  app/features/infrastructure/list-presentation/composable/useListPresentation.ts
  app/features/infrastructure/list-presentation/composable/useListPresentationMenus.ts
  app/features/infrastructure/list-presentation/model/constants.ts
  app/features/infrastructure/list-presentation/model/types.ts
  app/features/infrastructure/list-presentation/ui/ListPresentationControls.vue
  app/features/infrastructure/list-presentation/ui/index.ts
  app/features/spells/model/list.ts
  app/pages/bestiary/index.vue
  app/pages/magic-items/index.vue
  app/pages/spells/index.vue
  app/shared/ui/grouped-list/GroupedList.vue
  app/shared/ui/grouped-list/index.ts
  app/shared/ui/grouped-list/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

style(spells): исправить форматирование параметра в SpellClassGroup
  app/features/spells/groups/SpellClassGroup.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(lists): адаптивная панель группировки и сортировки в разделах (#305)
  app/features/bug-report/selection/ui/SelectionReportButton.vue
  app/features/infrastructure/filter/composable/useFilter.ts
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/list/ui/group/FilterGroup.vue
  app/features/infrastructure/filter/schema.ts
  app/features/infrastructure/filter/utils/filterDependencies.ts
  app/features/infrastructure/filter/utils/filterParser.ts
  app/features/infrastructure/filter/utils/index.ts
  app/features/infrastructure/filter/utils/selection.ts
  app/features/infrastructure/list-presentation/composable/index.ts
  app/features/infrastructure/list-presentation/composable/useListPresentation.ts
  app/features/infrastructure/list-presentation/composable/useListPresentationMenus.ts
  app/features/infrastructure/list-presentation/model/constants.ts
  app/features/infrastructure/list-presentation/model/types.ts
  app/features/infrastructure/list-presentation/ui/ListPresentationControls.vue
  app/features/infrastructure/list-presentation/ui/index.ts
  app/features/spells/groups/SpellClassGroup.vue
  app/features/spells/model/list.ts
  app/pages/bestiary/index.vue
  app/pages/magic-items/index.vue
  app/pages/spells/index.vue
  app/shared/ui/grouped-list/GroupedList.vue
  app/shared/ui/grouped-list/index.ts
  app/shared/ui/grouped-list/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(workshop): добавить восстановление форм из ревизий
  app/features/backgrounds/editor/BackgroundsEditor.vue
  app/features/bestiary/editor/CreatureEditor.vue
  app/features/classes/editor/ClassEditor.vue
  app/features/feats/editor/FeatsEditor.vue
  app/features/glossary/editor/GlossaryEditor.vue
  app/features/items/editor/ItemEditor.vue
  app/features/magic-items/editor/MagicItemEditor.vue
  app/features/species/editor/SpeciesEditor.vue
  app/features/spells/editor/SpellsEditor.vue
  app/features/workshop/composable/useWorkshopForm.ts
  app/features/workshop/revision/composable/index.ts
  app/features/workshop/revision/composable/useEntityRevisions.ts
  app/features/workshop/revision/model/constants.ts
  app/features/workshop/revision/model/index.ts
  app/features/workshop/revision/model/schemas.ts
  app/features/workshop/revision/model/types.ts
  app/features/workshop/revision/model/utils.ts
  app/features/workshop/revision/ui/RevisionSelect.vue
  app/features/workshop/revision/ui/WorkshopEditorFormControls.vue
  app/features/workshop/revision/ui/index.ts
  app/shared/ui/editor/EditorFormControls.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(workshop): выровнять управление формой в строку
  app/features/workshop/revision/ui/RevisionSelect.vue
  app/shared/ui/editor/EditorFormControls.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(workshop): загружать ревизии при открытии формы
  app/features/workshop/composable/useWorkshopForm.ts
  app/features/workshop/revision/composable/useEntityRevisions.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

refactor(workshop): убрать мёртвый код и уточнить типы ревизий
  app/features/workshop/revision/model/constants.ts
  app/features/workshop/revision/model/index.ts
  app/features/workshop/revision/model/types.ts
  app/features/workshop/revision/ui/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(bug-report): вынести баг-репорты в меню пользователя и открыть доступ модераторам
  app/composables/useUserRoles.ts
  app/features/home/community/HomeCommunity.vue
  app/features/user/helmet/UserHelmet.vue
  app/pages/admin/index.vue
  app/pages/bug-reports.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(markup-editor): различать чипы секционных ссылок и обычной ссылки в редакторе
  app/shared/ui/markup-editor/tiptap/render-chip.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(admin): переработка раздела пользователей + бейджи профиля
  app/features/admin/users/composables/index.ts
  app/features/admin/users/composables/useUserRedeemedCodes.ts
  app/features/admin/users/model/constants.ts
  app/features/admin/users/model/types.ts
  app/features/admin/users/ui/AdminUserDetail.vue
  app/features/admin/users/ui/AdminUserDetailPane.vue
  app/features/admin/users/ui/AdminUserRedeemedCodes.vue
  app/features/admin/users/ui/AdminUserRow.vue
  app/features/admin/users/ui/AdminUserSubscription.vue
  app/features/admin/users/ui/index.ts
  app/features/profile/activation/composables/index.ts
  app/features/profile/activation/composables/useProfileBadges.ts
  app/features/user/helmet/UserHelmet.vue
  app/features/user/helmet/ui/UserInfo.vue
  app/pages/admin/users.vue
  server/api/admin/subscriptions/[username]/codes.get.ts
  server/api/auth/users/index.get.ts
  server/utils/authAdminService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(admin): переработка раздела пользователей + бейджи профиля (#306)
  app/features/admin/users/composables/index.ts
  app/features/admin/users/composables/useUserRedeemedCodes.ts
  app/features/admin/users/model/constants.ts
  app/features/admin/users/model/types.ts
  app/features/admin/users/ui/AdminUserDetail.vue
  app/features/admin/users/ui/AdminUserDetailPane.vue
  app/features/admin/users/ui/AdminUserRedeemedCodes.vue
  app/features/admin/users/ui/AdminUserRow.vue
  app/features/admin/users/ui/AdminUserSubscription.vue
  app/features/admin/users/ui/index.ts
  app/features/profile/activation/composables/index.ts
  app/features/profile/activation/composables/useProfileBadges.ts
  app/features/user/helmet/UserHelmet.vue
  app/features/user/helmet/ui/UserInfo.vue
  app/pages/admin/users.vue
  server/api/admin/subscriptions/[username]/codes.get.ts
  server/api/auth/users/index.get.ts
  server/utils/authAdminService.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(spells): add level sorting option
  app/features/spells/model/list.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(bug-report): месячный рейтинг охотников за багами
  app/features/bug-report/model/types.ts
  app/features/home/community/HomeCommunity.vue
  app/features/home/community/model/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(bug-report): месячный рейтинг охотников за багами (#307)
  app/features/bug-report/model/types.ts
  app/features/home/community/HomeCommunity.vue
  app/features/home/community/model/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(spells): group by base school
  app/features/spells/model/list.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

docs(markup): гайд-стандарт по форматированию текста разметкой {@...}
  docs/markup-formatting-guide.md
Due: none

style(docs): формат гайда разметки под prettier
  docs/markup-formatting-guide.md
Due: none

docs(markup): гайд-стандарт по форматированию текста разметкой {@...} (#309)
  docs/markup-formatting-guide.md
Due: none

fix(markup-editor): не терять текст после таблицы/списка/цитаты при открытии в редакторе
  app/shared/ui/markup-editor/tiptap/block-tokenizer.ts
  app/shared/ui/markup-editor/tiptap/ttg-list.ts
  app/shared/ui/markup-editor/tiptap/ttg-quote.ts
  app/shared/ui/markup-editor/tiptap/ttg-table.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix(markup-editor): не терять текст после таблицы/списка/цитаты при открытии в редакторе (#310)
  app/shared/ui/markup-editor/tiptap/block-tokenizer.ts
  app/shared/ui/markup-editor/tiptap/ttg-list.ts
  app/shared/ui/markup-editor/tiptap/ttg-quote.ts
  app/shared/ui/markup-editor/tiptap/ttg-table.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix(spells): align active effect editor with vttg
  app/features/spells/editor/ui/SpellActiveEffectItem.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(articles): доработки раздела «Статьи и новости» — вкладки, Telegram, счётчик символов, фиксы редактора
  app/features/articles/admin/ArticleAdminRow.vue
  app/features/articles/admin/composables/useArticleAdmin.ts
  app/features/articles/editor/ArticleEditor.vue
  app/features/articles/model/constants.ts
  app/features/articles/model/types.ts
  app/features/home/news/HomeNews.vue
  app/features/workshop/composable/useWorkshopForm.ts
  app/pages/admin/articles/index.vue
  app/shared/ui/markup-editor/MarkupEditor.vue
  app/shared/ui/markup-editor/MarkupInsertPanel.vue
  app/shared/ui/markup-editor/tiptap/block-tokenizer.ts
  app/shared/ui/markup-editor/tiptap/ttg-list.ts
  app/shared/ui/markup-editor/tiptap/ttg-quote.ts
  app/shared/ui/markup-editor/tiptap/ttg-table.ts
  app/shared/ui/markup-editor/toolbar-items.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(articles): публикация новости в Discord + счётчик символов по каналам
  app/features/articles/admin/composables/useArticleAdmin.ts
  app/features/articles/editor/ArticleEditor.vue
  app/features/articles/model/constants.ts
  app/features/articles/model/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(articles): публикация новости во ВКонтакте + кнопка «Везде» и рефактор ряда каналов
  app/features/articles/admin/composables/useArticleAdmin.ts
  app/features/articles/editor/ArticleEditor.vue
  app/features/articles/model/constants.ts
  app/features/articles/model/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

docs(readme): убрать упоминание лендинга VTTG
  README.md
Due: none

style(project-map): выровнять markdown-таблицы под prettier
  PROJECT_MAP.md
Due: none

fix(articles): убрать лишний gap в теле записи (двойные отступы)
  app/features/articles/body/ArticleBody.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(seo): маркер редакции «2024» в title разделов
  app/pages/backgrounds/index.vue
  app/pages/bestiary/index.vue
  app/pages/classes/index.vue
  app/pages/feats/index.vue
  app/pages/glossary/index.vue
  app/pages/items/index.vue
  app/pages/magic-items/index.vue
  app/pages/sources/index.vue
  app/pages/species/index.vue
  app/pages/spells/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(markup-editor): редактируемые заголовки, единое выравнивание и дропдаун H
  app/features/articles/card/ArticleHero.vue
  app/shared/ui/markup-editor/MarkupEditor.vue
  app/shared/ui/markup-editor/tags.ts
  app/shared/ui/markup-editor/tiptap/block-tokenizer.ts
  app/shared/ui/markup-editor/tiptap/index.ts
  app/shared/ui/markup-editor/tiptap/marks.ts
  app/shared/ui/markup-editor/tiptap/node-utils.ts
  app/shared/ui/markup-editor/tiptap/ttg-heading.ts
  app/shared/ui/markup-editor/tiptap/ttg-list.ts
  app/shared/ui/markup-editor/tiptap/ttg-paragraph.ts
  app/shared/ui/markup-editor/tiptap/ttg-quote.ts
  app/shared/ui/markup-editor/tiptap/ttg-table.ts
  app/shared/ui/markup-editor/toolbar-items.ts
  app/shared/ui/markup/config.ts
  app/shared/ui/markup/index.ts
  app/shared/ui/markup/serializer.ts
  app/shared/ui/markup/types.ts
  app/shared/ui/markup/ui/MarkupHeading.vue
  app/shared/ui/markup/ui/MarkupParagraph.vue
  app/shared/ui/markup/ui/index.ts
  app/shared/ui/markup/utils.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: редактор разметки (нативные заголовки/выравнивание), SEO-маркер «2024» и фиксы UI статей (#314)
  app/features/articles/body/ArticleBody.vue
  app/features/articles/card/ArticleHero.vue
  app/pages/backgrounds/index.vue
  app/pages/bestiary/index.vue
  app/pages/classes/index.vue
  app/pages/feats/index.vue
  app/pages/glossary/index.vue
  app/pages/items/index.vue
  app/pages/magic-items/index.vue
  app/pages/sources/index.vue
  app/pages/species/index.vue
  app/pages/spells/index.vue
  app/shared/ui/markup-editor/MarkupEditor.vue
  app/shared/ui/markup-editor/tags.ts
  app/shared/ui/markup-editor/tiptap/block-tokenizer.ts
  app/shared/ui/markup-editor/tiptap/index.ts
  app/shared/ui/markup-editor/tiptap/marks.ts
  app/shared/ui/markup-editor/tiptap/node-utils.ts
  app/shared/ui/markup-editor/tiptap/ttg-heading.ts
  app/shared/ui/markup-editor/tiptap/ttg-list.ts
  app/shared/ui/markup-editor/tiptap/ttg-paragraph.ts
  app/shared/ui/markup-editor/tiptap/ttg-quote.ts
  app/shared/ui/markup-editor/tiptap/ttg-table.ts
  app/shared/ui/markup-editor/toolbar-items.ts
  app/shared/ui/markup/config.ts
  app/shared/ui/markup/index.ts
  app/shared/ui/markup/serializer.ts
  app/shared/ui/markup/types.ts
  app/shared/ui/markup/ui/MarkupHeading.vue
  app/shared/ui/markup/ui/MarkupParagraph.vue
  app/shared/ui/markup/ui/index.ts
  app/shared/ui/markup/utils.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: редактор разметки (нативные заголовки/выравнивание), SEO-маркер «2024» и фиксы UI статей (#314) (#315)
  app/features/articles/body/ArticleBody.vue
  app/features/articles/card/ArticleHero.vue
  app/pages/backgrounds/index.vue
  app/pages/bestiary/index.vue
  app/pages/classes/index.vue
  app/pages/feats/index.vue
  app/pages/glossary/index.vue
  app/pages/items/index.vue
  app/pages/magic-items/index.vue
  app/pages/sources/index.vue
  app/pages/species/index.vue
  app/pages/spells/index.vue
  app/shared/ui/markup-editor/MarkupEditor.vue
  app/shared/ui/markup-editor/tags.ts
  app/shared/ui/markup-editor/tiptap/block-tokenizer.ts
  app/shared/ui/markup-editor/tiptap/index.ts
  app/shared/ui/markup-editor/tiptap/marks.ts
  app/shared/ui/markup-editor/tiptap/node-utils.ts
  app/shared/ui/markup-editor/tiptap/ttg-heading.ts
  app/shared/ui/markup-editor/tiptap/ttg-list.ts
  app/shared/ui/markup-editor/tiptap/ttg-paragraph.ts
  app/shared/ui/markup-editor/tiptap/ttg-quote.ts
  app/shared/ui/markup-editor/tiptap/ttg-table.ts
  app/shared/ui/markup-editor/toolbar-items.ts
  app/shared/ui/markup/config.ts
  app/shared/ui/markup/index.ts
  app/shared/ui/markup/serializer.ts
  app/shared/ui/markup/types.ts
  app/shared/ui/markup/ui/MarkupHeading.vue
  app/shared/ui/markup/ui/MarkupParagraph.vue
  app/shared/ui/markup/ui/index.ts
  app/shared/ui/markup/utils.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(home): редизайн реплики персонажа на главной
  app/features/home/greetings/HomeGreetings.vue
  app/features/infrastructure/search/panel/SearchPanel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(editor): редактируемые вложенные таблицы/списки в ячейках таблицы
  app/shared/ui/markup-editor/tiptap/block-tokenizer.ts
  app/shared/ui/markup-editor/tiptap/ttg-table.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix(home): высота блока приветствия персонажа 180px
  app/features/home/greetings/HomeGreetings.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(home): блок последних статей на главной
  app/features/articles/model/constants.ts
  app/features/home/articles/HomeArticles.vue
  app/features/home/articles/index.ts
  app/pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(home): порядок блоков главной на мобильном (новости/статьи/обновления после статистики)
  app/pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(initiative): трекер инициативы D&D 5 — сборка энкаунтера и бой по ходам
  .agents/skills/ripgrep/SKILL.md
  .agents/skills/search-first/SKILL.md
  app/features/infrastructure/sidebar/menu/model/const.ts
  app/features/initiative/composables/index.ts
  app/features/initiative/composables/useCreatureDrawer.ts
  app/features/initiative/composables/useCreatureImages.ts
  app/features/initiative/composables/useCreatureSearch.ts
  app/features/initiative/composables/useInitiativeStorage.ts
  app/features/initiative/composables/useTrackerList.ts
  app/features/initiative/composables/useTrackerWorkspace.ts
  app/features/initiative/list/InitiativeTrackerList.vue
  app/features/initiative/list/index.ts
  app/features/initiative/list/ui/TrackerCreateCard.vue
  app/features/initiative/list/ui/TrackerListItem.vue
  app/features/initiative/list/ui/index.ts
  app/features/initiative/model/api.ts
  app/features/initiative/model/constants.ts
  app/features/initiative/model/index.ts
  app/features/initiative/model/schemas.ts
  app/features/initiative/model/types.ts
  app/features/initiative/model/utils.ts
  app/features/initiative/ui-kit/ConfirmDialog.vue
  app/features/initiative/ui-kit/InitiativeDie.vue
  app/features/initiative/ui-kit/index.ts
  app/features/initiative/workspace/InitiativeTrackerWorkspace.vue
  app/features/initiative/workspace/index.ts
  app/features/initiative/workspace/ui/CreatureAddForm.vue
  app/features/initiative/workspace/ui/InitiativeReel.vue
  app/features/initiative/workspace/ui/InitiativeReelSkeleton.vue
  app/features/initiative/workspace/ui/ParticipantAvatar.vue
  app/features/initiative/workspace/ui/ParticipantRollControl.vue
  app/features/initiative/workspace/ui/ParticipantRow.vue
  app/features/initiative/workspace/ui/PlayerAddForm.vue
  app/features/initiative/workspace/ui/TrackerAddPanel.vue
  app/features/initiative/workspace/ui/TrackerBoard.vue
  app/features/initiative/workspace/ui/TrackerHeader.vue
  app/features/initiative/workspace/ui/index.ts
  app/pages/tools/initiative/[id].vue
  app/pages/tools/initiative/index.vue
  skills-lock.json
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix
