Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(filter): константы поиска в model, дебаунс и пустое состояние
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/filter/drawer/FilterDrawer.vue
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/model/const.ts
  app/features/infrastructure/filter/model/index.ts
  app/features/infrastructure/filter/utils/filterSearch.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(filter): поиск по группам и значениям фильтров
  app/features/infrastructure/filter/drawer/FilterDrawer.vue
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/utils/filterSearch.ts
  app/features/infrastructure/filter/utils/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(search): палитра глобального поиска создаётся один раз на приложение
  app/features/infrastructure/search/composable/useGlobalSearch.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix(ui): контент не сдвигается при открытии диалога
  app/app.config.ts
  app/assets/css/tailwind.css
  app/features/dice-roller/float-button/DiceRollerFloatButton.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

docs(agents): критерий выбора createSharedComposable и createGlobalState
  AGENTS.md
Due: none

fix(ui): признак блокировки скролла — свой атрибут вместо чужих стилей
  app/assets/css/global.scss
  app/assets/css/tailwind.css
  app/features/dice-roller/modal/DiceRollerModal.vue
  app/plugins/scrollbarWidth.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

docs(search): граница гарантии createSharedComposable в JSDoc
  app/features/infrastructure/search/composable/useGlobalSearch.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(character-sheet): набор характеристик как в калькуляторе (#387)
  PROJECT_MAP.md
  app/features/calculator/abilities/CalculatorAbilities.vue
  app/features/calculator/abilities/CalculatorAbilityScores.vue
  app/features/calculator/abilities/index.ts
  app/features/calculator/abilities/ui/tabs/StandardArray.vue
  app/features/character-sheet/body/CharacterSheetBody.vue
  app/features/character-sheet/body/ui/SheetAbilityScoresModal.vue
  app/features/character-sheet/body/ui/SheetHeader.vue
  app/features/character-sheet/body/ui/index.ts
  app/features/character-sheet/composables/useCharacterSheet.ts
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(ui): контент не сдвигается при открытии диалога (#376)
  app/app.config.ts
  app/assets/css/global.scss
  app/assets/css/tailwind.css
  app/features/dice-roller/float-button/DiceRollerFloatButton.vue
  app/features/dice-roller/modal/DiceRollerModal.vue
  app/plugins/scrollbarWidth.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(search): палитра глобального поиска создаётся один раз на приложение (#377)
  AGENTS.md
  app/features/infrastructure/search/composable/useGlobalSearch.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(filter): поиск по группам и значениям фильтров (#379)
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/filter/drawer/FilterDrawer.vue
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/model/const.ts
  app/features/infrastructure/filter/model/index.ts
  app/features/infrastructure/filter/utils/filterSearch.ts
  app/features/infrastructure/filter/utils/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(character-sheet): пункт меню и плитки калькулятора характеристик
  PROJECT_MAP.md
  app/features/calculator/abilities/ui/tabs/PointBuy.vue
  app/features/calculator/abilities/ui/tabs/RandomRoll.vue
  app/features/calculator/abilities/ui/tabs/StandardArray.vue
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(ui): контент не сжимается при открытии меню и диалогов
  app/assets/css/global.scss
  app/assets/css/tailwind.css
  app/plugins/scrollbarWidth.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(character-sheet): правки по ревью набора характеристик
  PROJECT_MAP.md
  app/features/calculator/abilities/CalculatorAbilityScores.vue
  app/features/calculator/abilities/ui/ScoreDisplay.vue
  app/features/calculator/abilities/ui/components/FeatSlot.vue
  app/features/calculator/abilities/ui/tabs/PointBuy.vue
  app/features/calculator/abilities/ui/tabs/RandomRoll.vue
  app/features/calculator/abilities/ui/tabs/StandardArray.vue
  app/features/character-sheet/body/ui/SheetAbilityScoresModal.vue
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/utils.ts
  app/pages/calculators/abilities/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(filter): крестик очистки в поиске фильтров и правки по ревью
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/filter/drawer/FilterDrawer.vue
  app/features/infrastructure/filter/list/FilterList.vue
  app/features/infrastructure/filter/model/const.ts
  app/features/infrastructure/filter/model/index.ts
  app/features/infrastructure/filter/search-input/FilterSearchInput.vue
  app/features/infrastructure/filter/search-input/index.ts
  app/features/infrastructure/filter/utils/filterSearch.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(search): правки по ревью глобального поиска
  AGENTS.md
  app/features/infrastructure/search/button/SearchButton.vue
  app/features/infrastructure/search/palette/SearchPalette.vue
  app/features/infrastructure/search/panel/SearchPanel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(search): нормализация запроса внутри хелпера раскладки
  app/utils/withLayoutFallback.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(character-sheet): поиск черт с фолбэком по раскладке
  app/features/character-sheet/body/ui/SheetFeatAddModal.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(search): общий хелпер поиска с фолбэком по раскладке
  app/features/character-sheet/body/ui/SheetItemAddModal.vue
  app/features/character-sheet/body/ui/SheetMagicItemAddModal.vue
  app/features/character-sheet/composables/useSpellCatalogSearch.ts
  app/utils/withLayoutFallback.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(filter): фолбэк по раскладке в группе с выбранными значениями
  app/features/infrastructure/filter/utils/filterSearch.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

docs(search): сжатие комментариев вокруг фолбэка по раскладке
  app/features/infrastructure/filter/utils/filterSearch.ts
  app/utils/withLayoutFallback.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

refactor(list-presentation): константы оформления и явные типы
  app/composables/useBreakpoints.ts
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/list-presentation/composable/useListViewMode.ts
  app/features/infrastructure/list-presentation/model/constants.ts
  app/features/infrastructure/list-presentation/model/types.ts
  app/features/infrastructure/list-presentation/view-mode/ListViewModeSwitch.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(grouped-list): дедупликация расчётов виртуального списка
  app/shared/ui/grouped-list/GroupedList.vue
  app/shared/ui/grouped-list/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(grouped-list): позиция скролла при смене раскладки
  PROJECT_MAP.md
  app/composables/useBreakpoints.ts
  app/features/infrastructure/list-presentation/model/constants.ts
  app/features/infrastructure/list-presentation/model/types.ts
  app/features/infrastructure/list-presentation/view-mode/ListViewModeSwitch.vue
  app/shared/ui/grouped-list/GroupedList.vue
  app/shared/ui/grouped-list/constants.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(list-presentation): переключатель вида списка — сеткой или одной колонкой
  app/assets/css/tailwind.css
  app/assets/css/variables/breakpoints.scss
  app/composables/useBreakpoints.ts
  app/features/infrastructure/filter/controls/FilterControls.vue
  app/features/infrastructure/list-presentation/composable/index.ts
  app/features/infrastructure/list-presentation/composable/useListViewMode.ts
  app/features/infrastructure/list-presentation/model/constants.ts
  app/features/infrastructure/list-presentation/model/types.ts
  app/features/infrastructure/list-presentation/view-mode/ListViewModeSwitch.vue
  app/features/infrastructure/list-presentation/view-mode/index.ts
  app/features/spells/groups/SpellClassGroup.vue
  app/features/spells/model/search.ts
  app/pages/backgrounds/index.vue
  app/pages/bestiary/index.vue
  app/pages/feats/index.vue
  app/pages/glossary/index.vue
  app/pages/items/index.vue
  app/pages/magic-items/index.vue
  app/pages/spells/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(markdown): правки по ревью — дедупликация хелперов и экранирование
  app/features/backgrounds/drawer/BackgroundDrawer.vue
  app/features/backgrounds/model/markdown.ts
  app/features/bestiary/drawer/CreatureDrawer.vue
  app/features/bestiary/model/markdown.ts
  app/features/feats/drawer/FeatDrawer.vue
  app/features/feats/model/markdown.ts
  app/features/glossary/drawer/GlossaryDrawer.vue
  app/features/items/drawer/ItemDrawer.vue
  app/features/items/model/markdown.ts
  app/features/magic-items/drawer/MagicItemDrawer.vue
  app/features/sources/drawer/SourceDrawer.vue
  app/features/sources/types/markdown.ts
  app/features/species/drawer/SpeciesDrawer.vue
  app/features/species/model/markdown.ts
  app/features/spells/drawer/SpellDrawer.vue
  app/features/spells/model/markdown.ts
  app/pages/backgrounds/[url].vue
  app/pages/bestiary/[url].vue
  app/pages/feats/[url].vue
  app/pages/glossary/[url].vue
  app/pages/items/[url].vue
  app/pages/magic-items/[url].vue
  app/pages/sources/[url].vue
  app/pages/species/[url].vue
  app/pages/spells/[url].vue
  app/shared/ui/copy-button/CopyMarkdownButton.vue
  app/shared/ui/drawer/UiDrawer.vue
  app/shared/ui/drawer/ui/actions/DrawerActions.vue
  app/shared/ui/markup/config.ts
  app/shared/ui/markup/index.ts
  app/shared/ui/markup/markdown-entity.ts
  app/shared/ui/markup/parser.ts
  app/shared/ui/markup/to-markdown.ts
  app/shared/ui/markup/utils.ts
  app/shared/ui/page/PageActions.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(markdown): правки по второму ревью — экранирование ячеек и подпись перед списком
  app/features/bestiary/body/CreatureBody.vue
  app/features/bestiary/model/detail.ts
  app/features/bestiary/model/markdown.ts
  app/features/spells/model/markdown.ts
  app/shared/ui/markup/index.ts
  app/shared/ui/markup/to-markdown.ts
  app/shared/ui/markup/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(initiative): состояния плиткой в ряду статов и панель добавления в один ряд
  app/features/initiative/model/constants.ts
  app/features/initiative/workspace/ui/CreatureAddForm.vue
  app/features/initiative/workspace/ui/ParticipantConditions.vue
  app/features/initiative/workspace/ui/ParticipantRow.vue
  app/features/initiative/workspace/ui/PlayerAddForm.vue
  app/features/initiative/workspace/ui/SheetPlayerAddForm.vue
  app/features/initiative/workspace/ui/TrackerAddPanel.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

docs(markdown): почему `toCaption` не трогает частично выделенную подпись
  app/shared/ui/markup/to-markdown.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(admin): разделить онлайн VTTG на приложения и столы
  app/features/admin/online/model/constants.ts
  app/features/admin/online/ui/AdminOnlineStats.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

refactor(admin): карточка онлайна VTTG не выбивается по высоте
  app/features/admin/online/model/constants.ts
  app/features/admin/online/model/index.ts
  app/features/admin/online/model/types.ts
  app/features/admin/online/model/utils.ts
  app/features/admin/online/ui/AdminOnlineAppCard.vue
  app/features/admin/online/ui/AdminOnlineStats.vue
  app/features/admin/online/ui/index.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(character-sheet): полоса опыта с разрывом под подпись и градиентом
  app/features/character-sheet/body/ui/SheetHeader.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(logo): палитра VTTG для тёмной темы
  app/assets/css/colors/dark.scss
  app/assets/css/colors/light.scss
  app/assets/css/colors/svifty7.scss
  app/shared/ui/icon/SvgLogo.vue
  public/favicons/128x128.png
  public/favicons/192x192.png
  public/favicons/384x384.png
  public/favicons/48x48.png
  public/favicons/512x512.png
  public/favicons/72x72.png
  public/favicons/96x96.png
  public/favicons/apple-touch-icon.png
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(articles): выбор пинга в Discord при публикации новости
  app/features/articles/editor/ArticleEditor.vue
  app/features/articles/model/constants.ts
  app/features/articles/model/types.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(layout): широкая ширина сайта по умолчанию для новых пользователей
  app/composables/useLayoutWidth.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix(character-sheet): отступ содержимого вкладок от полосы прокрутки
  app/features/character-sheet/body/ui/SheetInventoryTabs.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix(character-sheet): плитка истощения не наплывает на соседнюю колонку в PDF
  app/features/character-sheet/model/pdf/constants.ts
  app/features/character-sheet/model/pdf/page-main.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat(character-sheet): подтверждение удаления особенности
  app/features/character-sheet/body/ui/SheetFeaturesTab.vue
  app/features/character-sheet/model/constants.ts
  app/features/character-sheet/model/utils.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(feats): редактор механики черты и разобранного предусловия
  app/features/calculator/abilities/composables/useFeatSelect.ts
  app/features/calculator/abilities/model/types.ts
  app/features/feats/editor/FeatsEditor.vue
  app/features/feats/editor/ui/FeatAbilityBonuses.vue
  app/features/feats/editor/ui/FeatAbilityRequirements.vue
  app/features/feats/editor/ui/FeatChoices.vue
  app/features/feats/editor/ui/FeatModifiers.vue
  app/features/feats/editor/ui/FeatPrerequisiteFields.vue
  app/features/feats/editor/ui/index.ts
  app/features/feats/model/constants.ts
  app/features/feats/model/create.ts
  app/features/feats/model/index.ts
  app/features/feats/model/mechanics.ts
  app/features/feats/model/schema.ts
  app/features/feats/model/transform.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Path conditions:
  eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix: any of: *.{cjs,js,ts,jsx,tsx,vue}
  stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix: any of: *.{css,scss,vue}
