Repository TTG-Club/core-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

.lintstagedrc.json:

{
  "*.{cjs,js,ts,jsx,tsx,vue}": [
    "eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix"
  ],
  "*.{css,scss,vue}": [
    "stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix"
  ]
}

update core
  .editorconfig
  .eslintignore
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.js
  app.vue
  assets/styles/global.scss
  assets/styles/index.scss
  assets/styles/root/colors.scss
  components/layout/default.vue
  components/nav/bar.vue
  components/nav/popover.vue
  components/svg/icon.vue
  components/svg/logo.vue
  composables/useTheme.ts
  eslint.config.js
  eslint.config.mjs
  lint-staged.config.js
  nuxt.config.ts
  package-lock.json
  package.json
  pages/index.vue
  stylelint.config.js
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

update core
  .gitignore
  app.vue
  assets/styles/ant.scss
  assets/styles/index.scss
  assets/styles/root/breakpoints.scss
  assets/styles/root/colors.scss
  assets/styles/root/index.scss
  assets/styles/root/typography.scss
  assets/styles/variables/mixins.scss
  components/auth/changePassowrd.vue
  components/auth/modal.vue
  components/auth/signIn.vue
  components/auth/signUp.vue
  components/layout/default.vue
  components/nav/bar.vue
  components/nav/popover.vue
  components/svg/icon.vue
  components/svg/logo.vue
  composables/useTheme.ts
  eslint.config.js
  lint-staged.config.js
  nuxt.config.ts
  package-lock.json
  package.json
  pages/index.vue
  prettier.config.js
  public/img/bg-login.png
  stylelint.config.js
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feature/index-page: add search button
  components/nav/bar.vue
  components/search/search.vue
  components/svg/icon.vue
  nuxt.config.ts
  pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: created registration
  app.vue
  assets/icons/profile/base/move.svg
  assets/styles/root/animation.scss
  assets/styles/root/breakpoints.scss
  assets/styles/root/index.scss
  components/auth/modal.vue
  components/auth/signUp.vue
  composables/useApi.ts
  error.vue
  eslint.config.js
  nuxt.config.ts
  package-lock.json
  package.json
  plugins/api.ts
  server/api/v2/auth/exist.post.ts
  server/api/v2/auth/signUp.post.ts
  server/models/User.ts
  server/routes/auth/verify.get.ts
  server/utils/jwtToken.ts
  utils/const.ts
  utils/validation/auth.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: created server auth
  app.vue
  components/auth/modal.vue
  components/auth/signUp.vue
  error.vue
  nuxt.config.ts
  package-lock.json
  package.json
  server/api/v2/auth/signIn.post.ts
  server/api/v2/auth/signUp.post.ts
  server/routes/auth/verify.get.ts
  server/utils/jwtToken.ts
  utils/const.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: created frontend auth
  components/auth/modal.vue
  components/auth/signIn.vue
  components/auth/signUp.vue
  composables/useApi.ts
  composables/useTheme.ts
  nuxt.config.ts
  plugins/api.ts
  public/_robots.txt
  server/api/v2/auth/sign-in.post.ts
  server/api/v2/auth/sign-up.post.ts
  server/routes/auth/verify.get.ts
  server/utils/jwt.ts
  server/utils/jwtToken.ts
  utils/const.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore: some fixes
  components/auth/signIn.vue
  components/auth/signUp.vue
  composables/useApi.ts
  plugins/api.ts
  utils/validation/auth.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore: created origin getter on server
  package.json
  plugins/api.ts
  server/api/v2/auth/sign-in.post.ts
  server/api/v2/auth/sign-up.post.ts
  server/routes/auth/verify.get.ts
  server/utils/getRequestOrigin.ts
  server/utils/jwt.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

chore: added security
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: proxy to api added
  nuxt.config.ts
  server/api/v2/auth/sign-in.post.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feature/index-page: add search button
  components/nav/bar.vue
  components/search/search.vue
  components/svg/icon.vue
  pages/index.vue
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore: upgrade
  app.vue
  assets/styles/ant.scss
  components/auth/modal.vue
  components/layout/default.vue
  components/nav/bar.vue
  components/nav/button/theme.vue
  components/nav/button/user.vue
  composables/useProxy.ts
  error.vue
  layouts/empty.vue
  layouts/section/one-column.vue
  nuxt.config.ts
  package-lock.json
  package.json
  pages/index.vue
  pages/species/[url].vue
  pages/species/index.vue
  pages/user/profile/index.vue
  plugins/proxy.ts
  server/api/v2/auth/exist.get.ts
  server/api/v2/auth/exist.post.ts
  server/api/v2/auth/sign-in.post.ts
  server/models/User.ts
  utils/icons.ts
  utils/validation/auth.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: icons dir
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

chore: update eslint
  app/components/auth/modal.vue
  app/components/auth/signIn.vue
  app/components/auth/signUp.vue
  app/plugins/api.ts
  app/utils/validation/auth.ts
  eslint.config.js
  package-lock.json
  package.json
  server/api/v2/auth/exist.get.ts
  server/api/v2/auth/sign-in.post.ts
  server/models/User.ts
  server/utils/jwt.ts
  shared/utils/const.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fixes & deps
  app/pages/user/profile/index.vue
  app/plugins/api.ts
  eslint.config.js
  nuxt.config.ts
  package-lock.json
  package.json
  server/api/auth/exist.get.ts
  server/api/auth/sign-in.post.ts
  server/api/auth/sign-up.post.ts
  server/api/user/profile.get.ts
  server/api/v2/auth/exist.get.ts
  server/middleware/001.validateAuthToken.ts
  server/models/User.ts
  server/routes/auth/verify.get.ts
  server/utils/getUserFromToken.ts
  server/utils/jwt.ts
  shared/types/user.ts
  shared/zod/user.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: created ci/cd
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  Dockerfile
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: sign-up form validation
  server/api/auth/sign-up.post.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

feat: added alias
  .github/workflows/deploy.yml
Due: none

fix: turn off `writeEarlyHints`
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

Revert "fix: turn off `writeEarlyHints`"
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: keepalive timeout
  Dockerfile
Due: none

fix: keepalive timeout
  .github/workflows/deploy.yml
  Dockerfile
Due: none

fix: keepalive timeout
  .github/workflows/deploy.yml
Due: none

fix: preset
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: test
  server/api/auth/sign-in.post.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: test
  .github/workflows/deploy.yml
  Dockerfile
Due: none

fix: test
  .github/workflows/deploy.yml
Due: none

fix: test
  nuxt.config.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix

fix: test
  server/api/auth/sign-up.post.ts
Due: eslint --cache --cache-strategy content --ignore-pattern .eslintignore --quiet --fix
